﻿@model List<IBI.Shared.Models.BusTree.Client>
@{
    Layout = null;
 }
  
 <div class="input-table" style="width:99%; text-align:left;">
 <table>
     <tr>
         <td class="title left">MAC</td>
         <td class="title left">Customer</td>
         <td class="title left">Bus Number</td>
         <td class="title left">Component</td>
         <td class="title left">Last Online</td>
     </tr>
     @{
        if (Model == null || Model.Count <= 0)
        {   
            <tr>
                <td style="width:15%; text-align:center;" colspan="5">No record found</td>
            </tr>
        }
        else
        {
            foreach (var busClient in Model)    
            {
                <tr>
                    @*<td class="title">Bus Number:</td>*@
                    <td style="width:15%; text-align:left;">@busClient.MacAddress</td>
                    <td style="width:15%; text-align:left;">@busClient.CustomerId</td>
                    <td style="width:15%; text-align:left;">@busClient.BusNumber</td>
                    <td style="width:15%; text-align:left;">@busClient.ClientType</td>
                    <td style="width:15%; text-align:left;">@busClient.LastPing</td>
                </tr>
            }
        }
     }
 </table>
 </div>