﻿@model  IBI.Web.ViewModels.Admin.Destinations.SignDataModel


@using Kendo.Mvc.UI
@using MvcContrib.Pagination
@using MvcContrib.Sorting 
@using MvcContrib.UI.Grid
@using IBI.Web.Common
@using System.Collections
@using System.Data
@using IBI.Shared.Models.Signs
@using System.Xml.Linq

@{
    ViewBag.Title = "Mermaid IBI - SignData Status";
    Layout = null;
}
    
    <script src="@Url.Content("~/Scripts/kendo/kendo.web.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/kendo/kendo.aspnetmvc.min.js")" type="text/javascript"></script> 

    <link href="@Url.Content("~/Content/kendo/kendo.common.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/kendo.default.min.css")" rel="stylesheet" type="text/css" /> 

    <link href="@Url.Content("~/Content/template/table-grid.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/template/general.css")" rel="stylesheet" type="text/css" />


    <script>
        function ShowScreenshotsSignData(layoutId, layout, image) {

            var window = $("#ScreenshotSignDataWindow").data("kendoWindow");
            window.title(false);
            $("#ScreenshotSignDataWindow").parent().css("padding-top", "0px");

            $("#ScreenshotSignDataWindow").css("overflow", "hidden");
            $("#ScreenshotSignDataWindow").css("background-color", "#ddd");
            window.center().open().content("<div style='text-align: left; height: 100px'>Please Wait...</div>");
            window.refresh({
                url: "@Url.Action("SignDataFrame", "SignData")",
                data: {
                    LayoutId:layoutId,
                    LayoutCurrent: layout,
                    Base64Image: image
                }
            });
        }

        function OpenSignImageEditor(signId, layoutId, graphicRuleId) {
            var window = $("#SignImageEditor").data("kendoWindow");
            window.title(false);
            $("#SignImageEditor").parent().css("padding-top", "0px");

            $("#SignImageEditor").css("overflow", "hidden");
            $("#SignImageEditor").css("background-color", "#ddd");
            window.center().open().content("<div style='text-align: left; height: 100px'>Please Wait...</div>");
            window.refresh({
                url: "@Url.Action("SignImageEditor", "SignData")",
                data: {
                    signId : signId, 
                    layoutId : layoutId,
                    graphicRuleId : graphicRuleId
                }
            });
        }

        function RefreshMe(id) {
            window.$("#SignImageEditor").data("kendoWindow").close();
            ShowDestinationImages(id);
        }

    </script>

<style>
    .PixelRow {
        height: 2px;
    }
    .PixelImage {
       display: inline-block;
       padding-right: 2px;
    }
    .Content {
        color:red;
        padding: 10px;
        font-weight: bold;
    }
    .spacer
	{
		padding-top: 6px;
	}

     .OFFCell{
		background-color: black; 
		width: 2px; 
		height: 2px;
		float:left;
	}
</style>


<!--Kendo UI Window -> used for both Buses and Group's detail-->

    @(Html.Kendo().Window()
        .Visible(false)
        .Name("ScreenshotSignDataWindow")
        .Modal(false)            
        .Scrollable(false)            
        .Draggable() 
        .Width(720)
        .Height(250)
    )

    @(Html.Kendo().Window()
        .Visible(false)
        .Name("SignImageEditor")
        .Modal(false)
        .Scrollable(false)
        .Title("Destination Signs")
        .Draggable()
        .Width(1100)
        .Height(690)
    )
    <!-- Searched Results - start -->   
    @{
        <b style ="font-size:12px;">Line :  @Model.Line.Trim() </b> <div class='spacer'></div>
        <b style ="font-size:12px;">Main Text : @(Model.MainText != null ? Model.MainText.Trim() : "")</b> <div class='spacer'></div>
        <b style ="font-size:12px;">Sub Text : @(Model.SubText != null ? Model.SubText.Trim() : "")</b> <div class='spacer'></div><hr size='1' />
        List<SignXmlLayout> signXmlLayouts = Model.SignXmlLayout;
        if (signXmlLayouts != null)
        {
            if (signXmlLayouts.Count > 0)
            {
                foreach (var signXmlLayout in signXmlLayouts)
                {
                    <div class='spacer'></div><b style ="font-size:12px;"><u>@(signXmlLayout.Type + "-  " + signXmlLayout.Width + "× " + signXmlLayout.Height + "  " + signXmlLayout.Manufacturer + "  -  " + signXmlLayout.Technology)</u></b><div class="spacer"></div>
                    SignXmlData[] signXmlDatas = signXmlLayout.Signs;
                    int index = 0;
                    string sbOutput = "";
                    int i = 0;
                    if (signXmlDatas != null && signXmlDatas.Length > 0)
                    {
                        foreach (SignXmlData signXmlData in signXmlDatas)
                        {
                            XDocument xdoc = XDocument.Parse(signXmlData.Base64.ToString());
                            
                            var base64Images = (from x in xdoc.Descendants("image")
                                                    select new
                                                    {
                                                        base64 =  x.Attribute("base64").Value,
                                                        base64View = (x.Attribute("base64View") == null ? Convert.ToBase64String(IBI.Shared.AppUtility.ConvertBase64toLEDImage(x.Attribute("base64").Value)) : x.Attribute("base64View").Value),
                                                        base64ViewLarge = (x.Attribute("base64ViewLarge") == null ? Convert.ToBase64String(IBI.Shared.AppUtility.ConvertBase64toLEDImageLarge(x.Attribute("base64").Value)) : x.Attribute("base64ViewLarge").Value)
                                                    }
                                               ).ToList();
                            foreach (var base64Image in base64Images)
                            {
                                if (index == 0)
                                {
                                    sbOutput += "<div>";
                                }
                                sbOutput += "<div class='PixelImage'><a href='javascript:void(0);' onclick=\"ShowScreenshotsSignData(" + signXmlLayout.LayoutId + ",'" + signXmlLayout.Type + "-  " + signXmlLayout.Width + "× " + signXmlLayout.Height + "  " + signXmlLayout.Manufacturer + "  -  " + signXmlLayout.Technology + "','" + i + "')\"><img src='data:image/png;base64," + base64Image.base64View + "'/></a></div>";
                                index = (index + 1) % 3;
                                if (index == 0)
                                {
                                    sbOutput += "</div>";
                                }
                                i++;
                            }
                            sbOutput += "<div class='spacer'></div> <a href='javascript:void(0);' onclick=\"OpenSignImageEditor(" + signXmlLayout.Signs.FirstOrDefault().ContentId + "," + signXmlLayout.LayoutId + "," + signXmlLayout.GraphicRuleId + ")\" class='GrayButton'>Edit</a>";
                            if (index != 0)
                            {
                                sbOutput += "</div>";
                            }
                            
                        }
                    }
                    else
                    {
                        sbOutput += "<div  class='Content'><b>There are no images available</b></div>";
                        sbOutput += "<div class='spacer'></div><a href='javascript:void(0);' onclick=\"OpenSignImageEditor(" + signXmlLayout.Signs.FirstOrDefault().ContentId + "," + signXmlLayout.LayoutId + "," + signXmlLayout.GraphicRuleId + ")\" class='GrayButton'>Edit</a>";
                    }
                    sbOutput += "<div class='spacer'></div><hr size='1' /><div class='spacer'></div>";
                    @Html.Raw(sbOutput);
                }
            }
            else
            {
                <div class="Content" >There are no images available</div> 
            }
        }
        else
        {
            <div class="Content">There are no images available</div> 
        }
    }
    
