﻿@model  IBI.Web.ViewModels.Admin.Destinations.ManualSignDataModel
@using IBI.Web.ViewModels.Admin.Destinations
@using IBI.Shared.Models.Signs
@{
    List<SignDataImageItem> Signs = Model.Signs;
}
<div class="spacer"></div>
<div class="spacer"></div>
<div class="spacer"></div>
<div class="spacer"></div>
<div class="spacer"></div>
<div class="spacer"></div>
<div class="spacer"></div>
<div class="spacer"></div>
<table border="0" style="border-collapse:collapse;width:100%;">
    <tr>
        <td style="vertical-align: top">
            <div style="height: 50px;"></div>
            <div style="position:relative;top:0px;text-align: right;">
                @{
                    if (Signs.Count <= 1)
                    {
                        <div style="width:61px;height:62px;"></div>
                    }
                    for(int j = 1 ; j < Signs.Count ; j ++)
                    {
                        <div>
                            <input type="hidden" class="swapId" name="hide" value="@j"/>
							<a href="#" class="btnSwap" style="text-decoration: none">
								<div><img src="../Images/signs/swap.png"></div>
							</a>
						</div>
                        if ( j < Signs.Count - 1)
                        {
                            <div class="ButtonSpacer"></div>
                        }
                    }
                }
			</div>
        </td>
        <td>
            <table border="0" style="border-collapse: collapse;width:100%;text-align:left">
                @{
                    int i = 0;
                    foreach (SignDataImageItem Sign in Signs)   
                    {
                        <tr id="tr_@i">
			                <td style="width: 500px"> 
                               <div class="ImageData" style="display: table-cell;background-color: #efefef;vertical-align: middle;text-align: center;width:450px;height:80px;padding-left: 10px;">
                                    <div class="img" style="display:inline-block;position:relative;vertical-align:middle;background-color:white;width:450px;height:66px;">
                                        @*@Html.Raw(Sign.SignImage)*@
                                        <img style="position:relative;top:13px" src='data:image/png;base64,@(Sign.base64ViewString)'/>
                                    </div>
                                </div>
			                </td>
			                <td>
                                <div style="top:-13px;position:relative;text-align:left;display:inline-block;">
                                    <input type="hidden" class="imageposition" name="hide" value="@i"/>
				                    <div class="button">
					                    <a href="#" style="text-decoration: none" class="btnFileSelect" data-ref="tr_@i"><div class="GryButton">Upload</div></a>
                                        <input type="file" class="coreFileElem" name="files" accept=".png" style="display:none" data-url="@Url.Action("UploadSign", "SignData")">
				                    </div>
				                    <div class="button">
					                    <a href="#" class="btnDownload" style="text-decoration: none"><div class="GryButton">Download</div></a>
				                    </div>
				                    <div class="button">
					                    <a href="#" class="btnDelete" style="text-decoration: none"><div class="GryButton">Delete</div></a>
				                    </div>
                                </div>
			                </td>
		                </tr>
                        i++;
                    }
                }
                <tr>
	                <td colspan="3">
		                <div style="display:inline-block;padding-left:10px;position:relative">
    	                    <a href="#" style="text-decoration: none" class="btnAddSign" data-ref="tr_@i"><div class="GrenButton">Add Page</div></a>
                            <input type="file" class="coreAddSign" name="files" accept=".png" style="display:none" data-url="@Url.Action("AddSign", "SignData")">
		                </div>
	                </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
