﻿@model IBI.Web.ViewModels.Admin.Destinations.SignDataListContainerModel

@{
    Layout = null;
 }

@using MvcContrib.Pagination
@using MvcContrib.Sorting 
@using MvcContrib.UI.Grid
@using IBI.Web.Common

 
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.24/jquery-ui.min.js"></script>
<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.9/jquery.validate.js" type="text/javascript"></script>
    
<script src="@Url.Content("~/Scripts/jquery/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script> 
<link href="@Url.Content("~/Content/template/popup.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/template/table-grid.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/template/general.css")" rel="stylesheet" type="text/css" /> 


<script>
    $(function () {
        window.parent.$("#ScreenshotSignDataWindow").css("height", $("#divInnerContainer").height() + $("#LayoutId").height() + $("#SignDataScreenShot").height() + $("#ScreenShotId").height() + 125);
    });
</script>
<script>
    function CloseWindow() {
        window.parent.$("#ScreenshotSignDataWindow").data("kendoWindow").close();
    }
</script>

<style>
    .TextView {
        font-family:Arial;
		font-size: 14px;
        display: inline-block;
        position: relative;
        /*background-color:#ddd*/
        margin-bottom:6px
    }
</style>

<table style="margin-left:6px ; width:98%">
    <tr style="text-align: right;">
        <td><img src="~/Images/infotainment/close.png" onclick="CloseWindow()"/></td>
    </tr>
    <tr>
        <td><div id="ScreenShotId" class="TextView">Screenshot</div></td>
    </tr>
    <tr>
        <td >
            <div id="LayoutId" class="TextView">@Model.PagedList.Select(x=>x.Layout).FirstOrDefault()</div>
             @{
               var grid = Html.Grid(Model.PagedList)
               .Columns(column =>
               {
                   column.Custom(c => (WebUtil.FormatSignDataScreenshot(c.Image)));

               })
             .Attributes(@class => "table-list")
             .RenderUsing(new IBI.Web.Infrastructure.ContribGrid.GridNoHeaderRenderer<IBI.Web.ViewModels.Admin.Destinations.SignDataScreenshot>())
             .RowAttributes(data => new MvcContrib.Hash(@class => data.IsAlternate == true ? "gridrow" : "gridrow"))   
             ;
           }
             @{
                 if (Model.PagedList.Count() > 0)
                 { 
                    @grid 
                     Html.RenderPartial("Pager", Model.PagedList);
                 }
                 else
                 {
                     <div class="no-data">There are no images available</div> 
                 }
              }
        </td>
    </tr>
</table>
  
