﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="CtrlInfotainmentDump.ascx.cs" Inherits="CMS_Aspx.CtrlInfotainmentDump" %>
<style type="text/css">


.TableHeader
{
    background-color: #465c71;
    color: White;
    font-size: 11px;
}

</style>
    <asp:GridView ID="GridDump" runat="server" GridLines="Horizontal" 
    EnableViewState="False" CellPadding="5">
        <AlternatingRowStyle BackColor="LightGray" />
        <HeaderStyle CssClass="TableHeader" />
        <RowStyle BackColor="WhiteSmoke" />
    </asp:GridView>
     
