﻿body 
{
    font-family: Verdana;
    font-size: 10px;
}

.TableHeader
{
    background-color: #465c71;
    color: White;
    font-size: 11px;
}

.TableBackground
{
    background-color: #bfcbd6;
    vertical-align: middle;
}
