﻿@model IBI.Shared.Models.BusTree.Bus

@using Kendo.Mvc.UI

@using IBI.Web.Common

@{
    ViewBag.Title = "Bus Properties";
    Layout = null;
}

    <script type="text/javascript">

        $(document).ready(function () {
            debugger
            if (adminConfirmation) {
                $("#PropertyWindow").parent().find(".k-window-action").css("visibility", "hidden");

                $('#dvBusDeletionProgress').show();
                $('#dvBusDetails').hide();
            }
            else {
                $("#PropertyWindow").parent().find(".k-window-action").css("visibility", "visible");
                $('#dvBusDeletionProgress').hide();
                $('#dvBusDetails').show();
            }

        });

    function ShowMessages(custId, bNo) 
    {

        var window = $("#MessagesWindow").data("kendoWindow");

        $("#MessagesWindow").css("overflow", "hidden");
        $("#MessagesWindow").css("background-color", "#ddd");

        window.center().open().content("<div style='text-align: left; height: 100px'>... Loading ...</div>").title("Messages of Bus no: " + bNo).refresh({
            url: "../Message/IndexList",
            data:
            { 
                customerId: custId,
                busNumber: bNo                
                }
            }); 
            
        }

    function NewMessage(custId, bNo) {

        var window = $("#NewMessageWindow").data("kendoWindow");

        $("#NewMessageWindow").css("overflow", "hidden");
        $("#NewMessageWindow").css("background-color", "#ddd");

        window.center().open().content("<div style='text-align: left; height: 100px'>... Loading ...</div>").title("New Message for Bus no: " + bNo).refresh({
            url: "../Message/IndexNew",
            data:
            {
                customerId: custId,
                busNumber: bNo,
                messageId: 0
            }
        }); 
    }

    function MovetoGroup(custId, bNo,grpId) {

        var window = $("#MoveGroupWindow").data("kendoWindow");
        $("#MoveGroupWindow").css("overflow", "hidden");
        $("#MoveGroupWindow").css("background-color", "#ddd");

        //window.center().open().title("Move to Group Window of Bus no: " + bNo).refresh({
        //    url: "IndexBusGroup",
        //    data:
        //    { 
        //        customerId: custId,
        //        busNumber: bNo,
        //        groupId: grpId
        //    }
        //});
        window.center().open().content("<div style='text-align: left; height: 100px'>... Loading ...</div>").title("Move to Group Window of Bus no: " + bNo).refresh({
            url: "BusGroup",
            data:
            {
                customerId: custId,
                busNumber: bNo,
                groupId: grpId
            }
        });

    }


    function ChangeStatus(custId, bNo) {
        debugger
        var window = $("#ChangeStatusWindow").data("kendoWindow");

        $("#ChangeStatusWindow").css("overflow", "hidden");
        $("#ChangeStatusWindow").css("background-color", "#ddd");

        window.center().open().content("<div style='text-align: left; height: 100px'>... Loading ...</div>").title("Change Status Window for Bus no: " + bNo).refresh({
            url: "BusStatus",
            data:
            {
                customerId: custId,
                busNumber: bNo,
            }
        });
    }

    var adminConfirmation = false;
    function DeleteBus(bNo, custId) {
        
        if (!adminConfirmation) {

            var window = $("#PwdConfirmation").data("kendoWindow");

            $("#PwdConfirmation").css("overflow", "hidden");
            $("#PwdConfirmation").css("background-color", "#ddd");

            window.center().open().content("<div style='text-align: left; height: 100px'>... Loading ...</div>").title("Confirm your password").refresh({
                url: "PwdConfirmation",
                data:
                {
                    customerId: custId,
                    busNumber: bNo
                }
            });
        }

            //jConfirm('Are you sure to delete this bus?', 'Confirmation', function (r) {
            //    if (r == true) {

        else {
            debugger
            //$('#dvBusDeletionProgress').show();
            //$('#dvBusDetails').hide();
            

            $.get("../Bus/DeleteBus", { busNumber: bNo, customerId: custId })
                 .done(function (result) {
                     if (result) {
                         adminConfirmation = false;

                         jAlert("Bus Deleted Successfully", "Deleted");
                         bReloadTree = true;
                         $('#PropertyWindow').data("kendoWindow").close();

                     }
                     else {
                         adminConfirmation = false;
                         jAlert("Bus cannot be deleted, System fails to remove it at this time", "Failure");
                         $('#dvBusDeletionProgress').show();
                         $('#dvBusDetails').hide();

                     }


                 })
                 .fail(function () {
                     adminConfirmation = false;

                     jAlert("Bus cannot be deleted, System fails to remove it at this time", "Failure");
                     $('#dvBusDeletionProgress').hide();
                     $('#dvBusDetails').show();
                 });

            
        }// end if


     //       }
     //   });

         

    }

    function ModifyBusAlias(custId, bNo,bAlias) {

        
        var window = $("#ModifyBusAliasWindow").data("kendoWindow");

        $("#ModifyBusAliasWindow").css("overflow", "hidden");
        $("#ModifyBusAliasWindow").css("background-color", "#ddd");

        window.center().open().content("<div style='text-align: left; height: 100px'>... Loading ...</div>").title("Modify Alias for Bus no: " + bNo).refresh({
            url: "ModifyBusAlias",
            data:
            {
                customerId: custId,
                busNumber: bNo,
                busAlias: bAlias
            }
        });
        
    }

    function ClosedWindow(e) {
        if (RefreshPropertyWindow != null)
            RefreshPropertyWindow();
        return false;
    }
    </script>

<!--start - Popup Windo Stuff-->
        
         <!--Kendo UI Window -> used for both Buses and Group's detail-->
    
         @(Html.Kendo().Window()
            .Visible(false)
            .Name("MessagesWindow")
            .Modal(true)
            .Scrollable(false)
            .Title("Messages")
            .Draggable() 
            .Width(700)
            .Height(550)
        )

         @(Html.Kendo().Window()
            .Visible(false)
            .Name("NewMessageWindow")
            .Modal(true)
            .Scrollable(false)
            .Title("Message Editor")
            .Draggable() 
            .Width(700)
            .Height(550)
        )

        @(Html.Kendo().Window()
            .Visible(false)
            .Name("MoveGroupWindow")
            .Modal(true)
            .Scrollable(false)
            .Title("Move to Other Group Editor")
            .Draggable() 
            .Width(560)
            .Height(550)
            .Events(events => events.Close("ClosedWindow"))
        )

        @(Html.Kendo().Window()
            .Visible(false)
            .Name("ChangeStatusWindow")
            .Modal(true)
            .Scrollable(false)
            .Title("Change Status Editor")
            .Draggable() 
            .Width(300)
            .Height(130)
            .Events(events => events.Close("ClosedWindow"))
        )

        @(Html.Kendo().Window()
            .Visible(false)
            .Name("ModifyBusAliasWindow")
            .Modal(true)
            .Scrollable(false)
            .Title("Change BusAlias Editor")
            .Draggable() 
            .Width(300)
            .Height(150)
            .Events(events => events.Close("ClosedWindow"))
        )
    
        @(Html.Kendo().Window()
                .Visible(false)
                .Name("PwdConfirmation")
                .Modal(true)
                .Scrollable(false)
                .Draggable()
                .Width(400)
                .Height(200)
                .Title("Change BusAlias Editor")
                .Events(events => events.Close("ClosedWindow"))
        )






    <div class="input-table box" id="dvBusDetails">

        <form action="Bus/BusDetail" method="post">
            
            <table cellspacing="5" cellpadding="5" width="100%"> 
                <tbody>
                
                <tr>
                    <td class="title" style="width:200px;"> Customer</td>
                    <td colspan="3">@Model.CustomerName</td>   
                </tr>
                
                <tr>
                    <td class="title">Bus Number</td>
                    <td colspan="3">
                        @Model.BusNumber
                    </td>
                </tr>

                     <tr>
                    <td class="title">Bus Alias</td>
                    <td colspan="1" style="max-width:120px;">
                         @Model.BusAlias
                    </td>
                    <td colspan="2" align="right" class="menu-buttons-h">
                         <ul >
                            <li>
                                    <a href="javascript:void(0)" onclick="ModifyBusAlias(@Model.CustomerId, @Model.BusNumber,'@Model.BusAlias')">Modify Bus Alias</a>
                            </li>
                         </ul>
                    </td>

                </tr>

                <tr>
                    <td class="title">Parent Group</td>
                    <td colspan="1">@Model.ParentGroupName</td>
                    <td colspan="2" align="right" class="menu-buttons-h">
                         <ul >
                                <li>
                                     <a href="javascript:void(0)" onclick="MovetoGroup(@Model.CustomerId, @Model.BusNumber,@Model.ParentGroupId)">Move to Other Group</a>
                                </li>
                         </ul>
                    </td>
                </tr>

                <tr>
                    <td class="title">In Operation</td>
                    <td colspan="1"> @WebUtil.GetYesNo(Model.InOperation.Value)</td>
                    <td colspan="2" align="right" class="menu-buttons-h">
                         <ul >
                                <li>
                                    <a href="javascript:void(0)" onclick="ChangeStatus(@Model.CustomerId, @Model.BusNumber)">Change Status</a>
                                </li>
                            </ul>
                    </td>
                </tr>


                <tr>
                    <td class="title">Current Journey #</td>
                    <td colspan="1">@Model.CurrentJourneyNumber</td>
                  @*<td colspan="2" align="right" class="menu-buttons-h" style='display: @(CurrentUser.IsAdmin==true ? "" : "")'>*@
                    <td colspan="2" align="right" class="menu-buttons-h" style='display: @(CurrentUser.IsAdmin==true ? "" : "none")'>
                        <ul>
                            <li>
                                <a href="javascript:void(0)" onclick="DeleteBus(@Model.BusNumber, @Model.CustomerId)">Delete</a>
                            </li>
                        </ul>
                    </td>
                </tr>

                <tr>
                    <td class="title">Last Time in Service</td>
                    <td colspan="3">@Model.LastTimeInService.ToString(Settings.DateTimeFormat)</td>
                </tr>
                
                <tr>
                    <td class="title">Last Known Location</td>
                    <td colspan="3">
                        @String.Format("{0} {1}", Math.Round(Model.LastKnownLocation.Latitude, 6), Math.Round(Model.LastKnownLocation.Longitude,6))
                    </td>
                </tr>
                
               @* <tr>
                    <td class="title">Description</td>
                    <td colspan="3">
                        @Html.TextArea("Description", Model.Description)
                    </td>
                    
                </tr>*@
                 
                 <tr style="display:none"> 
                    <td colspan="4" align="center" class="menu-buttons-h">
                         @*<ul>
                                <li>
                                     <a href="javascript:void(0)" onclick="ShowMessages(@Model.CustomerId, @Model.BusNumber)">Messages</a>
                                </li>
                                 <li>
                                     @Html.ActionLink("New Message", "AddEdit", "Message", new { customerId = @Model.CustomerId, busNumber = @Model.BusNumber }, new { })
                                </li>
                            </ul>*@
                    </td>
                 </tr>

                </tbody>
            </table>

        </form>
  
    </div> 

    <div id="dvBusDeletionProgress" style="display:none">
        <br /><br /><br />
        <div style='text-align: center; height: 100px; color: red; font-size: 24px'>... Deleting Bus ...</div>

    </div>