﻿@model IBI.Shared.Models.ServiceResponse<List<IBI.Shared.Models.Hotspot.Hotspot>>

@{
    Layout = null;
}

<table>
    <thead>
        <tr>
            <td colspan="10"> 
                <div class="heading">@Model.Data.Count() hotspots found</div>
            </td>
        </tr>
        <tr style="display:@(Model.Data.Count()==0 ? "none" : "")">
            <th>Name</th>
            <th>APs</th>
            <th>Hotspot Id</th>
            <th>SSID</th>
            <th>Landing Page</th>
            <th>Theme</th>
            <th>Start Page</th>
            <th>Registrtion required</th>
            <th>Daily user limit (MB)</th>
            <th style="text-align:center">Deleted</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var hotspot in Model.Data)
        {
            <tr>
                <td><h3>@Html.ActionLink(hotspot.Name, "AccessPoints", "Hotspot", new { hotspotId = hotspot.ID }, new { })</h3></td>
                <td></td>
                <td>@hotspot.HotspotID</td>
                <td>@hotspot.SSID</td>
                <td>@hotspot.LandingPage</td>
                <td>@hotspot.Theme</td>
                <td>@hotspot.StartPage</td>
                <td>@(hotspot.RegistrationRequired ? "Yes" : "No")</td>
                <td style="text-align:right">@hotspot.DailyUserUsageLimitMB</td>
                <td style="font-weight: bold; text-align:center; color:@(hotspot.IsDeleted ? "red" : "green")">@(hotspot.IsDeleted ? "Yes" : "No")</td>
            </tr>
            foreach (var apg in hotspot.AccessPointGroups)
            {
                <tr>
                    <td> &nbsp;&nbsp;&nbsp;&nbsp; @Html.ActionLink(@apg.Name, "AccessPoints", "Hotspot", new { hotspotId = hotspot.ID, apgId = apg.ID }, new { })</td>
                    <td style="text-align:right">@apg.TotalAccessPoints</td>
                    <td></td>
                    <td>@apg.SSID</td>
                    <td>@apg.LandingPage</td>
                    <td>@apg.Theme</td>
                    <td>@apg.StartPage</td>
                    <td></td>
                    <td></td>
                    <td style="font-weight: bold; text-align:center; color:@(apg.IsDeleted ? "red" : "green")">@(apg.IsDeleted ? "Yes" : "No")</td>
                </tr>
            }

        }
    </tbody> 
</table>



