﻿    @model  IBI.Shared.Models.ScheduleTreeItems.Schedule


@using Kendo.Mvc.UI
@using MvcContrib.Pagination
@using MvcContrib.Sorting
@using MvcContrib.UI.Grid
@using IBI.Web.Common
@using System.Collections
@using System.Data
@using IBI.Shared.Models.Signs
@using System.Xml.Linq

@{
    ViewBag.Title = "Mermaid IBI - Schedule Stops";
    Layout = null;
}

<script src="@Url.Content("~/Scripts/kendo/kendo.web.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/kendo/kendo.aspnetmvc.min.js")" type="text/javascript"></script>

<link href="@Url.Content("~/Content/kendo/kendo.common.min.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/kendo/kendo.default.min.css")" rel="stylesheet" type="text/css" />

<link href="@Url.Content("~/Content/template/table-grid.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/template/general.css")" rel="stylesheet" type="text/css" />

<script>
       

    function RefreshMe(id) { 
            window.$("#SignImageEditor").data("kendoWindow").close();
            ShowDestinationImages(id); 
    }

</script>

<style>
    .PixelRow {
        height: 2px;
    }

    .PixelImage {
        display: inline-block;
        padding-right: 2px;
    }

    .Content {
        color: red;
        padding: 10px;
        font-weight: bold;
    }

    .spacer {
        padding-top: 6px;
    }

    .OFFCell {
        background-color: black;
        width: 2px;
        height: 2px;
        float: left;
    }

    .th {
        font-weight: bold; text-align: left; background-color:#ccc; padding-top:5px; padding-bottom:5px;
    }
    .td {
        text-align: left;
        padding-top: 5px;
        border-bottom:solid 1px #ccc
    }
</style>


<!--Kendo UI Window -> used for both Buses and Group's detail-->
@(Html.Kendo().Window()
        .Visible(false)
        .Name("ScreenshotSignDataWindow")
        .Modal(false)
        .Scrollable(false)
        .Draggable()
        .Width(720)
        .Height(250)
)
 
<!-- display schedule stops -->
<table id="tblStops" class="box input-table">
    <thead>
        <tr>
            <th class="th">Sequence</th>
            <th class="th">Stop Id</th>
            <th class="th">Stop Name</th>
            <th class="th">Latitude</th>
            <th class="th">Logitude</th>
            <th class="th">Zone</th>
            <th class="th">Sort</th>
        </tr>
    </thead>
    @{
        foreach (var stop in Model.ScheduleStops)
        {
            <tr>
                <td class="td">
                    @stop.StopSequence
                </td>

                <td class="td">
                    @stop.StopId
                </td>

                <td class="td">
                    @stop.StopName
                </td>
                <td class="td">
                    @stop.Latitude
                </td>
                <td class="td">
                    @stop.Longitude
                </td>
                <td class="td">
                    @stop.Zone
                </td> 
                <td class="td">
                     <a href='javascript:void(0)' id='images' onclick = "SortUp('tblStops', '@stop.StopSequence', '@stop.StopId')"><img src='../images/destinations/scrollup.png' style='display: inline; vertical-align: middle; width: 14px; height: 10px; cursor:hand; cursor: pointer' /></a> 
                     <a href='javascript:void(0)' id='images' onclick = "SortDown('tblStops', '@stop.StopSequence', '@stop.StopId')"><img src='../images/destinations/scrolldown.png' style='display: inline; vertical-align: middle; width: 14px; height: 10px; cursor:hand; cursor: pointer' /></a> 
                </td>
            </tr>
        }
    }


</table>