﻿@model IBI.Web.ViewModels.Messaging.MessageEditModel
@using Kendo.Mvc.UI
@using IBI.Web.Common

@{
    Layout = "~/Views/Shared/_Popup.cshtml";
}  

@section Head{
    
     <link href="@Url.Content("~/Scripts/custom-datetime/txtdropdown.css")" rel="stylesheet" type="text/css" /> 
        
     <script src="@Url.Content("~/Scripts/custom-datetime/jquery.scrollTo-min.js")" type="text/javascript"></script>
     <script src="@Url.Content("~/Scripts/custom-datetime/txtdropdown.js")" type="text/javascript"></script>
     <script src="@Url.Content("~/Scripts/custom-datetime/timedropdown.js")" type="text/javascript"></script>   

    
    <link href="@Url.Content("~/Content/dynatree/skin/ui.dynatree.css")" rel="stylesheet" type="text/css" />    
    <script src="@Url.Content("~/Scripts/dynatree/jquery.dynatree.js")" type="text/javascript"></script>

    
    <!--start - Style for BusTree-->      
    <style type="text/css">
        
           div.TreeNode {display: inline-block;  min-width:200px; vertical-align:middle;}          
           div.TreeNode_title{ display: inline-block;  float:left;}           

           div.TreeNode_columns{ display: inline; float:right; margin-right: 30px; text-align:right; vertical-align:middle;  } 

           div.TreeNode_td_header {  margin-right:3px; display: inline-block; width: 50px; min-width: 50px; max-width:50px; text-align:center; vertical-align:middle; padding-top:3px;}
           div.TreeNode_td {  margin-right:5px; display: inline-block; width: 50px; min-width: 50px; max-width:50px;   text-align:center;    }
           /*div.TreeNode_td:nth-child(8) { display: inline-block; width: 20px; }
           
           
           div.TreeNode_header {display: inline-block; width:95%;  vertical-align:middle; background-color:#595959; color:#efefef; vertical-align:middle; height: 30px;}
           div.TreeNode_title{ display: inline-block; width: 700px; float:left;} 
           */
         
          
          .grey{background-color: #dedede; height: 23px; vertical-align:middle; padding-top:5px; width:100%}
          .white{background-color: #f1f1f1; height: 22px; vertical-align:middle; padding-top:5px;width:100%}
          
          
        .BUS_GREEN 
        {
        background-color: #00A800; width: 16px; height: 16px; display:inline-block; border:solid 1px #787878; border-radius: 3px;
        }
        .BUS_LIGHT_GREEN 
        {
            background-color: #A6FF4D; width: 16px; height: 16px; display:inline-block; border:solid 1px #787878; border-radius: 3px;
        }
        .BUS_GREY
        {
            background-color: #999999; width: 16px; height: 16px; display:inline-block; border:solid 1px #787878; border-radius: 3px;
        }
        .BUS_LIGHT_GREY
        {
        background-color: #dedede; width: 16px; height: 16px; display:inline-block; border:solid 1px #787878; border-radius: 3px;
        }
        .BUS_RED
          {
            background-color: #FF4D4D; width: 16px; height: 16px; display:inline-block; border:solid 1px #787878; border-radius: 3px;
        }
        .BUS_YELLOW 
          {
            background-color: #FFFF00; width: 16px; height: 16px; display:inline-block; border:solid 1px #787878; border-radius: 3px;
        }
        .BUS_ORANGE
          {
            background-color: #FFBF00; width: 16px; height: 16px; display:inline-block; border:solid 1px #787878; border-radius: 3px;
        }
        .BUS_NONE 
          {
            background-color: transparent; display:inline;
        }
         
        .CounterBox
        {   margin-right:4px;
            margin-left: 3px;
            font-weight: bold;
            text-align: right;
            width: 20px;
            display: inline-block;
            vertical-align: top;
        }
        
        
        /*CODA TIP Styles*/ 
        .bubbleInfo {
            position: relative;
           /* top: 150px;
            left: 100px;
            width: 500px;*/
        }
        .trigger {
            /*position: absolute; display:inline;*/
        }
       
        .popup {
        	position: static;
        	display: none;        	
        	z-index: 10000000; 
        	
        }
        .popup table
        {
            border: solid 1px #999;
        	background-color: #efefef; 
        	border-radius:5px;
        }
        .popup table td
        {padding: 3px;  }
         
  </style>
    <!--end - Style for BusTree-->

    <!--start - Script for BusTree-->
    <script type="text/javascript">


        $(function () {

            // --- Initialize sample trees

            $("#BusTreeInput").dynatree({
                initAjax: {
                    url: "@Url.Action("GetSimpleBusTree", "Bus")",
                    data: { mode: "all" }
                },
                onCustomRender: function (node) {
                    // Render title as columns

                    //ko.applyBindings(new viewModel('@Session["BusTreeCounter_GREEN"]', '@Session["BusTreeCounter_GREY"]', '@Session["BusTreeCounter_LIGT_GREY"]', '@Session["BusTreeCounter_ORANGE"]', '@Session["BusTreeCounter_RED"]', '@Session["BusTreeCounter_YELLOW"]'));

                if (node.data.title.indexOf("~") === -1) {
                    // Default rendering
                    return false;
                }
                var cols = node.data.title.split("~");

                var rowTemplate = "<div class='TreeNode" + node.data.AlternateRowCss + "'><div class='TreeNode_title'>[TITLE]</div><div class='TreeNode_columns'>[COLUMNS]<div></div>";

                    //select node if it's BusNumber contained in Buses --> List<String> 
                var buses = "@IBI.Shared.AppUtility.ListToCommaValues(Model.MessageToEdit.Buses)";
                var arr = buses.split(",");

                for (var i in arr) {

                    var bNum = arr[i];

                    if (node.data.BusNumber == bNum)
                        node.select();

                }



                var title = "";
                var columns = "";



                for (var i = 0; i < cols.length; i++) {


                    var currentVal = cols[i];

                    //logic for node title link
                    if (i == 0) {

                        var function2Call = "";
                        switch (node.data.Type) {
                            case 1:
                                {
                                    function2Call = "ShowGroupDetail('" + node.data.GroupId + "')";
                                    break;
                                }
                            case 2:
                                {
                                    function2Call = "ShowBusDetail('" + node.data.BusDetail.CustomerID + "', '" + node.data.BusNumber + "')";
                                    break;
                                }
                        }
                        currentVal = "<a href='javascript:void(0)' id='open' onclick=\"" + function2Call + "\">" + cols[i] + "</a>";
                        title = currentVal;
                        break;
                    }
                    else {
                        currentVal = currentVal.replace("/images/", "../images/");
                        columns += "<div class='TreeNode_td'>" + currentVal + "</div>";
                    }


                }

                return rowTemplate.replace("[TITLE]", title).replace("[COLUMNS]", columns);
                //alert(html);

            },
            checkbox: true,
            selectMode: 3,
            //children: treeData,
            onSelect: function (select, node) {

                

                // Get a list of all selected nodes, and convert to a key array:
                var selKeys = $.map(node.tree.getSelectedNodes(), function (node) {
                    return node.data.key;
                });
                

                // Get a list of all selected TOP nodes
                var selRootNodes = node.tree.getSelectedNodes(true);
                // ... and convert to a key array:
                var selRootKeys = $.map(selRootNodes, function (node) {

                    var busString = '';
                    if (node.data.BusNumber == "0") {
                        busString += getChildBuses(node);


                        //ugly fix of double ,, replacement
                        var regex = new RegExp(',,', 'g');
                        busString = busString.replace(regex, ',');

                        //return after removing the last comma.
                        return busString.substring(0, busString.length - 1);

                    }

                    if (node.data.BusNumber != "0" && node.data.BusNumber != undefined)
                        return node.data.BusNumber;
                });
                
                
                $("#BusNumbers").val(selRootKeys.join(","));

                if (selRootKeys && selRootKeys.length > 0)
                    for (var i in selRootKeys) {
                        selRootKeys[i] = selRootKeys[i].split(',').join(" ");
                    }

                $("#SelectedBuses").text(selRootKeys.join(" "));
                

            },
            onDblClick: function (node, event) {
                node.toggleSelect();
            },
            onKeydown: function (node, event) {
                if (event.which == 32) {
                    node.toggleSelect();
                    return false;
                }
            },
            onPostInit: function(isReloading, isError) 
            {        
                if (!isError) {
                   // setBusSelection("@IBI.Shared.AppUtility.ListToCommaValues(Model.MessageToEdit.Buses)");
                }
                this.reactivate();
            },
            onActivate: function(node) {
                //                // Use status functions to find out about the calling context
                //                var isInitializing = node.tree.isInitializing(); // Tree loading phase
                //                var isReloading = node.tree.isReloading(); // Loading phase, and reading status from cookies
                //                var isUserEvent = node.tree.isUserEvent(); // Event was triggered by mouse or keyboard

                //                alert(node.data.title);
            },
            // The following options are only required, if we have more than one tree on one page:
            //        initId: "treeData",
            cookieId: "dynatree-Cb3",
            idPrefix: "dynatree-Cb3-"

        });

        //$("#btnToggleSelect").click(function(){
        //    $("#tree2").dynatree("getRoot").visit(function(node){
        //        node.toggleSelect();
        //    });
        //    return false;
        //});
        //$("#btnDeselectAll").click(function(){
        //    $("#tree2").dynatree("getRoot").visit(function(node){
        //        node.select(false);
        //    });
        //    return false;
        //});
        //$("#btnSelectAll").click(function(){
        //    $("#tree2").dynatree("getRoot").visit(function(node){
        //        node.select(true);
        //    });
        //    return false;
        //}); 
    });

    function getChildBuses(node) {

        var buses = '';

        if (node.childList) {
            for (var child in node.childList) {

                if (node.childList[child].childList)
                    buses += getChildBuses(node.childList[child], buses);
                else {
                    if (node.childList[child].data) {
                        if (node.childList[child].data.BusNumber != "0" && node.childList[child].data.BusNumber != undefined) {
                            buses += node.childList[child].data.BusNumber + ",";
                        }
                    }

                }

            }
        }

        return buses;

    }

    function setBusSelection(buses)
    {
        var arr = buses.split(",");

        for (var i in arr) {

            var bNum = arr[i];

            $("#BusTreeInput").dynatree("getTree").getNodeByKey(bNum).select();

        }
        return false;
    }
</script>
    <!--end - Script for BusTree-->

      <script>

          function FormSuccess() {
              //             alert('Post Succeeded with PostResult = @Model.PostResult');
              //            //raise post back and call a server side function. 

          } //end function

          function FormFailure() {
              alert('Post failed with PostResult = @Model.PostResult');
          }

          function ChangeCategory(ddl) {
              var id = $(ddl).val();

              //alert('category changed:' + id);
              $("#CategoryChanged").val("true");
              document.forms[0].submit();

              //            var request = $.get('../Message/GetCategoryValidityTime?customerId=@Model.MessageToEdit.CustomerId&messageCategoryId=' + id);

              //            request.success(function(result) {
              //                alert('json: ' + result);
              //            });

              //            request.error(function(jqXHR, textStatus, errorThrown) {
              //                if (textStatus == 'timeout')
              //                    alert('The server is not responding');

              //                if (textStatus == 'error')
              //                    alert(errorThrown');
              //            });
          }

          $(document).ready(function () {
              //HACK bcoz Model.ValidTo is not populating well itself, though it supposed to be auto populating.
              $("#MessageToEdit_ValidTo_Date").val('@Model.MessageToEdit.ValidTo.ToShortDateString()');
              $("#MessageToEdit_ValidTo_TimeOfDay").val('@Model.MessageToEdit.ValidTo.ToString("HH:mm")');
              $("#CategoryChanged").val('');

              //fix img path for datetime picker//*************//
              var img = $(".ui-datepicker-trigger").attr("src");
              img = img.replace("../", "../../");
              $(".ui-datepicker-trigger").attr("src", img);
              //**********************************************//
          });
    </script>


}

@section Popup{


<div id="AjaxContents"  class="input-table">
 
         <div> 
       @{
       var htmlAttributes = new Dictionary<string, object> { { "data-autopostback", "true" } }; 
        }    
         @* @using(Ajax.BeginForm("Edit", "Message", new AjaxOptions{ HttpMethod="POST", InsertionMode=InsertionMode.Replace, OnSuccess="FormSuccess", OnBegin = "beginAjaxSubmit"}))*@
         
          @using (Html.BeginForm("Edit", "Message", FormMethod.Post, new { onsubmit = "beginHtmlSubmit()" }))
         
            {      
                    <table>
                        <tr>
                            <td colspan="3">
                                @Html.ValidationSummary(true, "Message couldn't be saved. Please correct the errors and try again.")         
                           </td>
                        </tr>

                        <tr>
                            <td class="title">  
                                <label>
                                    Category
                                </label>                              
                            </td>       
                            <td>
                                @Html.DropDownListFor(model => model.MessageToEdit.MessageCategoryId, Model.MessageCategories, "- SELECT -", new { onchange = "ChangeCategory(this)" }) 
                                
                                @Html.HiddenFor(model => model.CategoryChanged)
                            </td>
                            <td>
                              @Html.ValidationMessageFor(model => model.MessageToEdit.MessageCategoryId)
                            </td>
                        </tr>
                        <tr>
                            <td class="title">
                                @Html.LabelFor(model => model.MessageToEdit.Subject)
                            </td>
                            <td>
                                @Html.EditorFor(model => model.MessageToEdit.Subject)
                            </td>
                            <td>
                                @Html.ValidationMessageFor(model => model.MessageToEdit.Subject)
                            </td>
                        </tr>
                        <tr>
                            <td class="title">
                                @Html.LabelFor(model => model.MessageToEdit.MessageText)
                            </td>
                            <td >
                                @Html.TextAreaFor(model => model.MessageToEdit.MessageText, new {  })
                            </td>
                            <td>
                                @Html.ValidationMessageFor(model => model.MessageToEdit.MessageText)
                            </td>
                        </tr>
                        <tr>
                            <td class="title">
                                @Html.LabelFor(model => model.MessageToEdit.ValidFrom)
                            </td>
                            <td>          
                                    @Html.EditorFor(model => model.MessageToEdit.ValidFrom.Date)
                             
                                    @Html.EditorFor(model => model.MessageToEdit.ValidFrom.TimeOfDay)
                            </td>
                            
                            <td>
                                 
                                   @Html.ValidationMessageFor(model => model.MessageToEdit.ValidFrom) 
                                  
                            </td>
                        </tr>
                        <tr>
                            <td class="title">
                                @Html.LabelFor(model => model.MessageToEdit.ValidTo)
                            </td>
                            <td>
                                 
                                    @Html.EditorFor(model => model.MessageToEdit.ValidTo.Date)
                             
                                    @Html.EditorFor(model => model.MessageToEdit.ValidTo.TimeOfDay)
                            </td>
                            <td>
                                   @Html.ValidationMessageFor(model => model.MessageToEdit.ValidTo) 
                                 @Html.ValidationMessageFor(model => model.MessageToEdit)
                            </td>
                        </tr>
                        
                        <tr>
                                <td class="title"></td>
                                <td> 
                                    <b>Select Buses</b>
                                    <div id="BusTreeInput" style="width:300px; height:200px; overflow-y: scroll; overflow-x:hidden;"></div>
      
                                    @Html.HiddenFor(model => model.BusNumbers)
                                </td>
                                <td>
                                    <b>Selected Buses:</b>
                                    <div style=" border:solid 1 px #aaa; border-radius: 3px; padding:5px;">
                                        <div id="SelectedBuses" style="width:200px; height:200px; overflow-y: scroll; overflow-x:hidden; text-wrap:normal;"></div> 
                                    </div>

                                </td>
                                
                        </tr>

                        <tr>
                            <td style="display:hidden;">
                               <!--hidden fields [the fields which we dont want to edit ]-->
                               @Html.EditorFor(model => model.MessageToEdit.DefaultBus)
                               @Html.EditorFor(model => model.MessageToEdit.CustomerId)
                               @Html.EditorFor(model => model.MessageToEdit.LastModifiedBy)
                               @Html.EditorFor(model => model.MessageToEdit.MessageId) 
                               @Html.EditorFor(model => model.MessageToEdit.SenderId)          
                            </td>
                            <td >
                                <br /><br />
                                <input type="submit" value="Save" /> 

                                 @*@Ajax.ActionLink("Save", "Edit",
                                    new { customerId = @Model.MessageToEdit.CustomerId, busNumber = @Model.MessageToEdit.BusNumber },
                                    new AjaxOptions { UpdateTargetId = "AjaxContents", HttpMethod = "POST"})*@

                               @* @Ajax.ActionLink("Cancel", "List",
                                    new { customerId = @Model.MessageToEdit.CustomerId, busNumber = @Model.MessageToEdit.BusNumber },
                         new AjaxOptions { UpdateTargetId = "AjaxContents", HttpMethod = "GET", InsertionMode= InsertionMode.Replace, Confirm = "Are you sure to leave this screen?"},
                                    new { disableValidation = "true" })*@
                            
                                @if(@Model.MessageToEdit.DefaultBus!="0")
                                {
                                    @Html.ActionLink("Cancel", "List", new { customerId = @Model.MessageToEdit.CustomerId, busNumber = @Model.MessageToEdit.DefaultBus }, new { @class = "button" }) 
                                }
                                else{
                                    <input type="button" class="button" value="Cancel" onclick="javascript: alert('test'); window.top.close();" />
                                }

                                
                            </td>
                            <td>
                                <div style="width:215px;"></div>
                            </td>
                        </tr>
                    </table>
              
            } 

            <script>
                
            </script>

         </div> <!--inputTable - end-->

    </div><!--AjaxContents - end-->  

}


   