﻿<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

@model IBI.Shared.Models.Messages.MessageConfirmationsAndReplys

@using Kendo.Mvc.UI
@using IBI.Web.Common

@{
    ViewBag.Title = "MessageConfirmationsAndReplies";
    Layout = null;
}
@section Head{

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.24/jquery-ui.min.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.9/jquery.validate.js" type="text/javascript"></script>
    
    <script src="@Url.Content("~/Scripts/jquery/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>  
    <link href="@Url.Content("~/Content/template/table-grid.css")" rel="stylesheet" type="text/css" /> 

    <link href="@Url.Content("~/Content/tablesorter/theme.default.css")" rel="stylesheet" type="text/css" /> 
    <script src="@Url.Content("~/Scripts/tablesorter/jquery.tablesorter.js")" type="text/javascript"></script>  
    <script src="@Url.Content("~/Scripts/tablesorter/jquery.tablesorter.widgets.js")" type="text/javascript"></script>  
    
}

<style>
     a{cursor: pointer;}
    .even {
        background-color: #efefef;
        border-bottom:solid 1px #ddd;
    }
    .odd {
        background-color:white;
        border-bottom:solid 1px #ddd;
    }
</style>

<script type="text/javascript">

    $(document).ready(function () {
        $("#showreplies").change(OnClickShowReplies);
        $("#showConfirmations").change(OnClickShowConfirmations);
        $("#filterBusNumber").change(OnEnterBusNumber);
        //$("#filterBusNumber").keyup(OnEnterBusNumber);
        $('.tbDisplayConfirmationsAndReplies').tablesorter({
            widgets: ['zebra', 'columns'],
            usNumberFormat: false,
            sortReset: true,
            sortRestart: true
        });
    });

    function OnEnterBusNumber(e) {
        var url;
        var element;
        if ($("#showreplies").is(':checked') && $("#showConfirmations").is(':checked')) {
            url = "../Message/MessageConfirmationsAndReplies";
            element = $("#MessageConfirmationsAndReplies");
        }
        else if ($("#showreplies").is(':checked') && !$("#showConfirmations").is(':checked')) {
            url = "../Message/MessageReplies";
            element = $("#MessageReplies");
        }
        else if (!$("#showreplies").is(':checked') && $("#showConfirmations").is(':checked')) {
            url = "../Message/MessageConfirmations";
            element = $("#DisplayedConfirmations");
        }
        else {
            $("#MessageReplies").html(data);
            $("#DisplayedConfirmations").html("");
            return false;
        }

        var MessageId = $("#MessageId").val();
        var busNumber = $("#filterBusNumber").val();
        $.ajax({
            url: url,
            type: "post",
            data: {
                MessageId: MessageId,
                busNumber: busNumber
            }
        })
        .done(function (data) {
            element.html(data);
            $("#filterBusNumber").val(busNumber);
            $("#filterBusNumber").focus();
        });
        return false;
    }

    function OnClickShowReplies(e) {
        if ($(this).is(':checked')) {
            var MessageId = $("#MessageId").val();
            var busNumber = $("#filterBusNumber").val();
            $.ajax({
                url: "../Message/MessageReplies",
                type: "post",
                data: {
                    MessageId: MessageId,
                    busNumber: busNumber
                }
            })
            .done(function (data) {
                $("#MessageReplies").html(data);
            });
        }
        else {
            $("#MessageReplies").html("");
                
        }
        //$('.tbDisplayConfirmationsAndReplies').tablesorter({
        //    widgets: ['zebra', 'columns'],
        //    usNumberFormat: false,
        //    sortReset: true,
        //    sortRestart: true
        //});
        return false;
    }
    function OnClickShowConfirmations(e) {
        if ($(this).is(':checked')) {
            var MessageId = $("#MessageId").val();
            var busNumber = $("#filterBusNumber").val();
            $.ajax({
                url: "../Message/MessageConfirmations",
                type: "post",
                data: {
                    MessageId: MessageId,
                    busNumber: busNumber
                }
            })
            .done(function (data) {
                $("#DisplayedConfirmations").html(data);
            });
        }
        else {
            $("#DisplayedConfirmations").html("");
        }
        //$('.tbDisplayConfirmationsAndReplies').tablesorter({
        //    widgets: ['zebra', 'columns'],
        //    usNumberFormat: false,
        //    sortReset: true,
        //    sortRestart: true
        //});
        return false;
    }
    </script>

    <div>
        <table style="width: 100%; height: 100%; margin: 0 auto;">
            <tr>
               <td  style="text-align: left;padding-left:15px;padding-bottom:5px">
                    <label style="font-size: 12px;font-weight: bolder;color:black;text-align: left;">Message Response Info: @Model.MessageTitle</label>
                </td>
                <td  style="text-align: right;padding-bottom:10px">
                    <img src="~/Images/infotainment/close.png" onclick="CloseWindow()" />
                </td>
            </tr>
        </table>

        <div style="background-color:#efefef; border-radius:5px; border:solid 1px #aaa; padding:10px; display:block"> 
            <table style="width: 100%; height: 100%; margin: 0 auto;">            
                <tr>
                    <td>
                        <label style="font-size: 12px;font-weight: bolder;color: #555;vertical-align: text-bottom;text-align: left;">Displayed Confirmations</label>                   
                        <input name="chkshowConfirmations" type="checkbox" checked class="showConfirmations" id="showConfirmations">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <label style="font-size: 12px;font-weight: bolder;color: #555;vertical-align: text-bottom;text-align: left;">Replies</label>                   
                        <input name="chkshowreplies" type="checkbox" checked  class="showreplies" id="showreplies">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <label style="font-size: 12px;font-weight: bolder;color: #555;vertical-align: text-bottom;text-align: left;">Bus Number</label>      
                        <input id="filterBusNumber" name="filterBusNumber" placeholder="&nbsp;Bus Number" type="text" value="" style="width:142px;" />
                    </td>
                 </tr>
                 <tr>
                    <td  style="text-align: right"><input type="hidden" id="MessageId" name="MessageId" value='@Model.MessageId' /></td>
                 </tr>
            </table>
        </div>
        @*<div id="MessageConfirmationsAndReplies">
            @{
                @Html.Partial("PartialMessageConfirmationAndReplies", Model)
            }
        </div>*@
        <div id="MessageConfirmationsAndReplies">
            <br />
            <div id="DisplayedConfirmations" style="overflow-y: scroll;max-height: 159px;background-color:#efefef;">
                @{
                    @Html.Partial("PartialDisplayedConfirmations", Model.MessageDisplayConfirmations)
                }
            </div>
            <br />
            <div id="MessageReplies" style="overflow-y: scroll;max-height: 233px;background-color:#efefef;">
                @{
                    @Html.Partial("PartialMessageReplies", Model.ReplysMessages)
                }
            </div>
        </div>
    </div>
    
    

