﻿@model  List<IBI.Shared.Models.Messages.MessageDisplayConfirmations>
<script type="text/javascript">
    $(document).ready(function () {
            $('.tbDisplayConfirmationsAndReplies').tablesorter({
                widgets: ['zebra', 'columns'],
                usNumberFormat: false,
                sortReset: true,
                sortRestart: true
            });
    });
</script>

<label style="font-size: 12px;font-weight: bolder;color: #555;vertical-align: text-bottom;text-align: left;position: relative;top: 4px;">Display Confirmations</label> 
<table class="tbDisplayConfirmationsAndReplies" border="0" style="border-collapse: collapse;width:100%;text-align:left;">
    @{
        if (Model != null && Model.Count > 0)
        { 
            <thead>
                <tr >
			        <th style="border-collapse: collapse;padding: 5px; text-align: left; background-color:#dedede;"> 
                        BusNumber
			        </th>
                    <th style="border-collapse: collapse;padding: 5px; text-align: left; background-color:#dedede;"> 
                        Group
			        </th>
   			        <th style="border-collapse: collapse;padding: 5px; text-align: left; background-color:#dedede;"> 
                       Confirmation at
			        </th>
		        </tr>
            </thead>
            @Html.Raw("<tbody>");
            int i = 1;
            foreach (IBI.Shared.Models.Messages.MessageDisplayConfirmations msg in Model)   
            {
                <tr class='@( (i%2==0) ? "even": "odd" )'>
			        <td style="border-collapse: collapse;padding: 5px; text-align: left;"> 
                        @Html.Raw(msg.BusNumber)
			        </td>
                    <td style="border-collapse: collapse;padding: 5px; text-align: left;"> 
                        @Html.Raw(msg.BusGroupName)
			        </td>

   			        <td style="border-collapse: collapse;padding: 5px; text-align: left;"> 
                       @Html.Raw(msg.DisplayTime.ToString(IBI.Web.Common.Settings.DateTimeFormat))
			        </td>
		        </tr>
                
                i++;
            }
            @Html.Raw("</tbody>");
        }
    }
</table>
