﻿@model IBI.Shared.Models.BusTree.Bus

@using IBI.Web.Common

@{
    Layout = null;
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title> 
    @RenderSection("Head", false)
</head>
<body style="margin:0px; padding:0px;">
   
    @RenderSection("PopUp", false)    
 
</body>
</html>
