﻿
@using Microsoft.Web.Helpers 
 
@{
    ViewBag.Title = "Web Grid";
    Layout = null;
}
<html>

     <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - IBI</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        
        <link rel="Stylesheet" type="text/css" href="@Url.Content("~/Content/template/screen.css")" />
        <link rel="Stylesheet" type="text/css" href="@Url.Content("~/Content/template/general.css")" />
        
        @*<link rel="stylesheet" href="http://code.jquery.com/ui/1.9.1/themes/base/jquery-ui.css" />
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.24/jquery-ui.min.js"></script>
        <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.9/jquery.validate.js"></script>*@


        <link href="@Url.Content("~/Content/themes/base/jquery.ui.all.css")" rel="stylesheet" />
        <script src="@Url.Content("~/Scripts/jquery/jquery-1.8.2.min.js")"></script>
        <script src="@Url.Content("~/Scripts/jquery/jquery-ui-1.9-RC1.min.js")"></script>
        <script src="@Url.Content("~/Scripts/jquery/jquery.validate.min.js")"></script>

                
        <script src="@Url.Content("~/Scripts/jquery/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/jquery/jquery.validate.min.js")" type="text/javascript"></script>

        
        <script src="@Url.Content("~/Scripts/modernizr/modernizr-1.7.min.js")" type="text/javascript"></script>
        
        <script src="@Url.Content("~/Scripts/knockout/knockout-2.1.0.js")" type="text/javascript"></script> 
        <script src="@Url.Content("~/Scripts/jquery/json2.js")" type="text/javascript"></script> 

        <script src="@Url.Content("~/Scripts/microsoft/MicrosoftAjax.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/microsoft/MicrosoftMVCAjax.js")" type="text/javascript"></script> 
        <script src="@Url.Content("~/Scripts/microsoft/MicrosoftMVCValidation.js")" type="text/javascript"></script> 

        <script src="@Url.Content("~/Scripts/txtdropdown/jquery.scrollTo-min.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/txtdropdown/txtdropdown.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/timedropdown/timedropdown.js")" type="text/javascript"></script>     
        <script src="@Url.Content("~/Scripts/jquery-ui-1.8.5.custom.min.js")" type="text/javascript"></script>

        <script src="@Url.Content("~/Scripts/jquery/json2.js")" type="text/javascript"></script>

        <script src="@Url.Content("~/Scripts/custom/site.js")" type="text/javascript"></script>        
        <script src="@Url.Content("~/Scripts/custom/general.js")" type="text/javascript"></script>

         
         <script src="@Url.Content("~/Scripts/jplayer/jquery.jplayer.min.js")"></script>
</head>

<body>

 
   
    <a href="../Audio/GeneratePreview?stopName=test&voice=mette22k&sourceText=test">Test Link to mp3</a>
     
    
        <script type="text/javascript">
            $(document).ready(function () {
                $("#jquery_jplayer_1").jPlayer({
                    ready: function () {
                        $(this).jPlayer("setMedia", {
                            mp3: "../Audio/GeneratePreview?stopName=test&voice=mette22k&sourceText=test" 
                        });
                    },
                    swfPath: "@Url.Content("~/Scripts/jplayer/jPlayer.swf")",
                    supplied: "mp3"
                });
            });
    </script>
    <div id="jquery_jplayer_1"></div>
    <div id="jp_container_1">
    <a href="#" class="jp-play">Play</a>
    <a href="#" class="jp-pause">Pause</a>
    </div>
</body>
</html>
   
   