﻿@{
    ViewBag.Title = "";
    Layout = null;
}

<head>
<link href="@Url.Content("~/Content/template/general.css")" rel="stylesheet" type="text/css" />
</head>

<body style="margin:0px">

<div style="height:100%">
<iframe id="frmMain" width="100%" height="100%"  scrolling="no" frameborder="0" marginwidth="0" marginheight="0" style="overflow:hidden; overflow-y: hidden; overflow-x:hidden;" src="@Url.Action("Index", "Screenshot", new { busNumber = ViewData["BusNumber"], clientType = ViewData["ClientType"] })" />   
</div> 
</body>