﻿@model IBI.Web.ViewModels.BusTree.Screenshots.ListContainerViewModel

@{
    Layout = null;
 }

@using MvcContrib.Pagination
@using MvcContrib.Sorting 
@using MvcContrib.UI.Grid
@using IBI.Web.Common

 
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.24/jquery-ui.min.js"></script>
<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.9/jquery.validate.js" type="text/javascript"></script>
    
<script src="@Url.Content("~/Scripts/jquery/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script> 
<link href="@Url.Content("~/Content/template/popup.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/template/table-grid.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/template/general.css")" rel="stylesheet" type="text/css" /> 

<script src="@Url.Content("~/Scripts/kendo/kendo.web.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/kendo/kendo.aspnetmvc.min.js")" type="text/javascript"></script> 
     

<link href="@Url.Content("~/Content/kendo/kendo.common.min.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/kendo/kendo.default.min.css")" rel="stylesheet" type="text/css" /> 

<link href="@Url.Content("~/Content/template/table-grid.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/template/general.css")" rel="stylesheet" type="text/css" />

<script>
    function CloseWindow() {
        window.parent.$("#ScreenshotWindow").data("kendoWindow").close();
    }
</script>

<style>
    .InActiveUnit
    {
        text-decoration: none;
        color: #aaaaaa;                
        font-size: 15px;
        font-weight: bold;
    }
        
    .ActiveUnit
    {
        text-decoration: none;
        color: #94B52C;                
        font-weight: bold;
        font-size: 15px;
    }
</style>

<table style="margin-left:6px;padding-left: 6px;padding-top: 2px;left: 6px;position: relative; width:95%">
    <tr>
        @{
            string dcuCss = ViewData["ClientType"].ToString() == "DCU" ? "ActiveUnit" : "InactiveUnit";
            string vtcCss = ViewData["ClientType"].ToString() == "VTC" ? "ActiveUnit" : "InactiveUnit";
            string ccuCss = ViewData["ClientType"].ToString() == "CCU" ? "ActiveUnit" : "InactiveUnit";  
         } 
        <td>
            @Html.ActionLink("CCU", "Index", new { busNumber = @ViewData["BusNumber"], clientType = "CCU" }, new { @class = ccuCss })
            &nbsp;&nbsp;&nbsp;
            @Html.ActionLink("DCU", "Index", new { busNumber = @ViewData["BusNumber"], clientType = "DCU" }, new { @class = dcuCss })
            &nbsp;&nbsp;&nbsp;
            @Html.ActionLink("VTC", "Index", new { busNumber = @ViewData["BusNumber"], clientType = "VTC" }, new { @class = vtcCss })

        </td>
        <td style="text-align: right;">
            <img src="~/Images/infotainment/close.png" onclick="CloseWindow()"/>
        </td>
    </tr>
    <tr>
        <td colspan="2">
             @{
               var grid = Html.Grid(Model.PagedList)
               .Columns(column =>
               {
                   column.Custom(c => (WebUtil.FormatScreenshot(string.Format("{0}|{1}|{2}|{3}|{4}", c.BusNumber, c.ClientType, c.ImageIndex, c.ImagePath, c.ImageDate))));

               })
             .Attributes(@class => "table-list")
             .RenderUsing(new IBI.Web.Infrastructure.ContribGrid.GridNoHeaderRenderer<IBI.Web.ViewModels.BusTree.Screenshots.Screenshot>())
             .RowAttributes(data => new MvcContrib.Hash(@class => data.IsAlternate == true ? "gridrow" : "gridrow"))  
             ;
           }
             @{
                 if (Model.PagedList.Count() > 0)
                 { 
                    @grid 
                 
                     Html.RenderPartial("Pager", Model.PagedList);
                 }
                 else
                 {
                     <div class="no-data" style="border-radius: 3px;width: 400px;height: 50px;">There are no images available</div> 
                 }
              }
        </td>
    </tr>
</table>
  
