﻿.txtdropdown-btn {
  width: 14px; 
  height: 19px; 
  background: url('time-btn.png') no-repeat center; 
  display:inline-block;    
  margin-left:1px; margin-top:2px;
}

.txtdropdown-btn:hover {
  background: url('time-btn.png') no-repeat center;
}
.txtdropdown-outer
{
    display: inline;
    width: 105px;
}

.txtdropdown-ddl
{
    
  background-color:#ccc;
  color: Black;
  border: 1px solid;
  padding: 0px;
  list-style: none;
  margin: 0px;
  max-height:20em;
  overflow:auto;
  cursor:default;
  visibility: hidden;
  font-size: small;
}

.txtdropdown-ddl li {
  padding: 0px 2px;
  display: block;
  list-style: none;
  margin: 0px;
}

.txtdropdown-ddl li:hover {
  background-color:Highlight;
  color:HighlightText;
}


.mydatepicker{vertical-align: top; margin-right:2px;}