﻿@model IBI.Web.ViewModels.UserAccounts.LoginModel

@{
    ViewBag.Title = "IBI Login"; 
    Layout = "~/Views/Shared/_Login.cshtml";
}
 
 <script type="text/javascript">

     $(document).ready(function () {

         $("#UserName").focus();
         
     });

    </script> 
 
@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl })) {
    
    <table border="0" cellpadding="0" cellspacing="0" style="margin-right:15px;"> 
        <tbody>
        <tr>
            <th>
                Username
            </th>
            <td>
                @Html.TextBoxFor(m => m.UserName, new { @class = "login-inp" })
            </td>
        </tr>
        <tr>
            <th>
                @Html.LabelFor(m => m.Password)
            </th>
            <td>
                @Html.PasswordFor(m => m.Password, new { @class = "login-inp" })
            </td>
        </tr>
        <tr style="display: none;">
            <td></td>
            <td>
                @Html.CheckBoxFor(m => m.RememberMe)
            
                @Html.LabelFor(m => m.RememberMe, new { @class = "checkbox" })
            </td>
        </tr>
        <tr>
            <td></td>
            <td><br /><input type="submit" value="Log in" class="input-button" /></td>
        </tr>
        
        </tbody>
        
     
    </table>
    
    <p>
         @Html.ValidationSummary(true, "", new { @class = "errorBox" })
    </p>
   @* <p>
        @Html.ActionLink("Register", "Register") if you don't have an account.
    </p>*@
}

 


 