﻿@model IBI.Web.ViewModels.Messaging.MessageEditModel
@using Kendo.Mvc.UI
@using IBI.Web.Common


@{
    ViewBag.Title = "Mermaid IBI - Bus Map";
    Layout = null; //"~/Views/Shared/_Layout.cshtml"; //null;
}

<!DOCTYPE html>

<html>
<head>
    <title>BusMap</title>
    <meta charset="utf-8">
    <link rel="Stylesheet" type="text/css" href="@Url.Content("~/Content/template/general.css")" />
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.0b2/jquery.mobile-1.0b2.min.css" />
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.6.2.min.js"></script>
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=true"></script>
    <style type="text/css">
        .Table
        {
            display: table;
        }
        .Title
        {
            display: table-caption;
            text-align: left;
            font-weight: bold;
            font-size:medium;
        }
        .Heading
        {
            display: table-row;
            font-weight: bold;
            text-align: center;
        }
        .Row
        {
            display: table-row;
            width: 900px;
        }
        .Cell
        {
            display: table-cell;
            border: solid;
            border-width: thin;
            padding-left: 5px;
            padding-right: 5px;
            width: 450px;
        }


        .BUS_RED {
            background-color: #FF4D4D;
            width: 16px;
            height: 16px;
            display: inline-block;
            border: solid 1px #787878;
            border-radius: 3px;
         }

        .BUS_GREEN {
            background-color: #00A800;
            width: 16px;
            height: 16px;
            display: inline-block;
            border: solid 1px #787878;
            border-radius: 3px;
         }

        .CounterBox {
            margin-right: 4px;
            margin-left: 3px;
            font-weight: bold;
            text-align: right;
            width: 20px;
            display: inline-block;
            vertical-align: top;
        }
        /*.notransition {
          -webkit-transform:none !important;
          transform:none !important;
          position:static !important;
        }*/


    </style>

    <script>

        var map;

        $(document).ready(function () {
            var myLatlng = new google.maps.LatLng(56.940854, 6.921387);
            var myOptions = {
                zoom: 6,
                center: myLatlng,
                mapTypeId: google.maps.MapTypeId.ROADMAP,
            }

            map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
            clearMap();
            loadBuses();
            $("#map_canvas").addClass("notransition");
            $(".inputboxschedule").keyup(OnKeyupScheduleFilter);
            $(".inputboxminutes").keyup(OnKeyupMinutesFilter);
        });

        //Time between marker refreshes
        var INTERVAL = 5000;
        var currentTimer;

        //Used to remember markers
        var stopMarkerStore = {};

        var oldOnline;
        var oldOffline;
        var oldFilter;

        function BusInfo(busNumber, name, position, marker, positionPath, positionHistory) {
            this.id = busNumber;
            this.name = name;
            this.position = position;
            this.marker = marker;
            this.positionPath = positionPath;
            this.positionHistory = positionHistory;
            this.visible = true;
        }

        var busStorage = {};

        var polyOptions = {
            strokeOpacity: 1.0,
            strokeWeight: 2
        };

        function loadBuses() {
            var scheduleId = $('.inputboxschedule').val();
            var minutes = $('.inputboxminutes').val();
            if (scheduleId == null) return;

            var url = "../Demo/GetBusesDataForMap?scheduleId=";
            url += scheduleId;
            url += "&minutes=" + minutes;
            //$("#msg").html("<p>Please Wait...</p>");
            $.get(url, {}, function (res, resp) {
                //if (oldOnline != $(".online").is(':checked') || oldOffline != $(".offline").is(':checked') || oldFilter != $("#FilterBuses").val())
                //clearMap();
                //oldOnline = $(".online").is(':checked');
                //oldOffline = $(".offline").is(':checked');
                //oldFilter = $("#FilterBuses").val();
                //$("#msg").html("");
                importBuses(res);
                currentTimer = window.setTimeout(loadBuses, INTERVAL);

            }, "json");
        }

        function importBuses(buses) {
            console.log(buses.length + ' buses found');

            for (var i = 0, len = buses.length; i < len; i++) {
                var bus = buses[i];
                var busInfo = null;

                //Do we have this bus already?
                if (busStorage.hasOwnProperty(bus.BusNumber)) {
                    busInfo = busStorage[bus.BusNumber];

                    busInfo.visible = !isFiltered(busInfo);

                    var oldPosition = busInfo.position;
                    var newPosition = new google.maps.LatLng(bus.Position.lat, bus.Position.long);

                    //Only update if marker has moved to avoid flickering on the map
                    if (!oldPosition.equals(newPosition)) {
                        busInfo.position = newPosition;

                        if (busInfo.positionHistory.length == 50) {
                            busInfo.positionHistory.shift();
                        }

                        busInfo.positionHistory.push(busInfo.position);

                        if (busInfo.visible) {
                            busInfo.marker.setPosition(busInfo.position);
                            busInfo.positionPath.setPath(busInfo.positionHistory);
                        }
                    }
                }
                else {
                    busInfo = createBusInfo(bus);
                    busInfo.visible = !isFiltered(busInfo);

                    busStorage[bus.BusNumber] = busInfo;
                }

                if (busInfo.visible) {
                    if (busInfo.marker.getMap() == null)
                        busInfo.marker.setMap(map);

                    if (false) {
                        if (busInfo.positionPath.getMap() == null)
                            busInfo.positionPath.setMap(map);
                    }
                    else {
                        busInfo.positionPath.setMap(null);
                    }
                }
                else {
                    busInfo.marker.setMap(null);
                    busInfo.positionPath.setMap(null);
                }
            }
        }

        function createBusInfo(bus) {
            var position = new google.maps.LatLng(bus.Position.lat, bus.Position.long);

            var positionHistory = [];
            positionHistory.push(position);

            polyOptions.strokeColor = getRandomColor();

            var positionPath = new google.maps.Polyline(polyOptions);
            //positionPath.setMap(map);

            var busInfo = new BusInfo(bus.BusNumber, bus.BusNumber, position, getMarker(bus), positionPath, positionHistory);

            return busInfo;
        }

        function isFiltered(bus) {
            return false;
            //var busFilter = document.getElementById('txtBusFilter').value.split(',');
            //busFilter = busFilter.filter(function (e) { return e });

            //if (busFilter == null || busFilter.length == 0) {
            //    return false;
            //}

            //console.log("Applying filter");

            //console.log(busFilter);

            //return (busFilter.indexOf(bus.id) == -1);


        }


        function OnKeyupScheduleFilter(e) {
            reloadMap(2000);
            return false;
        }


        function OnKeyupMinutesFilter(e) {
            reloadMap(2000);
            return false;
        }

        function reloadMap() {
            window.clearTimeout(currentTimer);

            loadBuses();
        }

        function getMarker(bus) {
            var markerColor = 'C6EF8C';

            if (!bus.Online)
                markerColor = 'F90404';

            var pinImage = new google.maps.MarkerImage('http://chart.apis.google.com/chart?chst=d_bubble_icon_text_small&chld=bus|bb|' + bus.BusNumber + '|' + markerColor + '|000000',
                                                       null, //Image size is dynamic
                                                       null, //Not sure what 'origin' is
                                                       new google.maps.Point(0, 42)); // The point in the image that illustrates the actual gps position ("where the arrow points")

            var marker = new google.maps.Marker({
                position: new google.maps.LatLng(bus.Position.lat, bus.Position.long),
                map: null,
                icon: pinImage
            });

            return marker;
        }

        function getRandomColor() {
            var letters = '0123456789ABCDEF'.split('');
            var color = '#';
            for (var i = 0; i < 6; i++) {
                color += letters[Math.round(Math.random() * 15)];
            }
            return color;
        }

        function clearMap() {
            console.log('Clearing map');

            Object.keys(this.busStorage).forEach(function (key) {
                var busInfo = this.busStorage[key]

                busInfo.marker.setMap(null);
                busInfo.positionPath.setMap(null);
            })

            this.busStorage = {};
        }


    </script>
</head>
<body>

    <table>
		<tr>
			<td style="vertical-align: top;">
				 Schedule: <input class="inputboxschedule" data-val="true" id="schedule" name="schedule" placeholder="&nbsp;scheduleId" type="text" value="" style="width:142px;" />
			</td>
            <td style="vertical-align: top;">
                Late Mins: <input class="inputboxminutes" data-val="true" id="minutes" name="minutes" placeholder="&nbsp;minutes" type="text" value="2" style="width:142px;" />
            </td>
        </tr>
        <tr>
			<td style="vertical-align: top;">
                <div id="map_canvas" style="width: 1024px; height: 600px"></div>
    		</td>
        </tr>
    </table>


   
	
    @*<div id="map_canvas" style="float: left; width: 100%; height: 656px;vertical-align:top"></div>*@
    
</body>
</html>
