﻿/*ibiGrid : applied to <div>*/
.ibiGrid table {
    border-collapse: collapse;
    width: 100%;
}

    .ibiGrid table thead {
        
    }

    .ibiGrid table thead .heading, .ibiGrid div.heading {
        font-size:16px;
        color:#777;
        display: inline-block;
        font-weight:bold;
        margin-bottom:5px;
        vertical-align:middle;
    }

        .ibiGrid table thead th {
             background-color: #575757;
            padding: 5px;
            color: white;
            font-weight: bold;
            text-align: left;
            border: solid 1px #ccc;
        }

    .ibiGrid table tbody tr:nth-child(even) {
        background: #efefef;
    }


    .ibiGrid table tbody td {
        padding: 5px;
        color: black;
        text-align: left;
        border: solid 1px #ccc;
    }

.ibiGrid a, .ibiSearchForm a:active, .ibiSearchForm a:visited {
    color: #698518;
}

    .ibiGrid a:hover {
        color: #575757;
    }


    .ibiGrid table.tablesorter .header {
            background-image: url('../../images/assets/bg.png');
            background-repeat: no-repeat;
            background-position:right; 
            cursor:pointer;
        }

    .ibiGrid table.tablesorter .headerSortUp {
            background-image: url('../../images/assets/asc.png');
            background-repeat: no-repeat;
        }

    .ibiGrid table.tablesorter .headerSortDown {
            background-image: url('../../images/assets/desc.png');
            background-repeat: no-repeat;
        }

/*ibiSearchForm : applied to <div>*/

.ibiSearchForm table {
    border-collapse: collapse;
    width: 100%;
}

    .ibiSearchForm table thead {
    }

    .ibiSearchForm table th {
        padding: 5px;
        background-color: #eee;
        color: black;
        font-weight: bold;
        text-align: left;
        border-bottom: solid 1px #fff;
    }

    .ibiSearchForm table tbody td {
        padding: 5px;
        color: black;
        text-align: left;
    }

.ibiSearchForm a, .ibigrid a:active, .ibigrid a:visited {
    color: #698518;
}

    .ibiSearchForm a:hover {
        color: #575757;
    }

.ibiSearchForm input[type=text] {
    padding: 5px;
    border-radius: 2px;
    border: solid 1px #bbb;
    min-width: 200px;
    vertical-align: middle;

   
}

.ibiSearchForm select {
    padding: 5px;
    border-radius: 2px;
    border: solid 1px #bbb;
    min-width: 212px;
    vertical-align: middle;
}

.ibiSearchForm input[type=submit], .ibiSearchForm input[type=button]  {
    padding: 4px;
    font-weight: bold;
    font-size: larger;
    color: white;
    background-color: #81a532;
    border: solid 1px #777;
    border-radius: 3px;
    vertical-align: middle;
    cursor:pointer;
    min-width:80px;
}

.ibiSearchForm input[type=button].green, .ibiSearchForm input[type=button].save,
.ibiSearchForm input[type=submit].green, .ibiSearchForm input[type=submit].save   {
    background-color: #81a532;   
    color:white; 
}
.ibiSearchForm input[type=button].grey, .ibiSearchForm input[type=reset], .ibiSearchForm input[type=button].cancel,  
.ibiSearchForm input[type=submit].grey,  .ibiSearchForm input[type=submit].cancel{
    background-color: #808080;   
    color:white; 
}

.ibiSearchForm input[type=button].red, .ibiSearchForm input[type=button].delete,
.ibiSearchForm input[type=submit].red, .ibiSearchForm input[type=submit].delete {
    background-color: #d14c4c;   
    color:white; 
}

ibiSearchForm input[type=checkbox]
{
 zoom:1.5;
}
