﻿
#form
{
    background-color: #EBE4D8;
    width: 400px;
    padding: 10px;
}

.editor-field, .display-field
{
    font-family: Segoe UI, Tahoma, Verdana, Arial;
    font-size: 1.2em;
}

.editor-field textarea, .editor-field input
{
    font-size: 1em; 
}

.editor-label, .display-label
{
    padding-top: 8px;
    padding-bottom: 1px;
    font-weight: bold;
}

.actions-region
{
    margin-top: 15px;
}
.actions-region a
{
    font-family: Tahoma, Verdana, Arial;
    font-size: 1em;
    text-decoration: none;
}

/*Buttons*/
.btn, .actions-region a
{      
    display: inline-block; color: #000; background-color: #ddd;
    border-radius: 3px;
    padding-left: 4px; padding-right:4px;   
    padding-top: 2px; padding-bottom: 2px; 
    border: solid 1px #666;
    font-size:12px; text-align:center;
    margin-right: 5px;
    cursor: hand; cursor: pointer;
    /*border-bottom:3px solid #94B52C;*/
}


.no-data
{
    padding: 10px;
    font-size; 13px;
    font-weight: bold;
    }

.table-list
{
    text-align: left;
    width: 100%;
    border-collapse: collapse;
    font-family:Arial;
    font-size: 12px;
}

.table-list th
{
    font-size: 9pt !important;
    border-bottom: 3px solid #94B52C;
    text-align: left;
    background-color: #efefef;
    padding: 3px; vertical-align:top;
}
.table-list th a
{
     text-decoration:none;
     color:#000;
}

.table-list tr.gridrow
{
    background-color:#fff;
}
.table-list tr.gridrow_alternate
{
    background-color: #efefef;
}

.table-list .sort_asc
{
    background-image: url('images/sort_asc.png');
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 15px;
}

.table-list .sort_desc
{
    background-image: url('Images/sort_desc.png');
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 15px;
}

.table-list .gridrow_alternate
{
    background-color: #eee;
}

.table-list .tr-item
{
    background-color: #fff;
}

.table-list td
{
    padding: 5px;
}

.table-list td.link, 
.table-list a.link
{
    color: #94B52C;
    text-decoration: none;
}
  
#search-filter
{
    border-style: solid;
    border-width: 1px;
    border-color: #aaa;
    border-radius:4px;
    background-color: #efefef;
    padding: 10px;        
    font-family: Arial;
    font-size: 12px;
}
#search-filter div
{ 
    padding: 5px; 
}
#search-filter label
{
    display: block;
    padding-top: 5px; 
    font-size: 12px;
}
#search-filter span
{
    clear: both;
    display: block;
    padding-top: 5px;
}

#search-filter table td{}

#search-filter input[type="text"]{}

#search-filter input[type="submit"],
#search-filter input[type="button"],
#search-filter a.button
{
   display: inline-block; color: #000; background-color: #ddd;
    border-radius: 3px;
    padding-left: 4px; padding-right:4px;   
    padding-top: 2px; padding-bottom: 2px; 
    border: solid 1px #666;
    font-size:12px; text-align:center;
    margin-right: 5px;
    margin-left: 5px;
    cursor: hand; cursor: pointer;
    /*border-bottom:3px solid #94B52C;*/
} 
 
.pagination, div.pagination 
{ 
    font-family:Arial; font-size: 12px;
    border: 1px solid #aaa;
    padding: 5px;
    background-color: #efefef;
    border-radius:3px;
    height: 35px; margin-top: 15px;
}

.pagination span.paginationLeft
{
    float:left; text-align: left; position: relative; margin-top: 10px;
    }
.pagination span.paginationRight
{
float:right; text-align:right; position: relative; text-align:justify; font-weight:bold; margin-top: 10px;  
}

.pagination span.paginationCenter
{
float:right; text-align:center; position: relative; text-align:justify; font-weight:bold; margin-top: 10px;  
}

.pagination span.paginationRight a
{
 text-decoration: none;
 color: #94B52C;
 display: inline-block; 
}

#detailsContainer
{
    padding: 10px;
}

/* Infinite Grid*/
.scrollloaderlist {
    height:1px;
}

.scroll-loader {
    margin-bottom: 20px;
    overflow:auto;
    border:none;
    padding:0px 20px;
    line-height: 20px;
}

.scroll-loader::-webkit-scrollbar {
    width: 12px;
}