﻿@model IBI.Shared.Models.ServiceResponse<List<IBI.Shared.Models.Hotspot.AccessPointDailyActivity>>


@{
    Layout = null;
}


<style>
    #activityTable th:nth-child(1), #tblActivityRow td:nth-child(1) {
        max-width: 80px;
        min-width: 80px;
    }

    #activityTable th:nth-child(2), #tblActivityRow td:nth-child(2) {
        max-width: 80px;
        min-width: 80px;
    }

    #activityTable th:nth-child(3), #tblActivityRow td:nth-child(3) {
        max-width: 80px;
        min-width: 80px;
    }

    #activityTable th:nth-child(4), #tblActivityRow td:nth-child(4) {
        max-width: 110px;
        min-width: 110px;
    }

    #activityTable th:nth-child(5), #tblActivityRow td:nth-child(5) {
        max-width: 100px;
        min-width: 100px;
    }

    #activityTable th:nth-child(6), #tblActivityRow td:nth-child(6) {
        max-width: 90px;
        min-width: 90px;
    }
     
</style>

<div class="heading">@Model.Data.Count() records found</div>
<div style="width:100%; height: 380px; overflow:scroll">
    <table id="activityTable" class="tablesorter">
        <thead id="activityHeader">
            <tr style="display:@(Model.Data.Count()==0 ? "none" : "")">
                <th>Day</th>
                <th>Send (MBs)</th>
                <th>Received (MBs)</th>
                <th>Successful Logins</th>
                <th>Failed Logins</th>
                <th>Activity Time (s)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var a in Model.Data)
            {
                <tr id="tblActivityRow">
                    <td>@a.Date.Value.ToString("yyyy-MM-dd")</td>
                    <td style="text-align:right">@(a.BytesSent / 1024 / 1024)</td>
                    <td style="text-align:right">@(a.BytesReceived / 1024 / 1024)</td>
                    <td style="text-align:right">@a.SuccessfulLogins</td>
                    <td style="text-align:right">@a.FailedLogins</td>
                    <td style="text-align:right">@a.ActivityTime</td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td></td>
            </tr>
        </tfoot>
    </table>
</div>


<script type="text/javascript">
    $(document).ready(function () {
        debugger
        $("#activityTable").tablesorter();
        $('#activityHeader').scrollToFixed(); 
    });

</script>

