﻿@using Kendo.Mvc.UI
@{
    ViewBag.Title = "IBI: Hotspot - Access Points";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Head{
     
    <link href="@Url.Content("~/Content/dynatree/skin/ui.dynatree.destinations.css")" rel="stylesheet" type="text/css" />
        
    <script src="@Url.Content("~/Scripts/kendo/kendo.web.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/kendo/kendo.aspnetmvc.min.js")" type="text/javascript"></script>
    
    <link href="@Url.Content("~/Content/kendo/kendo.common.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/kendo.default.min.css")" rel="stylesheet" type="text/css" />

    <link href="@Url.Content("~/Content/template/ibi-controls.css")" rel="stylesheet" type="text/css" />

    <script src="@Url.Content("~/Scripts/angular/libraries/scrollFix/jquery-scrolltofixed-min.js")"></script>
     
    <script src="@Url.Content("~/Scripts/jquery/jquery.tablesorter.min.js")"></script>
    
    @if (this.Context == null)
    {
        <script src="../Scripts/kendo/kendo.all-vsdoc.js" type="text/javascript"></script>
        <script src="../Scripts/jquery/json2.js" type="text/javascript"></script>
    }


}
<form id="frmSearch" method="post">

    <div class="ibiSearchForm">
        <table>
            <tr>
                <td colspan="5">
                    <h2>Access Points</h2>
                </td>
            </tr>
            <tr>
                <th style="width:150px;">Hotspot</th>
                <td>
                    @Html.DropDownList("SelectedHotspot", (IEnumerable<SelectListItem>)ViewBag.Hotspots, "- All -", new { @onchange = "Hotspot_Changed()" })
                </td>
                <th>
                   Include deleted
                </th>
                <td>
                    <div style="display:inline; vertical-align:top"> YES &nbsp; <input type="radio" id="rdoStatus1" name="rdoStatus" value="true"  style="margin-top:3px;"/></div>
                    <div style="display:inline; vertical-align:top"> NO &nbsp; <input type="radio" id="rdoStatus2" name="rdoStatus" value="false" checked="checked" /></div>
                </td>
                <td></td>
            </tr>
            <tr>
                <th>Access Point Group</th>
                <td>
                    @Html.DropDownList("SelectedAccessPointGroup", (IEnumerable<SelectListItem>)ViewBag.AccessPointGroups, "- All -", new {@onchange = "AccessPointGroup_Changed()" })
                    @*@Html.DropDownList("SelectedAccessPointGroup", (IEnumerable<SelectListItem>)ViewBag.AccessPointGroups, "- All -", new { @onchange = "SearchAccessPoints()" })*@
                </td>
                <th>
                    Search mode
                </th>
                <td>
                    <div style = "display:inline; vertical-align:top"> AND &nbsp; <input type="radio" id="rdoSearchMode1" name="rdoSearchMode" value="and" checked="checked" onclick="rdoSearchMode_Click()" /> </div> 
                    <div style = "display: inline; vertical-align: top; "> OR &nbsp; <input type="radio" id="rdoSearchMode2" name="rdoSearchMode" value="or" onclick="rdoSearchMode_Click()" /></div> 
                </td>
                <td></td>
            </tr>

            <tr>
                <th>Access Point</th>
                <td style="max-width: 540px; min-width: 540px;">
                    <input type="text" id="id" placeholder="Id" />
                    &nbsp;&nbsp; <label id="lblOperator1">AND</label> &nbsp;&nbsp;
                    <input type="text" id="name" placeholder="Name" />
                    &nbsp;&nbsp; <label id="lblOperator2">AND</label> &nbsp;&nbsp;
                    @*<div style="display: inline-block; vertical-align: middle">
                        <label for="chkStatus">Show Deleted</label>
                        <input type="checkbox" id="chkStatus" style="vertical-align:middle" />
                    </div>*@
                </td>
                <td colspan="2" style="padding-left:0px;">
                    <input type="text" id="mac" placeholder="MAC" />
                </td>
                <td style="min-width:200px; text-align:right">
                    <input type="submit" id="btnSearch" value="Search" />
                </td>
            </tr>
        </table>
    </div>

</form>

<br /><br />


<div id="apList" class="ibiGrid" style="display:block">
    <h2>Loading Access Points ... </h2>
</div>


@(Html.Kendo().Window()
                .Visible(false)
                .Name("EditAccessPoint")
                .Modal(true)
                .Scrollable(false)
                .Title("Edit Access Point")
                .Draggable()
                .Width(450)
                .Height(280)
                .Events(events => events.Close("ReloadParent"))
)

@(Html.Kendo().Window()
                .Visible(false)
                .Name("AccessPointActivity")
                .Modal(true)
                .Scrollable(false)
                    .Title("Access Point Activity")
                .Draggable()
                .Width(700)
                .Height(400)
                //.Events(events => events.Close("ReloadParent"))
)


<script>

    $(document).ready(function () {
         
        @*
        var url = '@Url.Action("AccessPointList")' + '?hotspotId=@(ViewBag.HotspotId)&apgId=@(ViewBag.AccessPointGroupId)&id=@(ViewBag.Id)&name=@(ViewBag.Name)&mac=@(ViewBag.MAC)&showDeleted=false'
        $("#apList").load(url);
        *@
        SearchAccessPoints();
        //end page - load


        $("#frmSearch").on('submit', function () {
            SearchAccessPoints();
            return false;
        })//end frmSearch - submit


        $("#btnSearch").on('click', function () {

            SearchAccessPoints();
            return false;
        })//end btnSearch - click

        $("#lnkEditAccessPoint").on('click', 'a', function () {

        });//end lnkEditAccessPoint - click

        $("#lnkShowAccessPointActivity").on('click', function () {

        });//end lnkShowAccessPointActivity - click

    });


    function rdoSearchMode_Click() {
        var value = $("input:radio[name ='rdoSearchMode']:checked").val();
        //alert(value);
        $("#lblOperator1").html(value.toUpperCase());
        $("#lblOperator2").html(value.toUpperCase());
    }

    function Hotspot_Changed(){

        var hotspotId = $('#SelectedHotspot').val();

        if (hotspotId == '')
            hotspotId = 0;

        var id = $("#id").val('');
        var name = $("#name").val('');
        var mac = $("#mac").val('');

        $.ajax({
            url: '../Hotspot/AccessPointGroupsByHotspotId',
            type: "GET",
            dataType: "JSON",
            data: { HotspotId: hotspotId },
            success: function (apGroups) {
                $("#SelectedAccessPointGroup").html(""); // clear before appending new list
                $("#SelectedAccessPointGroup").append(
                        $('<option></option>').val(0).html('- All -'));

                $.each(apGroups, function (i, apGroup) {
                    $("#SelectedAccessPointGroup").append(
                        $('<option></option>').val(apGroup.Value).html(apGroup.Text));
                });

                if (hotspotId == 0) {
                    $("#SelectedAccessPointGroup").prop('disabled', 'disabled');
                }
                else {
                    $("#SelectedAccessPointGroup").prop('disabled', false);
                }
               // SearchAccessPoints();
            }
        });

    }

    function AccessPointGroup_Changed() {
        var id = $("#id").val('');
        var name = $("#name").val('');
        var mac = $("#mac").val('');
    }

    function SearchAccessPoints() {
        $("#apList").html('<h2>Loading Access Points... </h2>');
        debugger
        var hotspotId = $("#SelectedHotspot").val();
        var apgId = $("#SelectedAccessPointGroup").val();
        var id = $("#id").val();
        var name = $("#name").val();
        var mac = $("#mac").val();
        //var showDeleted = $("#chkStatus").is(':checked');
        var showDeleted = $("input:radio[name ='rdoStatus']:checked").val();
        var searchMode = $("input:radio[name ='rdoSearchMode']:checked").val();

        //alert(showDeleted);
        //alert(searchMode);

        if (hotspotId == '')
            hotspotId = 0;
        if (apgId == '')
            apgId = 0;

        if (hotspotId == 0) {
            $("#SelectedAccessPointGroup").prop('disabled', 'disabled');
        }
        else {
            $("#SelectedAccessPointGroup").prop('disabled', false);
        }

        EnableControls(false);
        var url = '@Url.Action("AccessPointList")' + '?hotspotId=' + hotspotId + '&apgId=' + apgId + '&id=' + id + '&name=' + encodeURIComponent(name) + '&mac=' + encodeURIComponent(mac) + '&showDeleted=' + showDeleted + '&searchMode=' + searchMode;
        //alert(url);
        $("#apList").load(url, function () {
            EnableControls(true);
        });
    }


    function OpenWindow_EditAccessPoint(apId) {
        //alert(id);
        var window = $("#EditAccessPoint").data("kendoWindow");

        $("#EditAccessPoint").css("overflow", "hidden");
        $("#EditAccessPoint").css("background-color", "#fff");

        window.center().open().content("<div style='text-align: left; height: 100px;'>Please Wait...</div>").title("Edit Access Point");
        window.refresh({
            url: '@Url.Action("EditAccessPoint", "Hotspot")',
            data: {
                accessPointId: apId
            }
        });
    }

    function OpenWindow_ShowAccessPointActivity(apId) {
        //alert(id);
        var window = $("#AccessPointActivity").data("kendoWindow");

        $("#AccessPointActivity").css("overflow", "hidden");
        $("#AccessPointActivity").css("background-color", "#fff");

        window.center().open().content("<div style='text-align: left; height: 100px'>Please Wait...</div>").title("Access Point Activity");
        window.refresh({
            url: '@Url.Action("AccessPointActivity", "Hotspot")',
            data: {
                accessPointId: apId
            }
        });
    }


    function EnableControls(bool) {

        var className = "";
        var cursor = "";
        if (bool) {
            className = "green";
            cursor = "pointer";
        }
        else {
            className = "grey";
            cursor = "default";
        }

        $('input[type="submit"]').prop('disabled', !bool);
        $('input[type="submit"]').prop('class', className);
        $('input[type="submit"]').css('cursor', cursor);

    }

    function ReloadParent() {
        //alert('realoading');
        SearchAccessPoints();
    }

</script>
