﻿@model  IBI.Shared.Models.Hotspot.AccessPoint 
@{
    Layout = null;
}
<script>
    $(document).ready(function () {
        @*var modelStatus = '@Model.Status';
        if (modelStatus == 'False') {
            alert('@Model.Message');
        }*@
    });
</script> 

    <br /><br />
    <form id="frmAccessPoint">
        <div id="dvEditAccessPoint" class="ibiSearchForm">
            <table style="width:auto; margin-left:auto; margin-right:auto;">
                <tbody>
                    <tr>
                        <th>Id</th>
                        <td>
                            @Model.ID
                            @Html.HiddenFor(model => model.ID)
                        </td>
                    </tr>
                    <tr>
                        <th>Name</th>
                        <td>
                            @Html.TextBoxFor(model => model.Name, new { @placeholder = "Name" })
                        </td>
                    </tr>
                    <tr>
                        <th>Access Point Group</th>
                        <td>
                            @Html.DropDownList("SelectedAccessPointGroup", (IEnumerable<SelectListItem>)ViewBag.AccessPointGroups, new { @onchange = "SetAccessPointGroup(this.value)" })
                            <input type="hidden" id="accessPointGroupId" value="@Model.AccessPointGroup_ID" />
                        </td>
                    </tr>
                    <tr>
                        <th>Enabled</th>
                        <td>
                            @Html.RadioButtonFor(m => m.Enabled, "True") Yes
                            @Html.RadioButtonFor(m => m.Enabled, "False") No
                        </td>
                    </tr>
                    <tr>
                        <th>Deleted</th>
                        <td>
                            @Html.RadioButtonFor(m => m.IsDeleted, "True") Yes
                            @Html.RadioButtonFor(m => m.IsDeleted, "False") No
                        </td>

                    </tr>
                    <tr>
                        <td><br /></td>
                        <td><br /></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <input type="button" class="cancel" value="Cancel" />
                            <input type="button" class="save" value="Save" />
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </form> 

<script>
    $(document).ready(function () {

        debugger
        //select default
        $('select[name^="SelectedAccessPointGroup"] option[value="@Model.AccessPointGroup_ID"]').attr("selected", "selected"); 

        $(".cancel").on('click', function () {
            window.$("#EditAccessPoint").data("kendoWindow").close();
        });

        $(".save").on('click', function () {

            var name = $("#Name").val();

            if (name=='') {
                jAlert('Name is required');
                return false;
            }
            
            debugger
            $.ajax({
                url: '../Hotspot/EditAccessPoint',
                type: "POST",
                dataType: "JSON",
                data: {
                    ID: '@Model.ID',
                    Name: $("#Name").val(),
                    AccessPointGroup_ID: $("#accessPointGroupId").val(),
                    Enabled: $("input:radio[name ='Enabled']:checked").val(),
                    IsDeleted: $("input:radio[name ='IsDeleted']:checked").val(),
                },
                success: function (result) {
                    if (result) {

                        jAlert("Access Point saved successfully");

                        window.$("#EditAccessPoint").data("kendoWindow").close();
                        ReloadParent();
                    }
                    else {
                        jAlert('Failed to save Access Point.');
                    }
                },
                error: function () {
                    jAlert('No response from server at this time.');
                }
            });

        });
    })


    function SetAccessPointGroup(apgId) {
        $("#accessPointGroupId").val(apgId);
    }
</script>