﻿<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

@model IBI.Web.ViewModels.Admin.SignAddons.AddEditSignAddonModel

@using Kendo.Mvc.UI
@using IBI.Web.Common

@{
    ViewBag.Title = "Add Sign Addon";
    Layout = null;
}


<style type="text/css">

div.options {
        left: -20px;
        position: relative;
    }
div.options > label > input {
    visibility: hidden;
    display: inline-block;

}

div.options > label {
    display: inline-block;
    height: 27px;
    width: 70px;
    text-align: left;
}

div.options > label > img {
    display: inline-block;
    padding: 0px;
    height:30px;
    width:30px;
    background: white;
    border-radius: 6px;
    position: relative;
    top: -5px;
}

div.options > label > input:checked +img {  
    background-image: url(../images/destinations/inactive.png);
    background-repeat: no-repeat;
    background-position:center center;
    background-color: white;
}
</style>
<!--start - Script for BusTree-->
<script type="text/javascript">

        $(document).ready(function () {

            //$(".dynatree-icon").css('backgroundImage', 'url(../content/dynatree/skin/scrollright_grey.png)');

        });
      
</script>
<!--end - Script for BusTree-->

<script>

    function FormSuccess(data) {

        //alert(result.PostResult + '-' + result.ErrorMessage);
        var result = data.PostResult;
        var errMsg = data.ErrorMessage;


        if (result == 'true') {
            jAlert("Sign Addon saved successfully", "Success");
            bReloadTree = true;
            $('#AddEditSignAddon').data("kendoWindow").close();
        }
        else {
            jAlert(errMsg, "Failure");
        }

        $('input[type=submit]').removeAttr("disabled").removeClass("disabled");
    }



    $(document).ready(function () {
        $('#closePopup').click(function () {
            bReloadTree = true;
            $('#AddEditSignAddon').data("kendoWindow").close();
        })
    });


    $(document).ready(function () {

        var openedForEdit = '@(Model.SignAddon.SignAddonItemId)';
        //alert('@(Model.SignAddon.SignAddonItemId)');
        if (openedForEdit == '0') {
            $('#deleteRecord').attr("disabled", true).addClass("disabled");
            $('#deleteRecord').css('display', 'none');
        }


        //$("input:checkbox").click(function () {
        //    var group = "input:checkbox[name='" + $(this).attr("name") + "']";
        //    $(group).attr("checked", false);
        //    $(this).attr("checked", true);
        //});


        $(".radio").click(function () {
            var group = "input:checkbox[name='" + $(this).attr("name") + "']";
            $(group).attr("checked", false);
            $(this).attr("checked", true);
        });

        $('#deleteRecord').click(function () {
            //alert('deleting');
            jConfirm('Are you sure to delete this  Addon?', 'Confirmation', function (r) {
                if (r == true) {

                    $('#deleteRecord').attr("disabled", true).addClass("disabled");
                    $('#deleteRecord').css('display', 'none');

                    $.get("../Admin/DeleteSignAddon", { signAddonItemId: "@Model.SignAddon.SignAddonItemId" })
                         .done(function () {
                             jAlert("Addon deleted successfully", "Deleted");

                             bReloadTree = true;
                             $('#AddEditSignAddon').data("kendoWindow").close();
                         })
                         .fail(function () {
                             jAlert("Sign addon cannot be deleted", "Failure");
                         });

                    $('#deleteRecord').removeAttr("disabled").removeClass("disabled");

                }
            });


        })
    });
    function CloseWindow() {
        window.$("#AddEditSignAddon").data("kendoWindow").close();
    }
</script>



<!--jAlert-->
<script src="@Url.Content("~/Scripts/plugins/jAlert/jquery.alert.js")" type="text/javascript"></script>
<link href="@Url.Content("~/Scripts/plugins/jAlert/jquery.alert.css")" rel="stylesheet" type="text/css" />

<div id="AjaxContents" class="input-table">

    <div>
        @{
       var htmlAttributes = new Dictionary<string, object> { { "data-autopostback", "true" } }; 
        }
        @using (Ajax.BeginForm("AddEditSignAddon", "Admin", new AjaxOptions { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, OnSuccess = "FormSuccess", OnBegin = "beginAjaxSubmit" }))
         {
             
            @Html.ValidationSummary(true, "Message couldn't be saved. Please correct the errors and try again.")
                        
            <table style="width: 100%; height: 100%; margin: 0 auto;position: relative;right: -8px;">
                <tr >
                    <td colspan="2" style="text-align: left;" class="label"> @(Model.SignAddon.SignAddonItemId == 0 ? Html.Raw("Add") : Html.Raw("Edit")) Sign Addon</td>
                    <td style="text-align: right">
                        <img src="~/Images/infotainment/close.png" onclick="CloseWindow()" />
                    </td>
                </tr>
                @*<tr>
         <td class="label" colspan="3" style="text-align: left">Group
         </td>
     </tr>
    <tr>
         <td colspan="2">
             <div style="border: solid 1px #aaa; border-radius: 3px; padding: 5px;;width:394px;">
                 <div id="destinationTree" style="width: 394px; height: 200px; overflow-y: scroll; overflow-x: hidden;" />
             </div>
         </td>
         <td></td>
     </tr>*@
                <tr class="tr">
                    <td class="title">
                        <label>Name</label>
                    </td>
                    <td>
                        @Html.TextBoxFor(model => model.SignAddon.Name, new { @class = "inputbox", placeholder = "Input Name" })
                    </td>
                    <td>
                        @Html.ValidationMessageFor(model => model.SignAddon.Name)
                    </td>
                </tr>

               

                <tr class="tr">
                    <td class="title">                       
                        @Html.Label("Sign Text")
                    </td>
                    <td>
                        @Html.TextBoxFor(model => model.SignAddon.SignText, new { @class="inputbox" , placeholder="Input Sign Text" })
                    </td>
                    <td>
                        @Html.ValidationMessageFor(model => model.SignAddon.SignText)
                    </td>
                </tr>
                @*<tr class="tr">
                    <td class="title">
                        @Html.Label("UDP Text")
                    </td>
                    <td>
                        @Html.TextBoxFor(model => model.SignAddon.UdpText, new { @class="inputbox" , placeholder="Input UDP Text" })
                    </td>
                    <td>
                        @Html.ValidationMessageFor(model => model.SignAddon.UdpText)
                    </td>
                </tr>*@

                  
                <tr class="tr">
                    <td class="title">
                        <label>Active</label>
                    </td>
                    <td>
                       @*

                        @Html.RadioButtonFor(model => model.Sign.IsActive, "true", new { id = "yes" })
                        @Html.Label("yes", "Yes")

                        @Html.RadioButtonFor(model => model.Sign.IsActive, "false", new { id = "no" })
                        @Html.Label("no", "No")

                       *@
                                               
                        @*<div class="options">
                            <label title="Yes" style="position: relative; width: 71px;left:-3px">
                                <input type="radio" name="Sign.IsActive" value="true" @(Model.Sign.IsActive?"checked":"") /> 
                              Yes
                                <img />
                            </label>
                            <label title="No" style=" position: relative; left: -25px; ">
                                <input type="radio" name="Sign.IsActive" value="false" @(!Model.Sign.IsActive?"checked":"") />
                                No
                                <img />
                            </label>   
                        </div>*@

                       @* <div class="options">
                            <label title="Yes" style="position: relative; width: 71px;left:-3px">
                                <input type="radio" name="Sign.IsActive" value="true" @(Model.Sign.IsActive?"checked":"") /> 
                                <label for="male" style="position: relative;top: -9px;" >Yes</label>
                                <img />
                            </label>
                            <label title="No" style=" position: relative; left: -25px; ">
                                <input type="radio" name="Sign.IsActive" value="false" @(!Model.Sign.IsActive?"checked":"") />
                                <label for="male" style="position: relative;top: -9px;" >No</label>
                                <img />
                            </label>   
                        </div>*@

                        <label for="yes">Yes</label>
                        <input type="checkbox" class="radio" value="true" name="SignAddon.IsActive" @(Model.SignAddon.IsActive?"checked":"") style="width: 2em;height: 2em;" />
                        <label for="no">No</label> 
                        <input type="checkbox" class="radio" value="false" name="SignAddon.IsActive" @(!Model.SignAddon.IsActive?"checked":"")  style="width: 2em;height: 2em;" />



                    </td>

                </tr>

                <tr>
                    <td style="display: hidden;">
                        <!--hidden fields [the fields which we dont want to edit ]-->
                        @Html.HiddenFor(model => model.SignAddon.SignAddonItemId )
                        @Html.HiddenFor(model => model.SignAddon.GroupId )
                        @Html.HiddenFor(model => model.SignAddon.ParentGroupId)
                        @Html.HiddenFor(model => model.SignAddon.Priority)
                        @Html.HiddenFor(model => model.CustomerId)

                    </td>
                    <td>
                        @*<a href="#" class="delete"  id="deleteRecord">Delete</a>
                        <a href="#" class="cancel"  id="closePopup">Cancel</a> 
                        <a href="#" class="cancel"  id="closePopup" onclick="document.forms[0].submit()">New SAVE</a> *@
                        @* <div style="display: inline-block">
                            <input class="buttonStyle" type="submit" value="Save" onclick="" /> 
                        </div>*@

                        <div>
                            <div style="display: inline-block; padding-right: 10px">
                                <a href="#" id="deleteRecord" style="text-decoration: none">
                                    <div class="deletebutton">Delete</div>
                                </a>
                            </div>
                            <div style="display: inline-block; padding-right: 10px">
                                <a href="#" id="closePopup" style="text-decoration: none">
                                    <div class="cancelbutton">Cancel</div>
                                </a>
                            </div>
                            <div style="display: inline-block; position: relative; top: -16px;">
                                <input class="savebutton" type="submit" value="Save" />
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
              
            }

        <script>
                
        </script>

    </div>
    <!--inputTable - end-->

</div>
<!--AjaxContents - end-->



