﻿
@model IBI.Web.ViewModels.Admin.Configurations.ConfigurationModel

@{
    ViewBag.Title = "Mermaid IBI System - Bus Status";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{  var serializer = new System.Web.Script.Serialization.JavaScriptSerializer();
  var jsonConfigProps = serializer.Serialize(Model.ConfigurationPropertiesList.Items);
}

@section Head{


    <link href="@Url.Content("~/Content/dynatree/skin/ui.dynatree.css")" rel="stylesheet" type="text/css" />

    <script src="@Url.Content("~/Scripts/dynatree/jquery.dynatree.js")" type="text/javascript"></script>

    <script src="@Url.Content("~/Scripts/kendo/kendo.web.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/kendo/kendo.aspnetmvc.min.js")" type="text/javascript"></script>


    <link href="@Url.Content("~/Content/kendo/kendo.common.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/kendo.default.min.css")" rel="stylesheet" type="text/css" />


    @if (this.Context == null)
    {
        <script src="../Scripts/kendo/kendo.all-vsdoc.js" type="text/javascript"></script>
        <script src="../Scripts/jquery/json2.js" type="text/javascript"></script>
    }



    <style type="text/css">
        div.TreeNode {
            display: inline-block;
            width: 95%;
            min-width: 850px;
            vertical-align: middle;
        }

        div.TreeNode_title {
            display: inline-block;
            float: left;
        }

        div.TreeNode_titleproperty {
            display: inline-block;
            float: left;
            font-size:14px;
        }

        div.TreeNode_columns {
            display: inline;
            float: right;
            text-align: right;
            vertical-align: middle;
        }

        div.TreeNode_td_header {
            margin-right: 45px;
            display: inline-block;
            width: 200px;
            min-width: 200px;
            max-width: 200px;
            text-align: left;
            vertical-align: middle;
            padding-top: 7px;
            overflow-x:hidden;
            cursor: pointer;
        }

        div.TreeNode_td1, div.TreeNode_td2, div.TreeNode_td3,div.TreeNode_group_td1, div.TreeNode_group_td2, div.TreeNode_group_td3 {
            display: inline-block;
            width: 200px;
            min-width: 200px;
            max-width: 200px;
            text-align: left;
            cursor: pointer;
            overflow:hidden;
            white-space:nowrap;
            text-overflow: ellipsis;
           
        }
        div.TreeNode_td1{
            margin-right: 47px;
        }
        div.TreeNode_td2{
            margin-right: 49px;
        }
        div.TreeNode_td3{
            margin-right: 30px;
        }
        div.TreeNode_group_td1{
            margin-right: 47px;
        }
        div.TreeNode_group_td2{
            margin-right: 49px;
        }
        div.TreeNode_group_td3{
            margin-right: 21px;
        }

        .grey {
            background-color: #dedede;
            height: 23px;
            vertical-align: middle;
            padding-top: 5px;
            width: 100%;
        }

        .white {
            background-color: #f1f1f1;
            height: 22px;
            vertical-align: middle;
            padding-top: 5px;
            width: 100%;
        }

         .selectpicker{
            cursor:pointer;
        }

        .styleSelect select {
          background: transparent;
          width: 220px;
          padding: 2px;
          border: 0;
          border-radius: 0;
          -webkit-appearance: none;
          color: #000;
        }

        .styleSelect {
          width: 200px;
          background: url("../../Content/common/images/select_arrow.png") no-repeat right #fff;
          border: 1px solid #000;
        }

    </style>

    <!-- Add code to initialize the tree when the document is loaded: -->

    <script type="text/javascript">

    $(function () {
        // Attach the dynatree widget to an existing <div id="tree"> element
        // and pass the tree options as an argument to the dynatree() function:
        $("#tree").dynatree({
            fx: { width: "98%", height: "toggle", duration: 200 },
            selectMode: 1,
            clickFolderMode: 1,
            expandOnAdd: true,
            onActivate: function (node) {

            },
            onClick: function (node, event) {
                //if (event.shiftKey) {
                var r=editNode(node, event);
                return r;
                //  }
            },
            onCustomRender: function (node) {
                if (node.data.title.indexOf("~") === -1) {
                    // Default rendering
                    return false;
                }
                var rowTemplate ="";
                if(node.data.AlternateRowCss)
                    rowTemplate = "<div class='TreeNode" + node.data.AlternateRowCss + "'><div class='TreeNode_title'>[TITLE]</div><div class='TreeNode_columns'>[COLUMNS]<div></div>";
                else
                    rowTemplate = "<div class='TreeNode' style='border-top:1px solid #787878' ><div class='TreeNode_title'>[TITLE]</div><div class='TreeNode_columns'>[COLUMNS]<div></div>";

                var cols_old = node.data.title.split("~");
                var title = "";
                if (cols_old.length)
                    title = "<a href='javascript:void(0)' id='open'>" + cols_old[0] + "</a>";

                var columns = "";
                var ValueColumn1 = "", ValueColumn2 = "", ValueColumn3 = "";
                var StyleValueColumn1 = "style=color:black;font-weight:bold;", StyleValueColumn2 = "style=color:black;font-weight:bold;", StyleValueColumn3 = "style=color:black;font-weight:bold;";
                var TitleColumn1 = $("#ConfgurationPropertyId1").val().length?"###"+$("#ConfgurationPropertyId1").val() + "::":"-9::";
                var TitleColumn2 = $("#ConfgurationPropertyId2").val().length?"###"+$("#ConfgurationPropertyId2").val() + "::":"-9::";
                var TitleColumn3 = $("#ConfgurationPropertyId3").val().length?"###"+$("#ConfgurationPropertyId3").val() + "::":"-9::";
                var TitleColumn= TitleColumn1+TitleColumn2+TitleColumn3;

               // #12::test &&
               // #2::

                if ((node.data.ClientConfigurationsValues) && (TitleColumn.length)){
                    var cols = node.data.ClientConfigurationsValues.split("&&&");
                    for (var i = 0; i < cols.length; i++) {
                        var currentVal = cols[i];
                        if (currentVal.indexOf(TitleColumn1) != -1)
                            ValueColumn1 = currentVal;
                        if (currentVal.indexOf(TitleColumn2) != -1)
                            ValueColumn2 = currentVal;
                        if (currentVal.indexOf(TitleColumn3) != -1)
                            ValueColumn3 = currentVal;
                    }
                }

                if ((node.parent.data.ClientConfigurationsValues) && (TitleColumn.length)) {
                    var cols = node.parent.data.ClientConfigurationsValues.split("&&&");
                    for (var i = 0; i < cols.length; i++) {
                        var currentVal = cols[i];
                        if (currentVal.indexOf(TitleColumn1) != -1)
                            if (!ValueColumn1) {
                                ValueColumn1 = currentVal;
                                StyleValueColumn1 = "style=color:gray;"
                                if (node.data.ClientConfigurationsValuesTemp) {
                                    //replace exisitng title 60:: to some invalid dummy,//not founded
                                    if (node.data.ClientConfigurationsValuesTemp.indexOf(TitleColumn1) != -1)
                                        node.data.ClientConfigurationsValuesTemp=node.data.ClientConfigurationsValuesTemp.replace(TitleColumn1,"###-1::");
                                    node.data.ClientConfigurationsValuesTemp += "&&&" + ValueColumn1;
                                }
                                else
                                    node.data.ClientConfigurationsValuesTemp = ValueColumn1;
                            }
                        if (currentVal.indexOf(TitleColumn2) != -1)
                            if (!ValueColumn2) {
                                StyleValueColumn2 = "style=color:gray;"
                                ValueColumn2 = currentVal;
                                if (node.data.ClientConfigurationsValuesTemp) {
                                    if (node.data.ClientConfigurationsValuesTemp.indexOf(TitleColumn2) != -1)
                                        node.data.ClientConfigurationsValuesTemp=node.data.ClientConfigurationsValuesTemp.replace(TitleColumn2,"###-1::");
                                    node.data.ClientConfigurationsValuesTemp += "&&&" + ValueColumn2;
                                }
                                else
                                    node.data.ClientConfigurationsValuesTemp =ValueColumn2;
                            }
                        if (currentVal.indexOf(TitleColumn3) != -1)
                            if (!ValueColumn3) {
                                StyleValueColumn3 = "style=color:gray;"
                                ValueColumn3 = currentVal;
                                if (node.data.ClientConfigurationsValuesTemp) {
                                    if (node.data.ClientConfigurationsValuesTemp.indexOf(TitleColumn3) != -1)
                                        node.data.ClientConfigurationsValuesTemp=node.data.ClientConfigurationsValuesTemp.replace(TitleColumn3,"###-1::");
                                    node.data.ClientConfigurationsValuesTemp += "&&&" + ValueColumn3;
                                }
                                else
                                    node.data.ClientConfigurationsValuesTemp =ValueColumn3;
                            }
                    }
                }

                if ((node.parent.data.ClientConfigurationsValuesTemp) && (TitleColumn.length)) {
                    var cols = node.parent.data.ClientConfigurationsValuesTemp.split("&&&");
                    for (var i = 0; i < cols.length; i++) {
                        var currentVal = cols[i];
                        if (currentVal.indexOf(TitleColumn1) != -1)
                            if (!ValueColumn1) {
                                StyleValueColumn1 = "style=color:gray;"
                                ValueColumn1 = currentVal;
                                if (node.data.ClientConfigurationsValuesTemp) {
                                    if (node.data.ClientConfigurationsValuesTemp.indexOf(TitleColumn1) != -1)
                                        node.data.ClientConfigurationsValuesTemp=node.data.ClientConfigurationsValuesTemp.replace(TitleColumn1,"###-1::");
                                    node.data.ClientConfigurationsValuesTemp += "&&&" + ValueColumn1;
                                }
                                else
                                    node.data.ClientConfigurationsValuesTemp = ValueColumn1;
                            }
                        if (currentVal.indexOf(TitleColumn2) != -1)
                            if (!ValueColumn2) {
                                StyleValueColumn2 = "style=color:gray;"
                                ValueColumn2 = currentVal;
                                if (node.data.ClientConfigurationsValuesTemp) {
                                    if (node.data.ClientConfigurationsValuesTemp.indexOf(TitleColumn2) != -1)
                                        node.data.ClientConfigurationsValuesTemp=node.data.ClientConfigurationsValuesTemp.replace(TitleColumn2,"###-1::");
                                    node.data.ClientConfigurationsValuesTemp += "&&&" + ValueColumn2;
                                }
                                else
                                    node.data.ClientConfigurationsValuesTemp = ValueColumn2;
                            }
                        if (currentVal.indexOf(TitleColumn3) != -1)
                            if (!ValueColumn3) {
                                StyleValueColumn3 = "style=color:gray;"
                                ValueColumn3 = currentVal;
                                if (node.data.ClientConfigurationsValuesTemp) {
                                    if (node.data.ClientConfigurationsValuesTemp.indexOf(TitleColumn3) != -1)
                                        node.data.ClientConfigurationsValuesTemp=node.data.ClientConfigurationsValuesTemp.replace(TitleColumn3,"###-1::");
                                    node.data.ClientConfigurationsValuesTemp += "&&&" + ValueColumn3;
                                }
                                else
                                    node.data.ClientConfigurationsValuesTemp = ValueColumn3;
                            }
                    }
                }

                if (!ValueColumn1) {
                    StyleValueColumn1 = "style=color:gray;"
                    // convert viewmodel to json model to use in js
                    var ConfigProps = @Html.Raw(jsonConfigProps);
                    if(ConfigProps != null && ConfigProps != "undefined"){
                        var c=ConfigProps.length;
                        for (var i = 0; i < ConfigProps.length; i++)
                        {
                            if(ConfigProps[i].ConfgurationPropertyId == $("#ConfgurationPropertyId1").val()){
                                ValueColumn1 = ConfigProps[i].ConfgurationPropertyId+"::"+ConfigProps[i].DefaultValue;
                                if (node.data.ClientConfigurationsValuesTemp) {
                                    if (node.data.ClientConfigurationsValuesTemp.indexOf(TitleColumn1) != -1)
                                        node.data.ClientConfigurationsValuesTemp=node.data.ClientConfigurationsValuesTemp.replace(TitleColumn1,"###-1::");
                                    node.data.ClientConfigurationsValuesTemp += "&&&" +"###"+ ValueColumn1;
                                }
                                else
                                    node.data.ClientConfigurationsValuesTemp ="###"+ ValueColumn1;
                                break;
                            }
                        }
                    }
                }

                if (!ValueColumn2) {
                    StyleValueColumn2 = "style=color:gray;"
                    var ConfigProps = @Html.Raw(jsonConfigProps);
                    if(ConfigProps != null && ConfigProps != "undefined"){
                        var c=ConfigProps.length;
                        for (var i = 0; i < ConfigProps.length; i++)
                        {
                            if(ConfigProps[i].ConfgurationPropertyId == $("#ConfgurationPropertyId2").val()){
                                ValueColumn2 = ConfigProps[i].ConfgurationPropertyId+"::"+ConfigProps[i].DefaultValue;
                                if (node.data.ClientConfigurationsValuesTemp) {
                                    if (node.data.ClientConfigurationsValuesTemp.indexOf(TitleColumn2) != -1)
                                        node.data.ClientConfigurationsValuesTemp=node.data.ClientConfigurationsValuesTemp.replace(TitleColumn2,"###-1::");
                                    node.data.ClientConfigurationsValuesTemp += "&&&"+"###" + ValueColumn2;
                                }
                                else
                                    node.data.ClientConfigurationsValuesTemp = "###"+ValueColumn2;
                                break;
                            }
                        }
                    }
                }

                if (!ValueColumn3) {
                    StyleValueColumn3 = "style=color:gray;"
                    var ConfigProps = @Html.Raw(jsonConfigProps);
                    if(ConfigProps != null && ConfigProps != "undefined"){
                        var c=ConfigProps.length;
                        for (var i = 0; i < ConfigProps.length; i++)
                        {
                            if(ConfigProps[i].ConfgurationPropertyId == $("#ConfgurationPropertyId3").val()){
                                ValueColumn3 = ConfigProps[i].ConfgurationPropertyId+"::"+ConfigProps[i].DefaultValue;
                                if (node.data.ClientConfigurationsValuesTemp) {
                                    if (node.data.ClientConfigurationsValuesTemp.indexOf(TitleColumn3) != -1)
                                        node.data.ClientConfigurationsValuesTemp=node.data.ClientConfigurationsValuesTemp.replace(TitleColumn3,"###-1::");
                                    node.data.ClientConfigurationsValuesTemp += "&&&"+"###"+ ValueColumn3;
                                }
                                else
                                    node.data.ClientConfigurationsValuesTemp = "###"+ValueColumn3;
                                break;
                            }
                        }
                    }
                }

                if(ValueColumn1)
                    ValueColumn1=ValueColumn1.replace("###","");
                else
                    ValueColumn1="::";

                if(ValueColumn2)
                    ValueColumn2=ValueColumn2.replace("###","");
                else
                    ValueColumn2="::";

                if(ValueColumn3)
                    ValueColumn3=ValueColumn3.replace("###","");
                else
                    ValueColumn3="::";


                if(node.data.GroupId)
                    columns = "<div class='TreeNode_group_td1' ConfgurationPropertyId=" + ValueColumn1.split("::")[0] + " " + StyleValueColumn1 + ">" + ValueColumn1.split("::")[1] + "</div>" +
                         "<div class='TreeNode_group_td2' ConfgurationPropertyId=" + ValueColumn2.split("::")[0] + " " + StyleValueColumn2 + ">" + ValueColumn2.split("::")[1] + "</div>" +
                         "<div class='TreeNode_group_td3' ConfgurationPropertyId=" + ValueColumn3.split("::")[0] + " " + StyleValueColumn3 + ">" + ValueColumn3.split("::")[1] + "</div>";
                else
                    columns = "<div class='TreeNode_td1' ConfgurationPropertyId=" + ValueColumn1.split("::")[0] + " " + StyleValueColumn1 + ">" + ValueColumn1.split("::")[1] + "</div>" +
                        "<div class='TreeNode_td2' ConfgurationPropertyId=" + ValueColumn2.split("::")[0] + " " + StyleValueColumn2 + ">" + ValueColumn2.split("::")[1] + "</div>" +
                        "<div class='TreeNode_td3' ConfgurationPropertyId=" + ValueColumn3.split("::")[0] + " " + StyleValueColumn3 + ">" + ValueColumn3.split("::")[1] + "</div>";

                return rowTemplate.replace("[TITLE]", title).replace("[COLUMNS]", columns);

            },

            initAjax: {
                url: "@Url.Action("GetClientConfigurationsTree", "Bus")",
                data: { mode: "all" }
            },
            onPostInit: function (isReloading, isError) {
            },
            onActivate: function (node) {
            }

        });
    });


 //Implement inline editing for a dynatree node
    function editNode(node, e) {
        if (($(e.target).hasClass("TreeNode_td1")) || ($(e.target).hasClass("TreeNode_td2")) || ($(e.target).hasClass("TreeNode_td3"))
            ||($(e.target).hasClass("TreeNode_group_td1")) || ($(e.target).hasClass("TreeNode_group_td2")) || ($(e.target).hasClass("TreeNode_group_td3"))
            ) {

            var PrevValue = $(e.target).text(); tree = node.tree;
            var ConfgurationPropertyId = event.target.getAttribute('ConfgurationPropertyId');
            // Disable dynatree mouse- and key handling
            tree.$widget.unbind();
            // Replace node with <input>
            $(e.target).html("<input id='editNode' style='min-width:198px;height:98%;border:1px solid black;' value='" + PrevValue + "'>");
            // Focus <input> and bind keyboard handler
            $("input#editNode")
              .focus()
              .keydown(function (event) {
                  switch (event.which) {
                      case 27: // [esc]
                          $(this).blur();
                          break;
                      case 13: // [enter]
                          // simulate blur to accept new value
                          var newValue = $("input#editNode").val().trim();
                          $.post("/Bus/SetClientConfigurations",
                              {
                                  ConfigurationPropertyId: ConfgurationPropertyId,
                                  PropertyValue: newValue,
                                  GroupId: node.data.GroupId,
                                  CustomerID: node.data.CustomerID,
                                  BusNumber: node.data.BusNumber
                              }
                              )
                              .done(function (result) {
                                  if (result) {
                                      //jAlert("Configuration updated successfully", "Updated");

                                      if(!newValue){
                                          //remove if exists
                                          if (node.data.ClientConfigurationsValues) {
                                              if (node.data.ClientConfigurationsValues.indexOf("###"+ConfgurationPropertyId + "::") != -1){
                                                  //founded
                                                  node.data.ClientConfigurationsValues = node.data.ClientConfigurationsValues.replace("###"+ConfgurationPropertyId + "::" + PrevValue, "###-1::" );
                                              }
                                          }

                                          e.target.style.cssText = "color:gray;font-weight:bold";
                                      }
                                      else{
                                          //update or add
                                          if (node.data.ClientConfigurationsValues) {
                                              if (node.data.ClientConfigurationsValues.indexOf("###"+ConfgurationPropertyId + "::") != -1){
                                                  node.data.ClientConfigurationsValues = node.data.ClientConfigurationsValues.replace("###"+ConfgurationPropertyId + "::" + PrevValue, "###"+ConfgurationPropertyId + "::" + newValue);
                                              }
                                              else
                                                  node.data.ClientConfigurationsValues += "###"+ConfgurationPropertyId + "::" + newValue + "&&&";
                                          }
                                          else
                                              node.data.ClientConfigurationsValues = "###"+ConfgurationPropertyId + "::" + newValue + "&&&";

                                          e.target.style.cssText = "color:black;font-weight:bold";
                                      }

                                      $(e.target).html(newValue);

                                      $("#tree").dynatree("getTree").redraw();
                                  }
                                  else {
                                      //jAlert("Configuration updated failed", "Failure");
                                      $(e.target).html(PrevValue);
                                  }

                              })
                              .fail(function () {
                                  //jAlert("Unable to update configuration", "Failure");
                                  $(e.target).html(PrevValue);
                              });

                          tree.$widget.bind();
                          node.focus();
                          break;
                  }
              }).blur(function (event) {
                  $("input#editNode").val(PrevValue);
                  $(e.target).html(PrevValue);
                  // Accept new value, when user leaves <input>
                  // Re-enable mouse and keyboard handlling
                  tree.$widget.bind();
                  node.focus();
              });

            //Note: for dynatree editing needed to return false otherwise true. As with false expand / collapse will not work.
            return false;
        }
        else
            return true;
    }

    // called onchange of combo boxes
    function ChangeConfiguration(ddl) {
        var confgId = $(ddl).val();
        UpdateDefaultValuesRow(confgId);
        $("#tree").dynatree("getTree").redraw();
    }

    // Top rows for config property and its default values
    function UpdateDefaultValuesRow(confgId) {
        var ValueColumn1 = "", ValueColumn2 = "", ValueColumn3 = "";
        var PropertyColumn1 = "", PropertyColumn2 = "", PropertyColumn3 = "";

        var TitleColumn1 = $("#ConfgurationPropertyId1").val();
        var TitleColumn2 = $("#ConfgurationPropertyId2").val();
        var TitleColumn3 = $("#ConfgurationPropertyId3").val();

        var ConfigProps = @Html.Raw(jsonConfigProps);
        if(ConfigProps != null && ConfigProps != "undefined"){

            var c=ConfigProps.length;
            for (var i = 0; i < ConfigProps.length; i++)
            {
                if(ConfigProps[i].ConfgurationPropertyId == TitleColumn1){
                    ValueColumn1=ConfigProps[i].DefaultValue; 
                    PropertyColumn1=ConfigProps[i].PropertyName; 
                }

                if(ConfigProps[i].ConfgurationPropertyId == TitleColumn2){
                    ValueColumn2=ConfigProps[i].DefaultValue; 
                    PropertyColumn2=ConfigProps[i].PropertyName; 
                }
                
                if(ConfigProps[i].ConfgurationPropertyId == TitleColumn3){
                    ValueColumn3=ConfigProps[i].DefaultValue; 
                    PropertyColumn3=ConfigProps[i].PropertyName; 
                }

            }
        }

        var rowTemplateProperty = "<div class='TreeNode' style='width:99%;margin-top:2px;'><div class='TreeNode_titleproperty' style='color:black;margin-left:20px;font-weight: bold;'>Name</div><div class='TreeNode_columns'>";
        var columnsProperty = "<div class='TreeNode_td1' style='color:gray;overflow-wrap: break-word;vertical-align:top;white-space: normal;font-size:14px;font-weight: bold;' >" + PropertyColumn1 + "</div>"+ 
                      "<div class='TreeNode_td2'style='color:gray;overflow-wrap: break-word;vertical-align:top;white-space: normal;font-size:14px;font-weight: bold;'>" + PropertyColumn2 + "</div>"+ 
                      "<div class='TreeNode_td3'style='color:gray;overflow-wrap: break-word;vertical-align:top;white-space: normal;font-size:14px;font-weight: bold;'>" + PropertyColumn3 + "</div>"; 

        rowTemplateProperty+=columnsProperty+"<div></div>";
        $("#configPropertyNameRow").html(rowTemplateProperty);

        var rowTemplateValues = "<div class='TreeNode' style='width:99%;border-top:1px solid #787878;;margin-top:2px;'><div class='TreeNode_titleproperty' style='color:black;margin-left:20px;font-weight: bold;'>Default value</div><div class='TreeNode_columns'>";
        var columns = "<div class='TreeNode_td1' style='color:gray;font-size:14px;font-weight: bold;' >" + ValueColumn1 + "</div>"+ 
                      "<div class='TreeNode_td2'style='color:gray;font-size:14px;font-weight: bold;'>" + ValueColumn2 + "</div>"+ 
                      "<div class='TreeNode_td3'style='color:gray;font-size:14px;font-weight: bold;'>" + ValueColumn3 + "</div>"; 

        rowTemplateValues+=columns+"<div></div>";
        $("#configDefaultValuesRow").html(rowTemplateValues);

    }

</script>
}

<div style="border: solid 1px #000; border-top-left-radius: 4px; border-top-right-radius: 4px;">
     <div class=" treenode" style="background-color:#555; height:35px; width:100%">
    <div style="width:64%; float:left; display: inline-block"><!--dont remove this div. it's important for current layout--></div>
    <div class="TreeNode_columns">

        <div class="TreeNode_td_header">
            <div style='display:@((Model.ConfigSelectionStatus == "0" || Model.ConfigurationPropertiesList.Count() > 1) ? "inline" : "none")'>
                <div class="styleSelect">
                    @Html.DropDownListFor(model => model.ConfgurationPropertyId1, Model.ConfigurationPropertiesList, "", new { onchange = "ChangeConfiguration(this)", @class = "selectpicker" })
                    @Html.HiddenFor(model => model.ConfgurationChanged1)
                    @Html.ValidationMessageFor(model => model.ConfgurationPropertyId1)
                    <input type="hidden" id="ConfgurationPropertyId1" name="ConfgurationPropertyId1" value='@Model.ConfgurationPropertyId1' />
                </div>
            </div>
        </div>

        <div class="TreeNode_td_header">
            <div style='display:@((Model.ConfigSelectionStatus == "0" || Model.ConfigurationPropertiesList.Count() > 1) ? "inline" : "none")'>
                <div class="styleSelect">
                    @Html.DropDownListFor(model => model.ConfgurationPropertyId2, Model.ConfigurationPropertiesList, "", new { onchange = "ChangeConfiguration(this)", @class = "selectpicker" })
                    @Html.HiddenFor(model => model.ConfgurationChanged2)
                    @Html.ValidationMessageFor(model => model.ConfgurationPropertyId2)
                    <input type="hidden" id="ConfgurationPropertyId2" name="ConfgurationPropertyId2" value='@Model.ConfgurationPropertyId2' />
                </div>
            </div>
        </div>

        <div class="TreeNode_td_header">
            <div style='display:@((Model.ConfigSelectionStatus == "0" || Model.ConfigurationPropertiesList.Count() > 1) ? "inline" : "none")'>
                <div class="styleSelect">
                    @Html.DropDownListFor(model => model.ConfgurationPropertyId3, Model.ConfigurationPropertiesList, "", new { onchange = "ChangeConfiguration(this)", @class = "selectpicker" })
                    @Html.HiddenFor(model => model.ConfgurationChanged3)
                    @Html.ValidationMessageFor(model => model.ConfgurationPropertyId3)
                    <input type="hidden" id="ConfgurationPropertyId3" name="ConfgurationPropertyId3" value='@Model.ConfgurationPropertyId3' />
                </div>
            </div>
        </div>

    </div>
    </div>
</div>

<div id="configPropertyNameRow"> </div>

<div id="configDefaultValuesRow"> </div>

<div id="tree"> </div>

