﻿@using Kendo.Mvc.UI
@model IBI.Web.ViewModels.Admin.Schedules.ScheduleModel


@{
    ViewBag.Title = "Mermaid IBI System - Sign Addons";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section Head{

    <link href="@Url.Content("~/Content/dynatree/skin/ui.dynatree.destinations.css")" rel="stylesheet" type="text/css" />

    <script src="@Url.Content("~/Scripts/dynatree/jquery.dynatree.js")" type="text/javascript"></script>

    <script src="@Url.Content("~/Scripts/kendo/kendo.web.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/kendo/kendo.aspnetmvc.min.js")" type="text/javascript"></script>


    <link href="@Url.Content("~/Content/kendo/kendo.common.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/kendo.default.min.css")" rel="stylesheet" type="text/css" />


    @if (this.Context == null)
    {
        <script src="../Scripts/kendo/kendo.all-vsdoc.js" type="text/javascript"></script>
        <script src="../Scripts/jquery/json2.js" type="text/javascript"></script>
    }


    <style>
        label {
            display: inline;
        }

        .regular-checkbox {
            display: none;
        }

            .regular-checkbox + label {
                background-color: #fafafa;
                border: 1px solid #cacece;
                box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
                padding: 9px;
                border-radius: 3px;
                display: inline-block;
                position: relative;
            }

                .regular-checkbox + label:active, .regular-checkbox:checked + label:active {
                    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
                }

            .regular-checkbox:checked + label {
                background-color: #e9ecee;
                border: 1px solid #adb8c0;
                box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
                color: #99a1a7;
            }

        .big-checkbox:checked + label:after {
            font-size: 24px;
            left: 3px;
        }

        .regular-checkbox:checked + label:after {
            content: '\2714';
            position: absolute;
            top: 3px;
            color: #99a1a7;
        }

        /*.regular-checkbox:checked + label:after {
            content: '\2714';
            font-size: 14px;
            position: absolute;
            top: 0px;
            left: 3px;
            color: #99a1a7;
        }*/
        .big-checkbox + label {
            padding: 12px;
        }
        /*.big-checkbox:checked + label:after {
            font-size: 28px;
            left: 6px;
        }*/
        .big-checkbox:checked + label:after {
            font-size: 24px;
            left: 3px;
        }
         
    </style>



    <!-- Comments for KHI: Why css embedded here -->
    <style type="text/css">
        div.TreeNode {
            display: inline-block;
            min-width: 1100px;
            min-width: 1100px;
            vertical-align: middle;
            font-family: Tahoma;
            font-size: 9pt;
        }

        div.TreeNode_title {
            display: inline-block;
            float: left;
            font-weight: bold;
            font-family: Tahoma;
            width: 150px;
            max-width: 150px;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            word-wrap: normal;
        }

        div.TreeNode_titleMain {
            display: inline-block;
            vertical-align: middle;
            font-family: Arial;
            font-size: 8pt;
            font-weight: bold;
            border: solid 1px #747474;
            background-color: #383838;
            color: #fff;
            width: 1152px; 
            min-width: 1152px;
            border-radius: 2px;
            overflow: hidden;
            position: static;
            padding-top: 10px;
            padding-bottom: 10px;
            text-align:right;
        }

        div.TreeNode_columns {
            display: inline;
            float: right;
            /*margin-right: 30px;*/
            text-align: right;
            vertical-align: middle;
            font-family: Tahoma;
            min-width: 1100px;
            max-width: 1100px;
            /*padding-top: 10px;*/
            /*padding-bottom: 10px;*/
        }

        div.TreeNode_td_header {
            margin-right: 8px; 
            display: inline-block;
            /*width: 100px;*/
            min-width: 40px;
            text-align: left;
            vertical-align: bottom;
            padding-top: 3px;
            text-decoration: none;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden; 
        }

            div.TreeNode_td_header:nth-child(1) {
                float: left;
                margin-left: -5px;
                width: 80px;
                max-width: 80px; 
                text-align: left;
                word-wrap: normal;
            }

            div.TreeNode_td_header:nth-child(2) {
                width: 50px;
                max-width: 50px; 
                /*margin-left: 15px;*/
                text-align: left;
            }

            div.TreeNode_td_header:nth-child(3) {
                width: 250px;
                max-width: 250px; 
                text-align: left;
                word-wrap: normal;
            }

            div.TreeNode_td_header:nth-child(4) {
                width: 250px;
                max-width: 250px;
                
                text-align: left;
                word-wrap: normal;
            }

            div.TreeNode_td_header:nth-child(5) {
                width: 200px;
                max-width: 200px;
                
                text-align: left;
                word-wrap: normal;
            }

            div.TreeNode_td_header:nth-child(6) {
                width: 50px;
                max-width: 50px; 
                text-align: center;
                word-wrap: normal;
            }

            div.TreeNode_td_header:nth-child(7) {
                width: 50px;
                max-width: 50px; 
                text-align: center;
                word-wrap: normal;
            }

            div.TreeNode_td_header:nth-child(8) {
                width: 50px;
                max-width: 50px; 
                text-align: center;
                word-wrap: normal;
            }


        /*
           div.TreeNode_header {display: inline-block; width:95%;  vertical-align:middle; background-color:#595959; color:#efefef; vertical-align:middle; height: 30px;}
           div.TreeNode_title{ display: inline-block; width: 700px; float:left;}
           */


        .grey {
            background-color: #dedede;
            height: 23px;
            vertical-align: middle;
            padding-top: 5px;
            padding-left: 15px;
            background-image: url('../Content/dynatree/skin/row-tip-gray.png');
            background-position: left center;
            background-repeat: no-repeat;
        }

        .white {
            background-color: #f1f1f1;
            height: 22px;
            vertical-align: middle;
            padding-top: 5px;
            padding-left: 15px;
            background-image: url('../Content/dynatree/skin/row-tip-white.png');
            background-position: left center;
            background-repeat: no-repeat;
        }

        .emptyRow {
            background-color: #fff;
            height: 22px;
            vertical-align: middle;
            padding-top: 5px;
            padding-left: 10px;
        }


        div.checkbox > label > img {
            padding: 0px;
            height: 25px;
            width: 25px;
            background: white;
            border-radius: 3px;
            margin-top: 5px;
            border: 1px solid #ccc;
        }

        div.checkbox > label > input:checked + img {
            background-image: url(../images/destinations/inactive.png);
            background-repeat: no-repeat;
            background-position: center center;
            background-color: white;
        }

        .styled-select select {
            background: transparent;
            background-color: white;
            width: 200px;
            padding-left: 7px;
            border-radius: 3px;
            height: 30px;
            font-family: Arial;
            font-size: 13px;
            position: relative;
        }

        .GButton {
            display: inline-block;
            color: white;
            background-color: #8da341;
            border-radius: 3px;
            border-bottom: solid 1px #bbb;
            padding-top: 12px;
            padding-bottom: 12px;
            padding-left: 5px;
            padding-right: 5px;
            text-align: center;
            font-size: 13px;
            /**/
            width: 110px;
            height: 16px;
        }
    </style>


    <!-- Add code to initialize the tree when the document is loaded: -->
    <!-- Add code to initialize the tree when the document is loaded: -->

    <script type="text/javascript">


      $(function () {


          $('#checkimg').click(function () {
              if ($('.myCheckbox').prop('checked')) {
                  $('.myCheckbox').get()[0].setAttribute("checked", "checked");
              }
              else {
                  $('.myCheckbox').get()[0].removeAttribute("checked");
              }
          });



          $("#treeSchedule").dynatree({
              fx: {height: "toggle", duration: 200 },
              selectMode: 1,
              clickFolderMode: 1,
              expandOnAdd: true,
              onActivate: function (node) {

              },
              onCustomRender: function (node) {
                  // Render title as columns

                  if (node.data.title.indexOf("~") === -1) {
                      // Default rendering
                      return false;
                  }
                  var cols = node.data.title.split("~");

                  var rowTemplate = "<div class='TreeNode" + node.data.AlternateRowCss + "'><div class='TreeNode_columns'>[TITLE][COLUMNS]</div></div>";


                  var title = "";
                  var columns = "";

                  for (var i = 0; i < cols.length; i++) {


                      var currentVal = cols[i];

                      //logic for node title link

                      var function2Call = "";

                      if (i == 0) {


                        //function2Call = "EditDestination(" + node.data.CustomerId + ", '" + node.data.Line + "', '" + node.data.Text + "', '" + node.data.SelectionStructure + "', " + node.data.Priority + ", " + node.data.IsActive + ")";
                          function2Call = "EditSchedule(" + node.data.ScheduleId + ")";


                        currentVal = "<span style='font-size: 8pt; font-weight: bold;'>" + cols[i] + "</span>";

                        currentVal = "<div class='TreeNode_td_header'><a href='javascript:void(0)' id='open' onclick=\"" + function2Call + "\">" + currentVal + "</a></div>";
                        title = currentVal;
                      }
                      else {

                          //logic for Edit link
                          if (currentVal == "[EDIT]") {
                              //function2Call = "EditDestination(" + node.data.CustomerId + ", '" + node.data.Line + "', '" + node.data.Text + "', '" + node.data.SelectionStructure + "', " + node.data.Priority + ", " + node.data.IsActive + ")";
                              function2Call = "EditSchedule("  + node.data.ScheduleId + ")";
                              currentVal = "<a href='javascript:void(0)' id='editSchedule' onclick=\"" + function2Call + "\" title='" + node.data.Priority + "'><img src='/images/destinations/edit.png' title='edit' /></a>";
                              //currentVal = "edit";

                          }

                          if (currentVal == "[ACTIVE]") {
                              currentVal = "<img title='Active' src='/images/destinations/green.png' style='vertical-align: middle; width: 12px; height: 12px;' />";
                          }

                          if (currentVal == "[INACTIVE]") {
                              currentVal = "<img title='Inactive' src='/images/destinations/red.png' style='vertical-align: middle; width: 12px; height: 12px;' />";
                          }

                          if (currentVal == "[IMAGE]") {
                              function2Call = "ShowScheduleImages(" + node.data.ScheduleId + ")";
                              currentVal = "<a href='javascript:void(0)' id='images' onclick=\"" + function2Call + "\"><img src='/images/destinations/img.png' title='Preview' /></a>";
                              //currentVal = "img";
                          }

                          if (currentVal == "[VIEW]") {
                              function2Call = "ShowScheduleStops(" + node.data.ScheduleId + ")";
                              currentVal = "<a href='javascript:void(0)' id='stops' onclick=\"" + function2Call + "\"><img src='/images/buttons/stops.png' title='Schedule Stops' /></a>";
                              //currentVal = "img";
                          }

                          if (currentVal == "[DOWNLOAD]") {

                              currentVal = "<a onclick=\"window.open('../ScheduleTree/DownloadSchedule?scheduleId=" + node.data.ScheduleId + "', '_blank')\" href='javascript:void(0)'  id='download'><img src='/images/buttons/download.png' title='Download' style='width:8px; height:10px;' /></a>";
                              //currentVal = "img";
                          }


                          if (currentVal == "[SORT]") {
                              var treeId = "#treeSchedule";
                              function2Call = "SortUp('" + treeId + "', '" + node.data.key + "'," + node.data.GroupId + "," + node.data.ScheduleId + "," + node.data.ParentGroupId + ")";
                              currentVal = "<a href='javascript:void(0)' id='images' onclick=\"" + function2Call + "\"><img title='" + node.data.key + ' ^ ' + node.data.Priority + "' src='/images/destinations/scrollup.png' style='display: inline; vertical-align: middle; width: 14px; height: 10px; cursor:hand; cursor: pointer' /></a>";
                              function2Call = "SortDown('" + treeId + "', '" + node.data.key + "'," + node.data.GroupId + "," + node.data.ScheduleId  + "," + node.data.ParentGroupId + ")";
                              currentVal += "<a href='javascript:void(0)' id='images' onclick=\"" + function2Call + "\"><img title='" + node.data.key + ' ^ ' + node.data.Priority + "' src='../images/destinations/scrolldown.png' style='display: inline; vertical-align: middle; width: 14px; height: 10px; cursor:hand; cursor: pointer' /></a>";

                          }

                          currentVal = currentVal.replace("/images/", "../images/");

                          columns += "<div class='TreeNode_td_header'><pre>" + currentVal + "</pre></div>";

                      }


                  }

                  return rowTemplate.replace("[TITLE]", title).replace("[COLUMNS]", columns);
                  //alert(html);


              },

              initAjax: {
                  url: '@Url.Action("GetScheduleTree", "Admin", new  {custandType = string.Format("{0}|{1}", Model.CustomerId, "1")})',
                  data: { mode: "all" }
              },
              onPostInit: function (isReloading, isError) {
                  if (!isError && this.getNodeByKey(0) != null) {

                  }
                  this.reactivate();
              },
              onActivate: function (node) {

                  //alert(node.data.title);
              }

          });
      });


      $(document).ready(function () {
          //HACK bcoz Model.ValidTo is not populating well itself, though it supposed to be auto populating.

          var custId = '@Model.CustomerId';


          $("#CategoryChanged").val('');
          $("#CustomerChanged").val('');

          $("#CustomerId").val('@Model.CustomerId');

      });

      function ChangeCustomer(ddl) {
          var customerid = $(ddl).val();
          $("#CustomerId").val(customerid);
          //alert('category changed:' + id);
          $("#CustomerChanged").val("true");
          document.forms["frmFilters"].submit();
      }
    </script>
}




@using (Html.BeginForm("Schedules", "Admin", FormMethod.Post, new { id = "frmFilters", name = "frmFilters" }))
    {

    <table class="ibiForm"  cellspacing="5" cellpadding="5" style="width: 1155px;border-collapse:separate; border: 1px solid #efefef; border-bottom: 1px solid #cdcdcd; background-color: #f0f0f0; border-radius: 2px;">

        <tr>

            <td style="padding-top:5px; padding-left:10px; vertical-align:bottom">
                <span style='display:@((Model.CustSelectionStatus=="0" ||  Model.CustomerList.Count()>1) ? "inline" : "none" )'>
                    <b>Customer</b>
                </span>
            </td>
            <td style="padding-top:5px; vertical-align:bottom;"></td>

            <td rowspan="2" valign="bottom" class="title" style='text-align: right; padding-right:10px; padding-bottom:6px; visibility:@((Model.CustSelectionStatus == "0") ? "hidden" : "visible");'>
                <img src="@Url.Content("../Images/bustree/refresh.png")" title="Reload" onclick="javascript: bReloadTree = true; ReloadDynaTree();" style="cursor:pointer; vertical-align:bottom" />
                &nbsp; &nbsp; &nbsp; &nbsp;
                @*<a class="GButton" href="javascript:void(0)" onclick="AddGroup(@Model.CustomerId)">
                            New Group
                    </a>*@

                <a class="GButton" href="javascript:void(0)" onclick="UploadSchedule(@Model.CustomerId)">
                    Upload Schedule
                </a>

            </td>
        </tr>
        <tr>
            <td valign="middle" style=' width:210px; padding-left:10px;'>
                <div style='display:@((Model.CustSelectionStatus=="0" ||  Model.CustomerList.Count()>1) ? "inline" : "none" )'>
                    <div class="styled-select">
                        @Html.DropDownListFor(model => model.CustomerId, Model.CustomerList, "SELECT", new { onchange = "ChangeCustomer(this)" })
                        @Html.HiddenFor(model => model.CustomerChanged)
                        @Html.ValidationMessageFor(model => model.CustomerId)
                        <input type="hidden" id="CustomerId" name="CustomerId" value='@Model.CustomerId' />
                    </div>
                </div>
            </td>
            <td valign="bottom" style="text-align:left; width:150px;">
                <div class="checkbox" style="display:none;">

                    @*<input type="checkbox" id="chkStatus" class="myCheckbox" style="display:none" />
                        <img id="checkimg" />*@
                    <input type="checkbox" id="chkStatus" class="regular-checkbox big-checkbox" /><label for="chkStatus"></label>

                </div>
            </td>
        </tr>
    </table>
    <br />

    }


@if (ViewBag.ErrorMessage != null)
     {
    <table id="errBox" class="errorBox" width="100%">
        <tr>
            <td style="padding:8px;" class="error">

                <b>@ViewBag.ErrorMessage</b>

            </td>

            <td align="right" valign="top">
                <div style="margin:5px; width:20px; font-weight:bold; background-color:#ccc; color:red; text-align:center; border: solid 1px #777; padding:5px;"><a href="javascript: document.getElementById('errBox').style.display = 'none';" style="display:block;">X</a></div>
            </td>
        </tr>
    </table>
     }



<div class="TreeNode_titleMain" >
    @*<img src="~/Images/destinations/DCU1.png" style="vertical-align:text-bottom" />*@
     
    <div class="TreeNode_columns" style="float:right;">

        <div class="TreeNode_td_header">
           Schedule 
        </div>

        <div class="TreeNode_td_header" style="">
           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Line
        </div>
        <div class="TreeNode_td_header" style="">
            &nbsp;&nbsp;&nbsp;&nbsp; From
        </div>
        <div class="TreeNode_td_header" style="">
            &nbsp;&nbsp;&nbsp; Destination
        </div>
        <div class="TreeNode_td_header" style="">
            &nbsp;&nbsp; Via
        </div>
        <div class="TreeNode_td_header">
            &nbsp;&nbsp;&nbsp; Edit
        </div>
        <div class="TreeNode_td_header">
            &nbsp; Stops
        </div>
        <div class="TreeNode_td_header">
            @*Download*@
        </div>

    </div>
</div>

<div id="treeSchedule" style="max-width:1150px;"> </div>


<!--start - Popup Windo Stuff-->
<!--Kendo UI Window -> used for both Buses and Group's detail-->
@(Html.Kendo().Window()
                .Visible(false)
                .Name("UploadSchedule")
                .Modal(true)
                .Scrollable(false)
                .Title("Upload Schedule")
                .Draggable()
                .Width(490)
                .Height(300)
                .Events(events => events.Close("ReloadDynaTree"))
)

@(Html.Kendo().Window()
                .Visible(false)
                .Name("EditSchedule")
                .Modal(true)
                .Scrollable(false)
                .Title("Edit Schedule")
                .Draggable()
                .Width(550)
                .Height(500)
                .Events(events => events.Close("ReloadDynaTree"))
)


@(Html.Kendo().Window()
                .Visible(false)
                .Name("ScheduleStops")
                .Modal(true)
                .Scrollable(true)
                .Title("Schedule Stops")
                .Draggable()
                .Width(800)
                .Height(500)
                .Events(events => events.Close("ReloadDynaTree"))
)
<script>

    var bReloadTree = false;



    function UploadSchedule(custId) {

        var window = $("#UploadSchedule").data("kendoWindow");

        $("#UploadSchedule").parent().css("padding-top", "0px");


        $("#UploadSchedule").css("overflow", "hidden");
        $("#UploadSchedule").css("background-color", "#ddd");

        window.center().open().content("<div style='text-align: left; height: 100px'>... Loading ...</div>").refresh({
            url: '@Url.Action("UploadSchedule", "ScheduleTree")',
            data: {
                customerId: custId
            }
        });
    }


    function EditSchedule(id) {

        var window = $("#EditSchedule").data("kendoWindow");

        $("#EditSchedule").parent().css("padding-top", "0px");


        $("#EditSchedule").css("overflow", "hidden");
        $("#EditSchedule").css("background-color", "#ddd");

        window.center().open().content("<div style='text-align: left; height: 100px'>... Loading ...</div>").refresh({
            url: '../ScheduleTree/EditSchedule',
            data: {
                scheduleId: id
            }
        });
    }



    //function ShowDestinationImages(id) {
    //    //alert(id);
    //    ShowStops(id);
        //}


    function ShowScheduleStops(id) {
        //alert(id);
        var window = $("#ScheduleStops").data("kendoWindow");

        $("#ScheduleStops").css("overflow", "scroll");
        $("#ScheduleStops").css("background-color", "#ddd");

        window.center().open().content("<div style='text-align: left; height: 100px'>Please Wait...</div>").title("Schedule Stops");
        window.refresh({
            url: '@Url.Action("ScheduleStops", "ScheduleTree")',
            data: {
                ScheduleId: id
            }
        });
    }


    //function RefreshPropertyWindow() {
    //    if (selectedcustId != null && selectedBusNumber != null) {
    //        //bReloadTree = true;
    //        ShowBusDetail(selectedcustId, selectedBusNumber)
    //    }
    //}

    function ReloadDynaTree() {
        if (bReloadTree) {
            bReloadTree = false;

            $("#treeSchedule").dynatree("getTree").reload();

            $("#ScheduleStops").data("kendoWindow").refresh();
            $("#UploadSchedule").data("kendoWindow").refresh();
            $("#EditSchedule").data("kendoWindow").refresh();
        }
    }

</script>


<style scoped>
    #example {
        min-height: 360px;
    }
</style>
<!--end - Popup Window Stuff-->
