﻿@model  IPagination<IBI.Web.ViewModels.Infotainment.VTCScreenDumb>
@using Kendo.Mvc.UI

@using MvcContrib.Pagination
@using MvcContrib.Sorting 
@using MvcContrib.UI.Grid
@using IBI.Web.Common
 

@{
    ViewBag.Title = "Mermaid IBI - Infotainment Status";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Head{

    
    <script src="@Url.Content("~/Scripts/kendo/kendo.web.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/kendo/kendo.aspnetmvc.min.js")" type="text/javascript"></script> 
     

    <link href="@Url.Content("~/Content/kendo/kendo.common.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/kendo.default.min.css")" rel="stylesheet" type="text/css" /> 

    <link href="@Url.Content("~/Content/template/table-grid.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/template/general.css")" rel="stylesheet" type="text/css" />
}

<!--Kendo UI Window -> used for both Buses and Group's detail-->
    
          @(Html.Kendo().Window()
            .Visible(false)
            .Name("ScreenshotWindow")
            .Modal(false)            
            .Scrollable(false)            
            .Draggable() 
            .Width(465)
            .Height(410)
        )

<script>

   


   function ShowScreenshots(busnumber) {

       var window = $("#ScreenshotWindow").data("kendoWindow");

       window.title(false);
        $("#ScreenshotWindow").parent().css("padding-top", "0px");

       $("#ScreenshotWindow").css("overflow", "hidden");
       $("#ScreenshotWindow").css("background-color", "#efefef");
        window.center().open().content("<div style='text-align: left; height: 100px'>Please Wait...</div>");
        window.refresh({
            url: "@Url.Action("Frame", "Screenshot")",
            data: { busNumber: busnumber, clientType: "VTC" }
        });
   }
</script>

  

<!-- Searched Results - start -->   

    @{
        var grid = Html.Grid(Model)
        .Columns(column =>
        {
            column.Custom(c => WebUtil.FormatVTCScreenDumb(c.C1)).Named("");
            column.Custom(c => WebUtil.FormatVTCScreenDumb(c.C2)).Named("");
            column.Custom(c => WebUtil.FormatVTCScreenDumb(c.C3)).Named("");
            column.Custom(c => WebUtil.FormatVTCScreenDumb(c.C4)).Named("");
            column.Custom(c => WebUtil.FormatVTCScreenDumb(c.C5)).Named("");
            column.Custom(c => WebUtil.FormatVTCScreenDumb(c.C6)).Named("");

        })
     .Attributes(@class => "table-list")
     .RenderUsing(new IBI.Web.Infrastructure.ContribGrid.GridNoHeaderRenderer<IBI.Web.ViewModels.Infotainment.VTCScreenDumb>())
     .RowAttributes(data => new MvcContrib.Hash(@class => data.IsAlternate == true ? "gridrow" : "gridrow"))   
     ;
     }
        
<div>
     @grid   
</div>
     
        