﻿@using Kendo.Mvc.UI

@{
    ViewBag.Title = "Mermaid IBI System - Bus Status";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section Head{

    
    <link href="@Url.Content("~/Content/dynatree/skin/ui.dynatree.css")" rel="stylesheet" type="text/css" />
    
    <script src="@Url.Content("~/Scripts/dynatree/jquery.dynatree.js")" type="text/javascript"></script>
    
    <script src="@Url.Content("~/Scripts/kendo/kendo.web.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/kendo/kendo.aspnetmvc.min.js")" type="text/javascript"></script> 
     

    <link href="@Url.Content("~/Content/kendo/kendo.common.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/kendo.default.min.css")" rel="stylesheet" type="text/css" />
     

    @if (this.Context == null) 
    { 
     <script src="../Scripts/kendo/kendo.all-vsdoc.js" type="text/javascript"></script> 
     <script src="../Scripts/jquery/json2.js" type="text/javascript"></script>
    }
    
     

    <style type="text/css">
        
           div.TreeNode {display: inline-block; width:95%; min-width:850px; vertical-align:middle;}          
           div.TreeNode_title{ display: inline-block;  float:left;}           

           div.TreeNode_columns{ display: inline; float:right; margin-right: 30px; text-align:right; vertical-align:middle;  } 

           div.TreeNode_td_header {  margin-right:3px; display: inline-block; width: 50px; min-width: 50px; max-width:50px; text-align:center; vertical-align:middle; padding-top:3px;}
           div.TreeNode_td {  margin-right:5px; display: inline-block; width: 50px; min-width: 50px; max-width:50px;   text-align:center;    }
           /*div.TreeNode_td:nth-child(8) { display: inline-block; width: 20px; }
           
           
           div.TreeNode_header {display: inline-block; width:95%;  vertical-align:middle; background-color:#595959; color:#efefef; vertical-align:middle; height: 30px;}
           div.TreeNode_title{ display: inline-block; width: 700px; float:left;} 
           */
         
          
          .grey{background-color: #dedede; height: 23px; vertical-align:middle; padding-top:5px; width:100%}
          .white{background-color: #f1f1f1; height: 22px; vertical-align:middle; padding-top:5px;width:100%}
          
          
        .BUS_GREEN 
        {
        background-color: #00A800; width: 16px; height: 16px; display:inline-block; border:solid 1px #787878; border-radius: 3px;
        }
        .BUS_LIGHT_GREEN 
        {
            background-color: #A6FF4D; width: 16px; height: 16px; display:inline-block; border:solid 1px #787878; border-radius: 3px;
        }
        .BUS_GREY
        {
            background-color: #999999; width: 16px; height: 16px; display:inline-block; border:solid 1px #787878; border-radius: 3px;
        }
        .BUS_LIGHT_GREY
        {
        background-color: #dedede; width: 16px; height: 16px; display:inline-block; border:solid 1px #787878; border-radius: 3px;
        }
        .BUS_RED
          {
            background-color: #FF4D4D; width: 16px; height: 16px; display:inline-block; border:solid 1px #787878; border-radius: 3px;
        }
        .BUS_YELLOW 
          {
            background-color: #FFFF00; width: 16px; height: 16px; display:inline-block; border:solid 1px #787878; border-radius: 3px;
        }
        .BUS_ORANGE
          {
            background-color: #FFBF00; width: 16px; height: 16px; display:inline-block; border:solid 1px #787878; border-radius: 3px;
        }
        .BUS_NONE 
          {
            background-color: transparent; display:inline;
        }
         
        .CounterBox
        {   margin-right:4px;
            margin-left: 3px;
            font-weight: bold;
            text-align: right;
            width: 20px;
            display: inline-block;
            vertical-align: top;
        }
        
        
        /*CODA TIP Styles*/ 
        .bubbleInfo {
            position: relative;
           /* top: 150px;
            left: 100px;
            width: 500px;*/
        }
        .trigger {
            /*position: absolute; display:inline;*/
        }
       
        .popup {
        	position: static;
        	display: none;        	
        	z-index: 10000000; 
        	
        }
        .popup table
        {
            border: solid 1px #999;
        	background-color: #efefef; 
        	border-radius:5px;
        }
        .popup table td
        {padding: 3px;  }
         
  </style>

  
<!-- Add code to initialize the tree when the document is loaded: -->
  
  <script type="text/javascript">
       

      $(function () {
          // Attach the dynatree widget to an existing <div id="tree"> element
          // and pass the tree options as an argument to the dynatree() function:
          $("#tree").dynatree({ 
              fx: {width:"98%", height: "toggle", duration: 200 },
              selectMode: 1,
              clickFolderMode: 1,
              expandOnAdd: true,
              onActivate: function (node) {
                    
              },
              onCustomRender: function (node) {
                  // Render title as columns
                   
                  //ko.applyBindings(new viewModel('@Session["BusTreeCounter_GREEN"]', '@Session["BusTreeCounter_GREY"]', '@Session["BusTreeCounter_LIGT_GREY"]', '@Session["BusTreeCounter_ORANGE"]', '@Session["BusTreeCounter_RED"]', '@Session["BusTreeCounter_YELLOW"]'));

                  if (node.data.title.indexOf("~") === -1) {
                      // Default rendering
                      return false;
                  }
                  var cols = node.data.title.split("~");
                  
                  var rowTemplate = "<div class='TreeNode" + node.data.AlternateRowCss + "'><div class='TreeNode_title'>[TITLE]</div><div class='TreeNode_columns'>[COLUMNS]<div></div>";
                   
                
                    var title = "";
                    var columns = "";                
                            
                  for (var i = 0; i < cols.length; i++) {
                  

                      var currentVal = cols[i];

                      //logic for node title link
                      if(i==0){
                        
                        var function2Call = "";
                        switch(node.data.Type){
                            case 1:
                            {
                                function2Call="ShowGroupDetail('"+node.data.GroupId+"')";
                                break;
                            }
                            case 2:
                            {
                                function2Call="ShowBusDetail('"+ node.data.BusDetail.CustomerID + "', '"+node.data.BusNumber+"')";
                                break;
                            }
                        }
                        currentVal = "<a href='javascript:void(0)' id='open' onclick=\"" + function2Call + "\">" + cols[i] + "</a>";
                        title = currentVal;
                      } 
                      else{
                        currentVal = currentVal.replace("/images/", "../images/");
                        columns += "<div class='TreeNode_td'>" + currentVal + "</div>";
                      }
                      

                  }
                   
                  return rowTemplate.replace("[TITLE]", title).replace("[COLUMNS]", columns);
                  //alert(html);
                   
              },

              initAjax: {
                  url: "@Url.Action("TreeDataByREST", "Bus")", 
                  data: { mode: "all"  } 
              }, 
             onPostInit: function(isReloading, isError) 
             {        
                 if (!isError && this.getNodeByKey(0) != null) {
                    var clientInformation = this.getNodeByKey(0).data.ClientInformation;
                    
                    var green = 0;
                    var grey = 0;
                    var lightGrey = 0;
                    var orange = 0;
                    var red = 0;
                    var yellow = 0; 
                    var inOperation = 0;
                    var inActive = 0;
                    var chGreen = false;
                    var chGrey = false;
                    var chLightGrey = false;
                    var chOrange = false;
                    var chRed = false;
                    var chYellow = false;

                    if(clientInformation!=null)
                        {
                            clientInformation = clientInformation.toLowerCase();

                            //alert(clientInformation);
                            var arrInfo = clientInformation.split('|'); //split counters & filters arrInfo[0] = counters, arrInfo[1] = filters
                            
                            if(arrInfo[0]) //Color Counters
                            {
                                var colorCounterArray =  arrInfo[0].split(',');
                                green = colorCounterArray[0];
                                grey = colorCounterArray[1];
                                lightGrey = colorCounterArray[2];
                                orange = colorCounterArray[3];
                                red = colorCounterArray[4];
                                yellow = colorCounterArray[5];
                                inOperation = colorCounterArray[6];
                                inActive = colorCounterArray[7];
                            }

                            if(arrInfo[1]) //Color Filters
                            {
                                var colorFilterArray =  arrInfo[1].split(',');
                                chGreen = colorFilterArray[0]=="true";
                                chGrey = colorFilterArray[1]=="true";
                                chLightGrey = colorFilterArray[2]=="true";
                                chOrange = colorFilterArray[3]=="true";
                                chRed = colorFilterArray[4]=="true";
                                chYellow = colorFilterArray[5]=="true";
                            }        
                        } 

                    ko.applyBindings(new viewModel(green, grey, lightGrey, orange, red, yellow, inOperation, inActive, chGreen, chGrey, chLightGrey, chOrange, chRed, chYellow ));
                    
                    setSupportCaseToolTip();

                }
                this.reactivate();
             },
            onActivate: function(node) {
//                // Use status functions to find out about the calling context
//                var isInitializing = node.tree.isInitializing(); // Tree loading phase
//                var isReloading = node.tree.isReloading(); // Loading phase, and reading status from cookies
//                var isUserEvent = node.tree.isUserEvent(); // Event was triggered by mouse or keyboard

                //alert(node.data.title);
            }
              
          });
      });
       

       //Bubble Tooltip
        var bubble_zIndex = 99999;
        function setSupportCaseToolTip() {
            $('.bubbleInfo').each(function () {
                
                this.style.zIndex = bubble_zIndex--;
                
                var distance = -10;
                var time = 250;
                var hideDelay = 300;

                var hideDelayTimer = null;

                var beingShown = false;
                var shown = false;
                var trigger = $('.trigger', this);
                var info = $('.popup', this).css('opacity', 0);


                $([trigger.get(0), info.get(0)]).mouseover(function () {
                    if (hideDelayTimer) clearTimeout(hideDelayTimer);
                    if (beingShown || shown) {
                        // don't trigger the animation again
                        return;
                    } else {
                        // reset position of info box
                        beingShown = true;

                        info.css({ 
                            display: 'block',
                            marginLeft: -80,
                            float: 'right'
                        }).animate({
                            top: '-=' + distance + 'px', 
                            marginLeft: -80,
                            opacity: 1
                        }, time, 'swing', function () {
                            beingShown = false;
                            shown = true;
                        });
                    }

                    return false;
                }).mouseout(function () {
                    if (hideDelayTimer) clearTimeout(hideDelayTimer);
                    hideDelayTimer = setTimeout(function () {
                        hideDelayTimer = null;
                        info.animate({
                            top: '-=' + distance + 'px',
                            opacity: 0
                        }, time, 'swing', function () {
                            shown = false;
                            info.css('display', 'none');
                        });

                    }, hideDelay);

                    return false;
                });
            });
        }
     
  </script>
}
 
    
    @using (Html.BeginForm("BusTree", "Bus", FormMethod.Post, new { id = "frmReloadBusTree", name = "frmReloadBusTree" }))
    {
 
    <table width="100%" cellspacing="5" cellpadding="5" style="border-collapse:separate; border:solid 1px #ababab; background-color:#f0f0f0; border-radius:5px; padding-top:6px; padding-bottom:6px; ">
        <tr>
            <td valign="top" >
                <input name="chkRed" type="checkbox"  data-bind="checked: fRed" />
                <div class="BUS_RED" style="height:12px;"></div>
                <span data-bind="text: counterRed, attr: {class: 'CounterBox'}"></span>
                 unaccounted            
            </td>
             <td valign="top" >
                <input name="chkYellow" type="checkbox"  data-bind="checked: fYellow" />
                <div class="BUS_YELLOW"  style="height:12px;"></div>
                <span data-bind="text: counterYellow, attr: {class: 'CounterBox'}"></span>
                 has Service Case            
            </td> 
            <td valign="top" >
                <input name="chkGreen" type="checkbox"  data-bind="checked: fGreen"  />
                <div class="BUS_GREEN" style="height:12px;"></div>                
                <span data-bind="text: counterGreen, attr: {class: 'CounterBox'}"></span>
                 online          
            </td> 
            <td>&nbsp;
                @*<span data-bind="text: counterInOperation, attr: {class: 'CounterBox'}"></span>
                 in operation*@
            </td>
            <td rowspan="2" valign="bottom">
                <input type="image" src="@Url.Content("../Images/bustree/refresh.png")" title="Reload"  />
            </td>
        </tr>
        <tr>
            <td valign="top" >
                <input name="chkOrange" type="checkbox"  data-bind="checked: fOrange"  />
                <div class="BUS_ORANGE" style="height:12px;"></div>
                <span data-bind="text: counterOrange, attr: {class: 'CounterBox'}"></span> 
                 unaccounted critical             
            </td> 
       
            <td valign="top" >
                <input name="chkLightGrey" type="checkbox"  data-bind="checked: fLightGrey"  />
                <div class="BUS_LIGHT_GREY" style="height:12px;"></div>
                <span data-bind="text: counterLightGrey, attr: {class: 'CounterBox'}"></span> 
                 not in operation        
            </td>
            <td valign="top" >
                <input name="chkGrey" type="checkbox"  data-bind="checked: fGrey"  />
                <div class="BUS_GREY" style="height:12px;"></div>            
                <span data-bind="text: counterGrey, attr: {class: 'CounterBox'}"></span>
                 with no schedule
            </td>
             <td>&nbsp;
                @*<span data-bind="text: counterInActive, attr: {class: 'CounterBox'}"></span>
                 inactive*@
            </td>
        </tr>
    </table>
    <br /> 
    
    }
  
 
     @if (ViewBag.ErrorMessage != null)
     { 
         <table id="errBox" class="errorBox" width="100%">
            <tr>
                <td style="padding:8px;" class="error">
                
                    <b>@ViewBag.ErrorMessage</b>
                
                </td>

                <td align="right" valign="top">
                    <div style="margin:5px; width:20px; font-weight:bold; background-color:#ccc; color:red; text-align:center; border: solid 1px #777; padding:5px;"><a href="javascript: document.getElementById('errBox').style.display = 'none';" style="display:block;">X</a></div>    
                </td>
            </tr>
         </table> 
     }

     <div style="border: solid 1px #000; border-top-left-radius: 4px; border-top-right-radius: 4px;"">
     <div class="TreeNode" style="background-color:#555; height:35px; width:100%">
        <div style="width:64%; float:left; display: inline-block"><!--dont remove this div. it's important for current layout--></div>
        <div class="TreeNode_columns" > 
            <div class="TreeNode_td_header">
                <img src="@Url.Content("../Images/bustree/ccu_32x32.png")" style="width:20px; height:24px;" title="CCU" alt="" />
            </div>  
            <div class="TreeNode_td_header">        
                <img src="@Url.Content("../Images/bustree/dcu_32x32.png")" style="width:20px; height:24px;" title="DCU" alt="" />
            </div>   
                 
            <div class="TreeNode_td_header">
                <img src="@Url.Content("../Images/bustree/vtc_32x32.png")"  style="width:20px; height:24px;" title="VTC" alt="" />
            </div>
            <div class="TreeNode_td_header">
                <img src="@Url.Content("../Images/bustree/wifi_32x32.png")"  style="width:20px; height:24px;" title="Hotspot" alt="" />
            </div>
            <div class="TreeNode_td_header">
                <img src="@Url.Content("../Images/bustree/infotainment_32x32.png")"  style="width:20px; height:24px;" title="Infotainment" alt="" />
            </div>
            <div class="TreeNode_td_header">
                <img src="@Url.Content("../Images/bustree/preview_32x32.png")"  style="width:20px; height:20px;" title="Preview" alt="" />
            </div>
            <div class="TreeNode_td_header">
                <img src="@Url.Content("../Images/bustree/in-service_32x32.png")"  style="width:20px; height:20px;" title="In Service" alt="" />
            </div>
            <div class="TreeNode_td_header">
                <img src="@Url.Content("../Images/bustree/service-case_32x32.png")" style="width:20px; height:20px;"  title="Support Case"  alt="" />
            </div> 

        </div>
    </div>
      </div>
  
  
        <div id="tree"> </div> 
    
      
    <!--start - Popup Windo Stuff-->
    
             <!--Kendo UI Window -> used for both Buses and Group's detail-->
    
             @(Html.Kendo().Window()
                .Visible(false)
                .Name("PropertyWindow")
                .Modal(true)
                .Scrollable(false)
                .Title("Detail Window")
                .Draggable() 
                .Width(500)
                .Events(events => events.Close("ReloadDynaTree"))
            )
    

            @(Html.Kendo().Window()
                .Visible(false)
                .Name("ScreenshotWindow")
                .Modal(true)
                .Scrollable(false)            
                .Draggable() 
                .Width(465)
                .Height(410)
            )

    <script> 

        var selectedcustId;
        var selectedBusNumber;
        var bReloadTree = false;

        function ShowBusDetail(custId, bNo) {

            selectedcustId = custId;
            selectedBusNumber = bNo;

            var window = $("#PropertyWindow").data("kendoWindow");
        
            $("#PropertyWindow").css("overflow", "hidden"); 
            $("#PropertyWindow").css("background-color", "#ddd"); 

            window.center().open().content("<div style='text-align: left; height: 100px'>... Loading ...</div>").title("Bus Properties").refresh({
                url: "BusDetail",
                data: { customerId: custId,
                        busNo: bNo 
                }
                });    
        }
        
        function RefreshPropertyWindow() {
            if (selectedcustId != null && selectedBusNumber != null) {
                //bReloadTree = true;
                ShowBusDetail(selectedcustId, selectedBusNumber)
            }
        }

        function ReloadDynaTree() {
            if (bReloadTree) {
                bReloadTree = false;
                $("#tree").dynatree("getTree").reload();
            }
        }

        function ShowGroupDetail(grpId) {

            var window = $("#PropertyWindow").data("kendoWindow");
        
            $("#PropertyWindow").css("overflow", "hidden");
            $("#PropertyWindow").css("background-color", "#ddd"); 

            window.center().open().content("<div style='text-align: left; height: 100px'>... Loading ...</div>").title("Group Properties").refresh({
                url: "GroupDetail",
                data: {groupId : grpId}
            });

        }

        function ShowScreenshots(busnumber) {

            var window = $("#ScreenshotWindow").data("kendoWindow");

            window.title(false);
            $("#ScreenshotWindow").parent().css("padding-top", "0px");

            $("#ScreenshotWindow").css("overflow", "hidden");
            $("#ScreenshotWindow").css("background-color", "#ddd");

            window.center().open().content("<div style='text-align: left; height: 100px'>... Loading ...</div>").refresh({
                url: "@Url.Action("Frame", "Screenshot")",
                data: { busNumber: busnumber }
            });
        }

    </script>

 
    <script type="text/javascript">

        var viewModel = function (gr, gy, lg, or, re, ye, io, ia, chkGr, chkGy, chkLg, chkOr, chkRe, chkYe)
        {
            //color counters
            this.counterGreen = ko.observable(gr);
            this.counterGrey = ko.observable(gy);
            this.counterLightGrey = ko.observable(lg);
            this.counterOrange = ko.observable(or);
            this.counterRed = ko.observable(re);
            this.counterYellow = ko.observable(ye);
            this.counterInOperation = ko.observable(io);
            this.counterInActive = ko.observable(ia);

            //filters
            this.fGreen = ko.observable(chkGr);
            this.fGrey = ko.observable(chkGy);
            this.fLightGrey = ko.observable(chkLg);
            this.fOrange = ko.observable(chkOr);
            this.fRed = ko.observable(chkRe);
            this.fYellow = ko.observable(chkYe);

        };

        ko.applyBindings(new viewModel(0, 0, 0, 0, 0, 0, 0, 0, true, true, true, true, true, true)); 

    </script>

    <style scoped>
        #example 
        {
            min-height: 360px;
        }
    </style>
      <!--end - Popup Window Stuff-->
 