﻿@model  IBI.Shared.Models.BusTree.Group


@{
   
    Layout = null;
}
@*
@section Head
{
    <script type="text/javascript">
        function helloWorld() {
            alert("Hello World");
        }
    </script>
}

@section PopUp
{  
*@   
    <div class="input-table box">
        <form action="Bus/GroupDetail" method="post">
            
            <table cellspacing="10" cellpadding="5">
                <tbody>
                
                <tr>
                    <td class="title"> Customer:</td>
                    <td>@Model.CustomerName</td>  
                </tr>
                
                <tr>
                    <td class="title">Group:</td>
                    <td>
                        @Model.GroupName
                    </td>
                </tr>

                <tr>
                    <td class="title">
                        Parent Group
                    </td>
                    <td>
                       @Model.ParentGroupName
                    </td>
                </tr>

                @*<tr>
                    <td></td>
                    <td>
                        <input type="submit" value="Save" disabled="disabled"  />
                    </td>
                </tr>*@
                <script>
                    
                </script>
                </tbody>
            </table>

        </form>
    </div>

 
 