﻿@model IBI.Web.ViewModels.BusTree.BusStatus.BusStatusModel 
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Modify Bus Alias Window</title>
   
    <script>
        $(document).ready(function () {
            $('#ModifyBusAliasWindow').data().kendoWindow.bind('refresh', function (e) {
                var win = this;
                $('#ModifyAliasClose').click(function () {
                    win.close();
                })
            })
        });

        function FormSuccess(data) {
            var errMsg = data.LoadAfterSave;
            if (errMsg) {
                $("#errorMsg").html(data.ErrorMessage);
                bReloadTree = true;
                $('#ModifyBusAliasWindow').data("kendoWindow").close();
            }
            else {
                $("#errorMsg").html(data.ErrorMessage);
                $('input[type=submit]').removeAttr("disabled").removeClass("disabled");
            }
        }
    </script>
</head>
<body>
     <div id="AjaxContents"  class="input-table">
      <div> 
       @{
           var htmlAttributes = new Dictionary<string, object> { { "data-autopostback", "true" } }; 
        }    
        @using (Ajax.BeginForm("ModifyBusAlias", "Bus", new AjaxOptions { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, OnSuccess = "FormSuccess", OnBegin = "beginAjaxSubmit" }))
        {
            <table>
                <tr>
                    <td colspan="2">
                        <div id="errorMsg" style="width: 240px;height: 14px;color:red"></div>
                    </td>
                </tr>
                <tr>
                    <td>
                       @* <label>Bus Alias</label>*@
                       @Html.LabelFor(model => model.BusAlias)
                    </td>
                    <td>
                        @*@Html.TextBoxFor(model => model.BusAlias, new {@class="inputbox2", placeholder="Input Alias" })*@
                        <input id="BusAlias" name="BusAlias" placeholder="Input Alias" type="text" value="@(Model.BusAlias)" maxlength="150" style="width: 150px;height: 19px;border-radius: 3px;border: none;font-size: 13px;font-family: Arial;padding-left: 3px;">
                    </td>
                </tr>
                <tr>
                    <td style="display:hidden;">
                        @Html.HiddenFor(model => model.BusNumber)
                        @Html.HiddenFor(model => model.CustomerId)
                    </td>
                    <td >
                        <input type="submit" value="Save" /> 
                        <a href="#" class="button" id="ModifyAliasClose">Cancel</a>                                                                        
                    </td>
                </tr>
            </table>
        } 
         </div> <!--inputTable - end-->
    </div><!--AjaxContents - end--> 
</body>
</html>
