﻿@model List<IBI.Shared.Models.TTS.AudioFile>
@using Kendo.Mvc.UI
@using MvcContrib.Pagination
@using MvcContrib.Sorting
@using MvcContrib.UI.Grid
@using IBI.Web.Common

@{
    ViewBag.Title = "Approval";
    Layout = null;
}
 

<div id="dvDetail">

    <style>
        .header, .header:hover, .header:focus, .header:active, .header:visited {
            border: none;
            background: none;
            background-color: transparent;
            font-weight: bold;
            width: 100%;
            text-align: left;
            color: #454545;
        }

        .pager, .pager:hover, .pager:focus, .pager:active, .pager:visited {
            border: solid 1px #9a9a9a;
            background-color: #efefef;
            display: inline-block;
            min-width: 25px;
            max-width: 25px;
            padding: 3px;
            text-align: center;
            margin: 3px;
        }

        .pager-active, .pager-active:hover, .pager-active:focus, .pager-active:active, .pager-active:visited {
            border: solid 1px #000;
            background-color: #a4ca06;
            display: inline-block;
            min-width: 25px;
            max-width: 25px;
            padding: 3px;
            padding-left: 2px;
            padding-right: 2px;
            text-align: center;
            font-weight: bold;
            margin: 3px;
        }
    </style>

            @{
        SortingPagingInfo info = ViewBag.SortingPagingInfo;
        if (info == null) {
            info = new SortingPagingInfo();
            info.SearchFilterA = true;
            info.SearchFilterR = false;
            info.SearchFilterU = false;
        }
    }
  
    <script>
        function onSubmit(e) {
            return false;
        }
    </script>

    @using (Ajax.BeginForm("ApprovalContents", "Audio", new { }, new AjaxOptions { HttpMethod = "GET", InsertionMode = InsertionMode.Replace, UpdateTargetId = "dvDetail", OnBegin = "beginAjaxSubmit" }))
    {
        @Html.Hidden("SearchKeyword", info.SearchKeyword)
        @Html.Hidden("SearchFilterA", info.SearchFilterA)
        @Html.Hidden("SearchFilterR", info.SearchFilterR)
        @Html.Hidden("SearchFilterU", info.SearchFilterU)
        @Html.Hidden("SortField", info.SortField)
        @Html.Hidden("SortDirection", info.SortDirection)
        @Html.Hidden("PageCount", info.PageCount)
        @Html.Hidden("PageSize", info.PageSize)
        @Html.Hidden("CurrentPageIndex", info.CurrentPageIndex)

        <div class="input-table grey-box">
            <table>
                <tr>
                    <td>
                        <label>Stop Name</label>
                        @Html.TextBox("stopName", ViewData["StopName"])

                    </td>

                    <td align="right">
                        @*<input type="radio" name="filter" onclick="filterData('a')" @(info.SearchFilter=="a" ? "checked" : "") />Approved
                        <input type="radio" name="filter" onclick="filterData('r')" @(info.SearchFilter=="r" ? "checked" : "") />Rejected
                        <input type="radio" name="filter" onclick="filterData('u')" @(info.SearchFilter=="u" ? "checked" : "") />Unapproved*@ 
                        &nbsp;&nbsp; <input type="checkbox" id="filterA" onclick="filterDataA()" @(info.SearchFilterA == true ? "checked" : "") />Approved
                        &nbsp;&nbsp; <input type="checkbox" id="filterR" onclick="filterDataR()" @(info.SearchFilterR == true ? "checked" : "") />Rejected
                        &nbsp;&nbsp; <input type="checkbox" id="filterU" onclick="filterDataU()" @(info.SearchFilterU == true ? "checked" : "") />Unapproved

                        
                       
                    </td>
                    <td valign="bottom">
                        <input type="submit" id="bntSearch" value="Search" onclick="doSearch()" style="margin-top:0px;" />
                        @* @if (Model.FilterViewModel.StopName == null && Model.FilterViewModel.StopName != "")
                            {
                            <div style="display: inline;" class="error">
                               Please enter a stop name
                            </div>
                            }*@

                    </td>
                </tr>
            </table>
        </div>
        <br />
        <br />


     
        if (Model != null && Model.Count() > 0)
        {      
         
            <table class="table-list">
                <tr>
                    <th><input type="submit" class="header" data-sortfield="Text" value="Stop Name"></th>
                    <th><input type="submit" class="header" data-sortfield="Voice" value="Voice"></th>
                    <th><input type="submit" class="header" data-sortfield="Version" value="Version"></th>
                    <th><input type="submit" class="header" data-sortfield="Filename" value="Filename"></th>
                    <th><input type="submit" class="header" data-sortfield="Approved" value="Approved"></th>
                    <th><input type="submit" class="header" data-sortfield="Rejected" value="Rejected"></th>
                    <th><input type="submit" class="header" data-sortfield="LastModified" value="LastModified"></th>

                    <th></th>
                    <th></th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Text</td>
                        <td>@item.Voice</td>
                        <td>@item.Version</td>
                        <td>@item.Filename</td>
                        <td>@(item.Approved ? "Yes" : "No")</td>
                        <td>@(item.Rejected ? "Yes" : "No")</td>
                        <td>@item.LastModified.Value.ToString(IBI.Web.Common.Settings.DateTimeFormat.ToString())</td>
                        <td><a href="javascript:void(0);" class="link" onclick="PlayAudioFile( '@item.Voice', '@item.Filename')">Play</a></td>
                        <td><a href="javascript:void(0);" class="link" onclick="AudioFileDetail('@item.Filename', '@item.Voice', '@item.Approved', '@item.Rejected')">Modify</a></td>
                    </tr>
                }
                
                <tr>
                    <td colspan="8" style="display:none">
                        <br /><br />
                        <b>Pages: </b>
                        @for (var i = 0; i < info.PageCount; i++)
                        {
                            if (i == info.CurrentPageIndex)
                            {
                                <b class="pager-active">@(i + 1)</b>
                            }
                            else
                            {
                                <input type="submit" data-pageindex="@i" class="pager" value="@(i + 1)" style="margin-top:0px;" />
                            }
                        }
                    </td>
                </tr>
            </table>
        }
        else
        {
            <div class="no-data">There are no audio files available</div>
        }
     

    } <!--end form-->
     
    <!-- Searched Results - end -->
    @(Html.Kendo().Window()
            .Visible(false)
            .Name("AudioFileDetail")
            .Modal(true)
            .Scrollable(false)
            .Title("Audio File")
            .Draggable()
            .Width(500)
            .Height(320)
    )


    @(Html.Kendo().Window()
            .Visible(false)
            .Name("PlayAudio")
            .Modal(true)
            .Scrollable(false)
            .Title("Audio Preview")
            .Draggable()
            .Width(500)
            .Height(300)
    )

    @(Html.Kendo().Window()
            .Visible(false)
            .Name("PreviewAudio")
            .Modal(true)
            .Scrollable(false)
            .Title("Generate Audio Preview")
            .Draggable()
            .Width(500)
            .Height(300)
    )

    @(Html.Kendo().Window()
            .Visible(false)
            .Name("UploadAudioFile")
            .Modal(true)
            .Scrollable(false)
            .Title("Upload Audio File")
            .Draggable()
            .Width(500)
            .Height(250)
    )
    <script>
          
        $(document).ready(function () {

            $(".table-list tr:even").css("background-color", "#eee");

              $(".header").click(function (evt) {
                  var sortfield = $(evt.target).data("sortfield");
                
                  $("#SearchKeyword").val(document.getElementById('stopName').value);
                  if ($("#SortField").val() == sortfield) {
                      if ($("#SortDirection").val() == "ascending") {
                          $("#SortDirection").val("descending");
                      }
                      else {
                          $("#SortDirection").val("ascending");
                      }
                  }
                  else {
                      $("#SortField").val(sortfield);
                      $("#SortDirection").val("ascending");
                  }

                  $("#CurrentPageIndex").val('0');
                  debugger
                  return true;
              });

              $(".pager").click(function (evt) {
                  var pageindex = $(evt.target).data("pageindex");
                  $("#CurrentPageIndex").val(pageindex);
                  debugger 
                  return true;
              });

               

          });
          
          function filterDataA() {
              debugger
              if ($("#filterA").is(':checked')) {
                  $("#SearchFilterA").val(true); 
              }
              else {
                  $("#SearchFilterA").val(false);
              }
              //$("#SearchFilter").val(filter);
              return false;
          }

          function filterDataR() {
              debugger
              if ($("#filterR").is(':checked')) {
                  $("#SearchFilterR").val(true);
              }
              else {
                  $("#SearchFilterR").val(false);
              }
              //$("#SearchFilter").val(filter);
              return false;
          }


          function filterDataU() {
              debugger
              if ($("#filterU").is(':checked')) {
                  $("#SearchFilterU").val(true);
              }
              else {
                  $("#SearchFilterU").val(false);
              }
              //$("#SearchFilter").val(filter);
              return false;
          }

          function doSearch() {
             // alert($("#SearchFilter").val());
              debugger

              if ($("#stopName").val().length < 3) {
                  jAlert("You must enter at least 3 characters to search stops");
                  endAjaxSubmit();
                  return false;
              }

              $("#CurrentPageIndex").val('0');
              return true;
          }

        function Approve(filename, voice) {

            if (confirm("Are you sure to approve this file?")) {

                //raise post back and call a server side function.



                var request = $.get('../Audio/SetApprovalForAudioFile?fileName=' + filename + '&voice=' + voice + 'status=' + status);

                request.success(function (result) {
                    //alert(result);
                    //repopulate grid.
                    beginHtmlSubmit();

                });

                request.error(function (jqXHR, textStatus, errorThrown) {
                    if (textStatus == 'timeout')
                        alert('Cannot set expirty for this message, The server is not responding at the moment.');

                    if (textStatus == 'error')
                        alert('Status of audio file cannot be changed at the moment. ' + errorThrown);
                });

            }//end if
        }//end RemoveMessage()


        function AudioFileDetail(fName, v, approved, rejected) {

            var s = 'U';
            if (approved != '')
                s = 'A';

            if (rejected != '')
                s = 'R';


            var window = $("#AudioFileDetail").data("kendoWindow");

            $("#AudioFileDetail").css("overflow", "hidden");
            $("#AudioFileDetail").css("background-color", "#ddd");


            _selectedFileName = fName;
            _selectedVoice = v;
            _selectedStatus = s;

            window.center().open().content("<div style='text-align: left; height: 100px'>... Loading ...</div>").title("Audio File").refresh({
                url: "../Audio/AudioFile",
                data:
                    {
                        fileName: fName,
                        voice: v,
                        status: s
                    }
            });
        }
    </script>



    <script>

        function PlayAudioFile(v, fn) {

            //alert("params:" + s + ", " + v + ", " + st);
            var window = $("#PlayAudio").data("kendoWindow");

            $("#PlayAudio").css("overflow", "hidden");
            $("#PlayAudio").css("background-color", "#ddd");

            window.center().open().content("<div style='text-align: left; height: 100px'>... Loading ...</div>").title("Audio Preview").refresh({
                url: "../Audio/AudioPreview",
                data:
                    {
                        voice: v,
                        fileName: fn
                    }
            });

        }

        function OpenPreviewAudio(s, v, st) { //PlayAudio Kendo Windo is present on ApprovalContents view

            @*  var s = "@Html.Encode(Model.Text)";
            var v = "@Model.Voice";
            var st = $('#sourceText').val();*@

            //alert("params:" + s + ", " + v + ", " + st);
            var window = $("#PreviewAudio").data("kendoWindow");

            $("#PreviewAudio").css("overflow", "hidden");
            $("#PreviewAudio").css("background-color", "#ddd");
            //window.center().open().content("<div style='text-align: left; height: 100px'>Please Wait...</div>")
            window.center().open().content("<div style='text-align: left; height: 100px'>... Loading ...</div>").title("Generated Audio Preview").refresh({
                url: "../Audio/AudioPreviewGenerate",
                data:
                    {
                        stopName: s,
                        voice: v,
                        sourceText: st
                    }
            });
        }

        function UploadAudioFilePopup() {
            var window = $("#UploadAudioFile").data("kendoWindow");

            $("#UploadAudioFile").css("overflow", "hidden");
            $("#UploadAudioFile").css("background-color", "#ddd");
            //window.center().open().content("<div style='text-align: left; height: 100px'>Please Wait...</div>")
            window.center().open().content("<div style='text-align: left; height: 100px'>... Loading ...</div>").title("Audio Preview").refresh({
                url: "../Audio/UploadAudioFile",
                data: {}
            });
        }
    </script>

</div>
