﻿@model IBI.Web.ViewModels.Voice.AudioFile.AudioFileViewModel
@using Kendo.Mvc.UI
 
@{
    ViewBag.Title = "AudioFile";
    //Layout = "~/Views/Shared/_Popup.cshtml";
    Layout = null;
}


@* <!--jAlert-->
    <script src="@Url.Content("~/Scripts/plugins/jAlert/jquery.alert.js")" type="text/javascript"></script>
    <link href="@Url.Content("~/Scripts/plugins/jAlert/jquery.alert.css")" rel="stylesheet" type="text/css" /> *@
 
    <script>
       @* $(document).ready(function () {
             
            var loadedAfterSave = '@Model.LoadAfterSave';
            if (loadedAfterSave == 'true') {
                //alert('Message Saved Successfully');
                jAlert("Audio file saved successfully", "Success!!!", callback);
                }

        });*@

        

        function FormSuccess(data) {

            //alert(data.PostResult + '-' + data.ErrorMessage);
            var result = data.PostResult;
            var errMsg = data.ErrorMessage;


            if (result == 'true') {
                jAlert(errMsg, "Success!!!", callback);                
            }
            else {
                jAlert(errMsg, "Failure");
            }

            $('input[type=submit]').removeAttr("disabled").removeClass("disabled");
        }


        function callback() {
            $('input[type=submit]').attr("disabled", false).removeClass("disabled");

            var window = $("#AudioFileDetail").data("kendoWindow");

            $("#AudioFileDetail").css("overflow", "hidden");
            $("#AudioFileDetail").css("background-color", "#ddd");

            window.close();

            $('input[type=submit]').click();

        } 
    </script> 

<div id="dvAudioFile" class="input-table box">

     
     @using (Ajax.BeginForm("AudioFile", "Audio", new { }, new AjaxOptions { HttpMethod = "POST", OnBegin = "beginAjaxSubmit", InsertionMode = InsertionMode.Replace, OnSuccess = "FormSuccess" }))
         {      
        <table>
            <tr>
                <td><b>Text (Stop Name)</b></td>
                <td>
                    @Model.Text 
                </td>
            </tr>
            <tr>
                <td><b>Voice</b></td>
                <td>
                    @Model.Voice
                </td>
            </tr>
            
            <tr>
                <td><b>File name</b></td>
                <td>
                    @Model.Filename
                </td>
            </tr>
           <tr>
                <td><b>Version</b></td>
                <td>
                    @Model.Version
                </td>
            </tr>
             <tr>
                <td><b>Original Source Text</b></td>
                <td>
                    @Model.SourceText
                </td>
            </tr>
            <tr>
                <td><b>Alternate Source Text</b></td>
                <td>
                    @if (!string.IsNullOrEmpty(Model.UploadedMp3Path))
                    {
                        Model.SourceText = "";
                    }
                        
                        @Html.TextBox("sourceText", Model.SourceText, new { })
                    
                    
                     
                </td>
                <td>
                    @*@Html.ActionLink("Preview", "GeneratePreview", null, new{id="Preview", @class="link"})*@
                    <a href="javascript:void(0)" onclick="preview()" class="link"><b>Preview</b></a>
                </td>
            </tr>
             <tr>
                <td><b>Alternate Source Voice</b></td>
                <td>
                    @Model.AlternateSourceVoiceText
                </td>
                <td> 
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <br />
                    <input type="radio" name="statusRadio" value="U"  @(Model.Status == "U" ? "checked='checked'" : "") onclick="SetStatus('U')" /> Unapproved
                    <input type="radio" name="statusRadio" value="A"  @(Model.Status == "A" ? "checked='checked'" : "") onclick="SetStatus('A')" /> Approved
                    <input type="radio" name="statusRadio" value="R"  @(Model.Status == "R" ? "checked='checked'" : "") onclick="SetStatus('R')"/> Rejected

                     
            </tr>
            <tr>
                <td>

                          <b style="color:blue"> @(string.IsNullOrEmpty(Model.UploadedMp3Path) ? "" : " - [ Mp3 attached ] -")</b>
                </td>
                <td>
                    <div style="display:none;">
                        <!--hidden fields [the fields which we dont want to edit ]-->
                        @Html.EditorFor(model => model.Text)
                        @Html.EditorFor(model => model.Voice)
                        @Html.EditorFor(model => model.Status)
                        @Html.EditorFor(model => model.UploadedMp3Path)
                        @Html.EditorFor(model => model.AlternateSourceVoiceText)
                        
                    </div>
                    <input type="submit" value="Save"  />   
                    <div style="float:right;">
                    <a href="#" onclick="UploadAudioFile()">Upload Audio</a> |
                    <a href="#" onclick="DownloadAudioFile()">Download</a>
                    <br /> 
              
                        </div>
                </td>

            </tr>
        </table>
         
         }
        <br /> 
</div>
 
 

    <script>

        function SetStatus(status){
            document.getElementById('Status').value = status;
        }
       
        function UploadAudioFile() {
          @*  var s = "@Html.Encode(Model.Text)";
            var v = "@Model.Voice";
            var st = $('#sourceText').val();*@

            UploadAudioFilePopup();
        }


        function DownloadAudioFile() {
            debugger
            var s = "@Url.Encode(Model.Text)";
            var v = "@Model.Voice";
            var f = "@Model.Filename";

            window.location = '../Audio/Download?fileName=' + f + '&voice=' + v + '&stopName=' + s.replace("'", "''");

            //$.ajax({
            //    type: 'POST',
            //    url: '../Audio/DownloadFilreReady?voice='+v+'filename='+f,
            //    contentType: 'application/json; charset=utf-8',
            //    dataType: 'json',
            //    success: function (returnValue) {
            //        window.location = '../Audio/Download?file=' + returnValue;
            //    }
               
            //});

            //var ajaxRequest = $.ajax({
            //    type: "GET",
            //    url: "../Audio/UploadAudioFile",
            //    contentType: false,
            //    processData: false,
            //    data: data
            //})
            //   .success(function (data) {
            //       if (data == 'WrongFileType') {
            //           jAlert('You can only upload an Mp3 file here');
            //           return;
            //       }

            //       jAlert('Mp3 file uploaded successfully');
            //       bReload = true;
            //       window.$("#UploadAudioFile").data("kendoWindow").close();
            //       RefreshAudioFilePopup();

            //   })
            //   .error(function (data) {
            //       //alert('There is some error uploading your selected Mp3 file');
            //       jAlert("There is some error uploading your selected Mp3 file");

            //   })
            //   .complete(function () {
            //       //do nothing
            //       $("#btnUploadFile").attr("disabled", false).removeClass("disabled");
            //   });
        }

        function preview() { //PlayAudio Kendo Windo is present on ApprovalContents view
           
            // alert("@Html.Encode(Model.Text)");
            // alert("@Model.Voice");
            // alert($('#sourceText').val());

            var s = "@Html.Encode(Model.Text)"; 
            var v = "@Model.Voice";
            var st =  $('#sourceText').val();
            

            OpenPreviewAudio(s, v, st);

            ////alert("params:" + s + ", " + v + ", " + st);
            //var window = $("#PlayAudio").data("kendoWindow");

            //$("#PlayAudio").css("overflow", "hidden");
            //$("#PlayAudio").css("background-color", "#ddd");
            ////window.center().open().content("<div style='text-align: left; height: 100px'>Please Wait...</div>")
            //window.center().open().content("<div style='text-align: left; height: 100px'>... Loading ...</div>").title("Audio Preview").refresh({
            //    url: "../Audio/GeneratePreview",
            //    data:
            //        {
            //            stopName: s,
            //            voice: v,
            //            sourceText: st
            //        }
            //});
        } 

        
@*        var window = $("#ChangePassword").data("kendoWindow");

        window.title(false);
        $("#ChangePassword").parent().css("padding-top", "0px");


        $("#ChangePassword").css("overflow", "hidden");
        $("#ChangePassword").css("background-color", "#ddd");

        window.center().open().content("<div style='text-align: left; height: 100px'>... Loading ...</div>").refresh({
            url: "@Url.Action("ChangePassword", "Account")",
         });*@
        

    </script>
 