﻿@model List<IBI.Shared.Models.TTS.AudioFile>
@using Kendo.Mvc.UI
@using MvcContrib.Pagination
@using MvcContrib.Sorting
@using MvcContrib.UI.Grid
@using IBI.Web.Common

@{
    ViewBag.Title = "Search";
    Layout = null;
}

@section Head{

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.24/jquery-ui.min.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.9/jquery.validate.js" type="text/javascript"></script>

    <script src="@Url.Content("~/Scripts/jquery/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>
    <link href="@Url.Content("~/Content/template/table-grid.css")" rel="stylesheet" type="text/css" />
}



<div id="dvDetail">

    <style>
        .header, .header:hover, .header:focus, .header:active, .header:visited {
            border: none;
            background: none;
            background-color: transparent;
            font-weight: bold;
            width: 100%;
            text-align: left;
            color: #454545;
        }

        .pager, .pager:hover, .pager:focus, .pager:active, .pager:visited {
            border: solid 1px #9a9a9a;            
            background-color: #efefef;
            display: inline-block;            
            min-width: 25px;
            max-width: 25px;
            padding:3px;
            text-align: center;            
            margin: 3px;
        }

        .pager-active, .pager-active:hover, .pager-active:focus, .pager-active:active, .pager-active:visited {
            border: solid 1px #000;
            background-color: #a4ca06;
            display: inline-block;
            min-width: 25px;
            max-width: 25px;
            padding: 3px;
            padding-left: 2px;
            padding-right: 2px;
            text-align: center;
            font-weight: bold;
            margin: 3px;
        }

    </style>
    <!-- Searched Results - start -->
    @*@{
                var grid = Html.Grid(Model.PagedList)
                            .Columns(
                                column=>{
                                    column.For(c => c.Text).Named("Stop Name");
                                    column.For(c => c.Voice).Named("Voice");
                                    column.For(c => c.Version).Named("Version");
                                    column.For(c => c.Filename).Named("FileName");
                                    column.Custom(c => c.Approved ? "Yes" : "No").Named("Approved");
                                    column.Custom(c => c.Rejected ? "Yes" : "No").Named("Rejected");
                                    column.For(c => c.LastModified).Named("Last Modified").Format("{0:MM/dd/yyyy}");
                                    column.Custom(@<a href="javascript:void(0);" class="link" onclick="PlayAudioFile('@IBI.Web.Common.WebUtil.IsNullStr(item.SourceText, "").Replace("\\","\\\\").Replace("'", "''")', '@item.Voice', '@IBI.Web.Common.WebUtil.IsNullStr(item.SourceText, "").Replace("\\","\\\\").Replace("'", "''")', '@item.Filename')">Play</a>).Named("").Attributes(width => "80px");
                                    //column.Custom(@<a target="_blank" class="link" href="@(IBI.Web.Common.Settings.AppPath)/REST/TTSFile.mp3?voice=@(item.Voice)&filename=@(item.Filename.Substring(0, item.Filename.IndexOf('.')))">Audio File</a>).Named("").Attributes(width => "80px");
                                }

                            )
                            .Sort(Model.GridSortOptions)
                            .Attributes(@class => "table-list");

        }*@


    @{
        SortingPagingInfo info = ViewBag.SortingPagingInfo;
    }
    @*@using (Html.BeginForm("SearchContents", "Audio", FormMethod.Post, new { id="frmContents"}))*@

    <script>
        function onSubmit(e) {
            return false;
        }
    </script>

@using (Ajax.BeginForm("SearchContents", "Audio", new AjaxOptions { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, UpdateTargetId = "dvDetail", OnBegin = "beginAjaxSubmit", OnComplete = "endAjaxSubmit" }, new { id="cForm ", onsubmit="cFormSubmit"}))
{

    if (Model != null && Model.Count() > 0)
    {       @Html.Hidden("SearchKeyword", info.SearchKeyword)
            @Html.Hidden("SortField", info.SortField)
            @Html.Hidden("SortDirection", info.SortDirection)
            @Html.Hidden("PageCount", info.PageCount)
            @Html.Hidden("PageSize", info.PageSize)
            @Html.Hidden("CurrentPageIndex", info.CurrentPageIndex)
    
            <table class="table-list">
                <tr>                    
                    <th><input type="submit" class="header" data-sortfield="Text" value="Stop Name"></th>
                    <th><input type="submit" class="header" data-sortfield="Voice" value="Voice"></th>
                    <th><input type="submit" class="header" data-sortfield="Version" value="Version"></th>
                    <th><input type="submit" class="header" data-sortfield="Filename" value="Filename"></th>
                    <th><input type="submit" class="header" data-sortfield="Approved" value="Approved"></th>
                    <th><input type="submit" class="header" data-sortfield="Rejected" value="Rejected"></th>
                    <th><input type="submit" class="header" data-sortfield="LastModified" value="LastModified"></th>
                    
                    <th></th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Text</td>
                        <td>@item.Voice</td>
                        <td>@item.Version</td>
                        <td>@item.Filename</td>
                        <td>@(item.Approved ? "Yes" : "No")</td>
                        <td>@(item.Rejected ? "Yes" : "No")</td>
                        <td>@item.LastModified.Value.ToString(IBI.Web.Common.Settings.DateTimeFormat.ToString())</td>
                        <td><a href="javascript:void(0);" class="link" onclick="PlayAudioFile( '@item.Voice', '@item.Filename')">Play</a></td>
                    </tr>
                }
                
                <tr>
                    <td colspan="8" style="display:none">
                        <br /><br />
                        <b>Pages: </b>
                        @for (var i = 0; i < info.PageCount; i++)
                        {
                            if (i == info.CurrentPageIndex)
                            {
                                <b class="pager-active">@(i + 1)</b>
                            }
                            else
                            {
                                <input type="submit" data-pageindex="@i" class="pager" value="@(i + 1)" />
                            }
                        }
                    </td>
                </tr>
            </table>
    }
    else
    {
            <div class="no-data">There are no audio files available</div>
    }
} <!--end form-->
    @(Html.Kendo().Window()
            .Visible(false)
            .Name("PlayAudio")
            .Modal(true)
            .Scrollable(false)
            .Title("Audio Preview")
            .Draggable()
            .Width(500)
            .Height(300)
    )

    <script>

        $(document).ready(function () {
            $(".table-list tr:even").css("background-color", "#eee");
            $(".header").click(function (evt) {
                var sortfield = $(evt.target).data("sortfield");
                
                $("#SearchKeyword").val(document.getElementById('stopName').value);
                if ($("#SortField").val() == sortfield) {
                    if ($("#SortDirection").val() == "ascending") {
                        $("#SortDirection").val("descending");
                    }
                    else {
                        $("#SortDirection").val("ascending");
                    }
                }
                else {
                    $("#SortField").val(sortfield);
                    $("#SortDirection").val("ascending");
                }

                $("#CurrentPageIndex").val('0');
                
                return true;
            });

            $(".pager").click(function (evt) {
                var pageindex = $(evt.target).data("pageindex");
                $("#CurrentPageIndex").val(pageindex);
                 debugger 
                return true;
            });

            function cFormSubmit() {

                alert(' submitting ');
                return false;
            };

          

        });
         

        function PlayAudioFile(v, fn) {

            //alert("params:" + s + ", " + v + ", " + st);
            var window = $("#PlayAudio").data("kendoWindow");

            $("#PlayAudio").css("overflow", "hidden");
            $("#PlayAudio").css("background-color", "#ddd");

            window.center().open().content("<div style='text-align: left; height: 100px'>... Loading ...</div>").title("Audio Preview").refresh({
                url: "../Audio/AudioPreview",
                data:
                    {
                        voice: v,
                        fileName: fn
                    }
            });

        }
    </script>
</div>