﻿@model List<IBI.Shared.Models.TTS.AudioFile>
@using Kendo.Mvc.UI
@using MvcContrib.Pagination
@using MvcContrib.Sorting
@using MvcContrib.UI.Grid
@using IBI.Web.Common
  

@{
    ViewBag.Title = "Approval";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Head{
      <link href="@Url.Content("~/Content/template/table-grid.css")" rel="stylesheet" type="text/css" />    
    <link href="@Url.Content("~/Scripts/custom-datetime/txtdropdown.css")" rel="stylesheet" type="text/css" /> 

    <script src="@Url.Content("~/Scripts/kendo/kendo.web.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/kendo/kendo.aspnetmvc.min.js")" type="text/javascript"></script> 
     

    <link href="@Url.Content("~/Content/kendo/kendo.common.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/kendo.default.min.css")" rel="stylesheet" type="text/css" />
  
     <!--jAlert-->
    <script src="@Url.Content("~/Scripts/plugins/jAlert/jquery.alert.js")" type="text/javascript"></script>
    <link href="@Url.Content("~/Scripts/plugins/jAlert/jquery.alert.css")" rel="stylesheet" type="text/css" /> 

 
    <script src="@Url.Content("~/Scripts/jwplayer/jwplayer.js")" type="text/javascript"></script>    


<script src="../Scripts/fileupload/vendor/jquery.ui.widget.js"></script>
<script src="../Scripts/fileupload/jquery.iframe-transport.js"></script>
<script src="../Scripts/fileupload/jquery.fileupload.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    

}



@{Html.RenderPartial("ApprovalContents", new List<IBI.Shared.Models.TTS.AudioFile>());}







<script>

    var _selectedFileName;
    var _selectedVoice;
    var _selectedStatus;
    var _selectedApproved ='';
    var _selectedRejected = '';

    function RefreshAudioFilePopup() {
        if (_selectedFileName) {

            if(_selectedStatus=='A')
                _selectedApproved = 'A';
            
            if(_selectedStatus=='R')
                _selectedRejected = 'R';
            
            AudioFileDetail(_selectedFileName, _selectedVoice, _selectedApproved, _selectedRejected);
           
            
        }
    }
</script>