﻿@{
    Layout = null;
} 
 
        <div id="myElementP">Loading Audio Preview...</div>

        <script type="text/javascript">
             
            jwplayer("myElementP").setup({
                file: '@IBI.Web.Controllers.AudioController.GenerateFilePath(ViewData["voice"].ToString(), ViewData["fileName"].ToString())'
            });

        </script>  


<script>
   
</script>

@*
file: '@IBI.Web.Controllers.AudioController.GeneratePreviewFilePath(ViewData["stopName"].ToString() , ViewData["voice"].ToString(), ViewData["sourceText"].ToString())'
 
*@
