﻿@{
    Layout = null;
}

<form  enctype="multipart/form-data">
    <br /><br />
    <div class="input-table grey-box" >
    <table width="100%" cellspacing="5">
        <tr>
            <td>Source Voice</td>
            <td>@*<input type="text" id="sourceVoiceText" />*@
                  <select id="sourceVoiceText">
                    <option value="">- SELECT -</option>
                   @* <option value="bente22k">bente22k</option> 
                    <option value="DANF064-GRETE">DANF064-GRETE</option>  
                    <option value="kari22k">kari22k</option>                      
                    <option value="mette22k">mette22k</option>
                    <option value="olav22k">olav22k</option>
                    <option value="other">- Other -</option> *@
                 </select>
                <br />
                
            </td>
        </tr>
        <tr id="trOtherSource" style="display:none;">
            <td></td>
            <td>
                <small>Other source voice</small>
                <br />
                <input type="text" id="txtSourceVoiceText"  /></td>
        </tr>
        <tr>
            <td>File:</td>
            <td><input type="file" id="fileUpload" />
              

            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <input type="button" id="btnUploadFile" value="Upload" /> 
                @*<input type="button" id="btnClose" value="Close"  />*@
            </td>
        </tr>
    </table>
    </div>
    
   
 </form> 
 
    <script type="text/javascript">
        $(document).ready(function () {

            var ajaxR = $.ajax({
                type: "GET",
                url: "../Audio/GetAllSourceVoices",
                contentType: false,
                processData: false
            }).success(function (data) {
                   //alert(data);
                   $.each(data,function(i,obj)
                   {
                       //alert(obj);
                       var option="<option value="+obj+">"+obj+"</option>";
                       //alert(option);
                       $(option).appendTo('#sourceVoiceText'); 
                   });  

                   var option='<option value="other">- Other -</option>';
                   $(option).appendTo('#sourceVoiceText'); 

               })
               .error(function (data) {
                   //alert('There is some error uploading your selected Mp3 file');
                   jAlert("There is some error in getting voices");

               });


           
              

            $("#sourceVoiceText").on('change', function () {
                if ($("#sourceVoiceText").val() == 'other') {
                    $("#trOtherSource").css('display', 'table-row');
                }
                else {
                    $("#trOtherSource").css('display', 'none');
                }

            });

            $('#btnUploadFile').on('click', function () {
                //$("#btnUploadFile").attr("disabled", true).addClass("disabled");

                var data = new FormData();
                var sourceVoiceText = '';
                if ($("#sourceVoiceText").val() == 'other') {
                    sourceVoiceText = $("#txtSourceVoiceText").val();
                }
                else {
                    sourceVoiceText = $("#sourceVoiceText").val();
                }

                var files = $("#fileUpload").get(0).files;


                if ($("#fileUpload").val() == "") {
                    jAlert("You must select a MP3 file");
                    return;
                }


                if (sourceVoiceText == "") {
                    jAlert("You must provide an alternate source voice");
                    return;
                }

                if ($("#txtSourceVoiceText").val().length > 50) {
                    jAlert("Source voice text must be smaller than 50 characters");
                    return;
                }

                // Add the uploaded image content to the form data collection
                if (files.length > 0) {
                    data.append("UploadedMp3", files[0]);
                    data.append("SourceVoiceText", sourceVoiceText);
                }

                // Make Ajax request with the contentType = false, and procesDate = false
                var ajaxRequest = $.ajax({
                    type: "POST",
                    url: "../Audio/UploadAudioFile",
                    contentType: false,
                    processData: false,
                    data: data
                })
                .success(function (data) {
                    if (data == 'WrongFileType') {
                        jAlert('You can only upload an Mp3 file here');
                        return;
                    }

                    jAlert('Mp3 file uploaded successfully'); 
                    bReload = true;
                    window.$("#UploadAudioFile").data("kendoWindow").close();
                    RefreshAudioFilePopup();

                })
                .error(function (data) { 
                    //alert('There is some error uploading your selected Mp3 file');
                    jAlert("There is some error uploading your selected Mp3 file");
                   
                })
                .complete(function () {
                    //do nothing
                    //$("#btnUploadFile").removeAttr("disabled", false).removeClass("disabled");
                });

                ajaxRequest.done(function (xhr, textStatus) {
                    // Do other operation
                });
            });

            $("#btnClose").on('click', function () {
                window.$("#UploadAudioFile").data("kendoWindow").close();
                RefreshAudioFilePopup();
            });
        });
</script>
     