﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Site.master.cs" Inherits="CMS_Aspx.SiteMaster" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head runat="server">
    <title>Mermaid IBI System</title>
    <link href="~/Styles/Site.css" rel="stylesheet" type="text/css" />
    <link href="Styles/MainStyle.css" rel="stylesheet" type="text/css" />
    <asp:ContentPlaceHolder ID="HeadContent" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <form runat="server">
    <div class="page">
        <div class="header">
            <div class="title">
                <asp:Image ID="Image1" runat="server" ImageUrl="~/Images/mermaidtoplogo.jpg" />   
            </div>
            <div class="loginDisplay">
                <asp:LoginView ID="HeadLoginView" runat="server" EnableViewState="false">
                    <AnonymousTemplate>
                        [ <a href="~/Account/Login.aspx" ID="HeadLoginStatus" runat="server">Log In</a> ]
                    </AnonymousTemplate>
                    <LoggedInTemplate>
                        Welcome <span class="bold"><asp:LoginName ID="HeadLoginName" runat="server" /></span>!
                        [ <asp:LoginStatus ID="HeadLoginStatus" runat="server" LogoutAction="Redirect" LogoutText="Log Out" LogoutPageUrl="~/"/> ]
                    </LoggedInTemplate>
                </asp:LoginView>
            </div>
            <div class="clear hideSkiplink">
                <asp:Menu ID="NavigationMenu" runat="server" CssClass="menu" 
                    EnableViewState="false" IncludeStyleBlock="false" Orientation="Horizontal" 
                    StaticEnableDefaultPopOutImage="False">
                    <Items>
                        <asp:MenuItem NavigateUrl="~/BusOverview.aspx" Text="Bus Overview" 
                            Value="Bus Overview"/>
                        <asp:MenuItem NavigateUrl="~/BusHistory.aspx" Text="Bus History" 
                            Value="Bus History"/>
                        <asp:MenuItem Text="Bus Logs" Value="Bus Logs" 
                            NavigateUrl="~/BusProgressHistory.aspx">
                            <asp:MenuItem NavigateUrl="~/BusProgressHistory.aspx" Text="Progress Logs" 
                                Value="Progress Logs"></asp:MenuItem>
                        </asp:MenuItem>
                        <asp:MenuItem NavigateUrl="~/BusStatus.aspx" Text="Bus Status" 
                            Value="Bus Status"></asp:MenuItem>
                        <asp:MenuItem NavigateUrl="~/InfotainmentAnalyze.aspx" Text="Infotainment" 
                            Value="Infotainment">
                            <asp:MenuItem NavigateUrl="~/InfotainmentAnalyze.aspx" Text="Analyze" 
                                Value="Analyze"></asp:MenuItem>
                            <asp:MenuItem NavigateUrl="~/InfotainmentDump.aspx" Text="Current Status" 
                                Value="Current Status"></asp:MenuItem>
                        </asp:MenuItem>
                        <asp:MenuItem Text="Data" Value="Data">
                            <asp:MenuItem NavigateUrl="~/Schedules.aspx" Text="Schedules" Value="Schedules">
                            </asp:MenuItem>
                            <asp:MenuItem NavigateUrl="~/VAFiles.aspx" Text="VA Files" Value="VA Files">
                            </asp:MenuItem>
                        </asp:MenuItem>
                        <asp:MenuItem NavigateUrl="~/SystemLog.aspx" Text="System" Value="System">
                            <asp:MenuItem NavigateUrl="~/SystemLog.aspx" Text="System Log" 
                                Value="System Log"></asp:MenuItem>
                            <asp:MenuItem NavigateUrl="~/SystemTest.aspx" Text="System Test" 
                                Value="System Test"></asp:MenuItem>
                        </asp:MenuItem>
                    </Items>
                </asp:Menu>
            </div>
        </div>
        <div class="main">
            <asp:ContentPlaceHolder ID="MainContent" runat="server"/>
        </div>
        <div class="clear">
        </div>
    </div>
    <div class="footer">
        
    </div>
    </form>
</body>
</html>
