﻿@model MvcContrib.Pagination.IPagination
@using MvcContrib.UI.Pager
@using System.Text

    <link href="@Url.Content("~/Content/template/table-grid.css")" rel="stylesheet" type="text/css" />
	<style>
	.MainPageView{
		border-radius: 3px;
		background-color: white;
		width: 420px;
		height: 50px;
	}
	.PreviousButton{
		display: inline-block;
		font-family:Arial;
		font-size: 14px;
        padding-left: 3px;
	}
	.NextSpacer{
		display: inline-block;width: 115px;
	}
	.FirstLastSpacer{
		display: inline-block;width: 98px;
	}
	.InnerContainer{
		position: relative;
		top: 13px;
		padding-left: 5px;
	}
    a { color: inherit;
        text-decoration:none
    }
	</style>
<p/>
  @{
    <div class="MainPageView">
		    <div>
			    <div class="InnerContainer">
				    <div class="PreviousButton">
                        @{
                            var url = Request.RawUrl;
                            int index = url.LastIndexOf("&page=");
                            if (index > 0)
                            {
                                url = url.Substring(0, index);
                            }
                            if (Model.HasPreviousPage)
                            {
					            <a href="@string.Format("{0}&page={1}",url,Model.PageNumber-1)">
						            <img src="../images/infotainment/Pre.png" width="8" height="12">
						            Previous
					            </a>
                            }
                            else
                            {
                                var previous = "<img src='../images/infotainment/Pre.png' width='8' height='12'>&nbsp;Previous";
						        @Html.Raw(previous);
                            }                            
                        }
				    </div>
				    <div class="FirstLastSpacer"></div>
				    <div style="font-family:Arial;font-size: 14px;display: inline-block;text-align:center">
                        @{
                            if (Model.PageNumber == 1)
                            {
                                @Html.Raw("First");
                            }
                            else
                            {
                                <a href="@string.Format("{0}&page=1",url)">
						            First
					            </a>
                            }
                        }
                          | 
                         @{
                             if (Model.PageNumber == Model.TotalPages)
                            {
                                @Html.Raw("Last");
                            }
                            else
                            {
                                 <a href="@string.Format("{0}&page={1}",url,Model.TotalPages)">
						            Last
					             </a>
                            }
                        }
				    </div>
				    <div class="NextSpacer"></div>
				    <div class="PreviousButton">
					    @{if (Model.HasNextPage)
                            {
					            <a href="@string.Format("{0}&page={1}",url,Model.PageNumber+1)">
						            Next&nbsp;<img src="../images/infotainment/Next.png" width="8" height="12">
					            </a>
                            }
                            else
                            {
                                var next = "Next&nbsp;<img src='../images/infotainment/Next.png' width='8' height='12'>";
						        @Html.Raw(next);
                            }   
                        }
				    </div>		
			    </div>
		    </div>
		    <div style="font-family:Arial;font-size: 14px;  position: relative;top: 38px;text-align: center;">
			    Showing <strong>@string.Format("{0}/{1}",Model.PageNumber,Model.TotalPages)</strong>
		    </div>
	    </div>       
  }
    
  @*@Html.Raw(IBI.Web.Common.HelperClasses.PagerMine((Model.FirstItem / Model.PageSize) ,Model.PageSize,Model.TotalPages,"/Screenshot/Index"))*@
  @*Html.Raw(pager)*@
<p/>