﻿@model List<IBI.Shared.Models.BusTree.BusDetail>
@using Microsoft.Web.Helpers 
 
@{
    ViewBag.Title = "Web Grid";
    Layout = null;
}
<html>

     <head>
     
       
         
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.24/jquery-ui.min.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.9/jquery.validate.js" type="text/javascript"></script>
    
         <script src=""@Url.Content("~/Scripts/jquery/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script> 
     
    <script>
    
    </script>
       

</head>

<body>

@{
    var grid = new WebGrid(Model, rowsPerPage: 5, canSort: true, canPage: true, ajaxUpdateContainerId: "gridBody");
   
        
 } 
 <div id="gridBody">
   <div id="grid"> 
            @grid.GetHtml(  
                        columns: grid.Columns(
                        grid.Column("BusNumber", format: @<b>@item.BusNumber</b>, canSort: true),
                        grid.Column("CustomerName"))
                      )
        </div> 
</div>
   

@{
   
    }
   
</body>
</html>
   
   