﻿@{
    ViewBag.Title = "Mermaid IBI System - Error Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Head{
    
    }

<div>
    You requested an invalid page, or you don't have access rights on the page you are trying to browse.
    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />

</div>