﻿@model IBI.Web.ViewModels.Messaging.Incoming.ListContainerViewModel
 
@using MvcContrib.Pagination
@using MvcContrib.Sorting 
@using MvcContrib.UI.Grid
@using IBI.Web.Common

@{
    ViewBag.Title = "Incoming Messages";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Head{
 
    <link href="@Url.Content("~/Content/template/table-grid.css")" rel="stylesheet" type="text/css" />    
    <link href="@Url.Content("~/Scripts/custom-datetime/txtdropdown.css")" rel="stylesheet" type="text/css" /> 

    <script src="@Url.Content("~/Scripts/kendo/kendo.web.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/kendo/kendo.aspnetmvc.min.js")" type="text/javascript"></script> 

    <link href="@Url.Content("~/Content/kendo/kendo.common.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/kendo.default.min.css")" rel="stylesheet" type="text/css" />

}
 

    @{
        MvcContrib.Pagination.IPagination<IBI.Shared.Models.Messages.IncomingMessage> PagedList = Model.PagedList;
        IBI.Web.ViewModels.Messaging.Incoming.FilterViewModel FilterViewModel = Model.FilterViewModel;
        MvcContrib.UI.Grid.GridSortOptions GridSortOptions = Model.GridSortOptions;               
     } 

 <!-- Search Filters - Start -->  

 <script type="text/javascript">

     $(document).ready(function () {
      
         $(".mydatepicker").val("@((FilterViewModel.Date==null || FilterViewModel.Date==DateTime.MinValue) ? "" : FilterViewModel.Date.ToShortDateString())");
         
     });

    </script>  
       

   @{
       var htmlAttributes = new Dictionary<string, object> { { "data-autopostback", "true" } }; 
    }    
    <!--new AjaxOptions { HttpMethod = "GET", InsertionMode = InsertionMode.Replace, UpdateTargetId = "BusStatusLogGrid" }))-->

   @{Html.EnableClientValidation(true);}
   @using (Html.BeginForm("Incoming", "Message", FormMethod.Post, new { onsubmit = "beginHtmlSubmit()" }))
   {
    <div class="input-table grey-box" style="width:99%">
        <table cellspacing="5" width="100%">
            <tr>
                
                <td>
                    <label class="block">Group</label>
                     @Html.DropDownList("groupId", FilterViewModel.Groups, "-- All --")
                    <br />
                </td>
                
                <td>
                    <label class="block">Bus Number</label>
                    @Html.TextBox("busNumber", FilterViewModel.BusNumber, new { @class = "short", maxlength = "5" })
                    <br />
                    @Html.ValidationMessageFor(model => model.FilterViewModel.BusNumber)
                </td>
                 <td>
                    <label class="block">Date</label>
                    @Html.EditorFor(model => model.FilterViewModel.Date, "", "date")
                    <br />
                    @Html.ValidationMessageFor(model => model.FilterViewModel.Date)
                </td>
                <td>
                    <label class="block">Message</label>
                    @Html.TextBox("messageText", FilterViewModel.MessageText, new { @class = "short" })
                    <br />
                </td>
                
                <td>
                    <label class="block">Position</label>
                    @Html.TextBox("Position", FilterViewModel.Line, new { @class = "short", size = 10 })
                    <br />
                </td>

                <td>
                    <label class="block">Line</label>
                    @Html.TextBox("line", FilterViewModel.Line, new { @class = "short", size = 10 })
                    <br />
                </td>

                <td>
                    <label class="block">Destination</label>
                    @Html.TextBox("destination", FilterViewModel.Destination, new { @class = "short", size = 10 })
                    <br />
                </td>
                
                <td>
                    <label class="block">Next Stop</label>
                    @Html.TextBox("nextStop", FilterViewModel.NextStop, new { @class = "short", size = 10 })
                    <br />
                </td>
                
                <td valign="bottom">     
                    <input type="submit" value="Search" style="margin-top: 30px;"  />
                </td>
            </tr>
        </table> 
       
    </div>
   }
    <!-- Search Filters - End --> 


    
    <!-- Searched Results - start -->   

    @{
        var grid = Html.Grid(Model.PagedList)
                    .Columns(
                        column=>{ 
                            column.For(c => c.BusGroupName).Named("Group");
                            column.For(c => c.BusNumber).Named("Bus Number");  
                            column.For(c => c.DateAdded).Named("Timestamp").Format("{0:dd/MM/yyyy HH:mm}");
                            column.For(c => c.MessageText).Named("Message");
                            column.Custom(c => IBI.Web.Common.WebUtil.GetFormattedGPS(c.Latitude, c.Longitude)).Named("Position");
                            column.For(c => c.Line).Named("Line"); 
                            column.For(c => c.Destination).Named("Destination");
                            column.For(c => c.NextStop).Named("Next Stop");
                            }                        
                    )
                    .Sort(Model.GridSortOptions)
                    .Attributes(@class => "table-list");

     }

     @{
         if (Model.PagedList !=null && Model.PagedList.Count() > 0)
         { 
           @* <span style="float:right; display:inline-block; margin-bottom:5px;">
                 <a href="javascript:void(0)" onclick="SelectText('searchedResults')">Select All</a>
            </span>*@
        
            <div id="searchedResults">
                @grid 
            </div>
             
         Html.RenderPartial("Pager", PagedList);  
         }
         else 
         {
             <div class="no-data">There are no incoming messages available</div> 
         }
      }
       
    <!-- Searched Results - end -->   
