﻿<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

@model IBI.Web.ViewModels.Admin.Destinations.AddEditSignModel

@using Kendo.Mvc.UI
@using IBI.Web.Common

@{
    ViewBag.Title = "Add Destination";
    Layout = null;
}


<style type="text/css">

div.options {
        left: -20px;
        position: relative;
    }
div.options > label > input {
    visibility: hidden;
    display: inline-block;

}

div.options > label {
    display: inline-block;
    height: 27px;
    width: 70px;
    text-align: left;
}

div.options > label > img {
    display: inline-block;
    padding: 0px;
    height:30px;
    width:30px;
    background: white;
    border-radius: 6px;
    position: relative;
    top: -5px;
}

div.options > label > input:checked +img {  
    background-image: url(../images/destinations/inactive.png);
    background-repeat: no-repeat;
    background-position:center center;
    background-color: white;
}
</style>
<!--start - Script for BusTree-->
<script type="text/javascript">

        $(document).ready(function () {

            //$(".dynatree-icon").css('backgroundImage', 'url(../content/dynatree/skin/scrollright_grey.png)');

        });

        $(function () {

            // --- Initialize sample trees

            $("#destinationTree").dynatree({
                initAjax: {
                    url: '@Url.Action("GetSpecialSignTree", "Admin", new {CustomerId = @Model.CustomerId })',
                    data: { mode: "all" }
                },
                onCustomRender: function (node) {
                    // Render title as columns

                    
                    if (node.data.title.indexOf("~") === -1) {
                        // Default rendering
                        return false;
                    }
                    var cols = node.data.title.split("~");

                    var rowTemplate = "<div class='TreeNode" + node.data.AlternateRowCss + "'><div class='TreeNode_title' style='position: relative;top: -5px;left:-12px'>[TITLE]</div><div class='TreeNode_columns'>[COLUMNS]<div></div>";
                     
                    var ss = '@Model.Sign.ParentGroupId';
                    ss = $("<div>").html(ss).text();
                    //alert(ss);
                    if (node.data.GroupId == ss) {

                         
                        node.select();
                        $("#Sign_ParentGroupId").val(node.data.GroupId);
                        
                    }

                    if (ss == 0 && node.data.GroupId == 10000001)
                    {
                        node.select();
                        $("#Sign_ParentGroupId").val(node.data.GroupId);
                    }

                    /*
                    if (ss == 0 && node.data.GroupId == 10000002) {
                        node.select();
                    }
                    */

                    //alert("selected: " + ss + ", current Node: " + node.data.GroupId);
                   
                    
                    var title = "";
                    var columns = "";



                    for (var i = 0; i < cols.length; i++) {


                        var currentVal = cols[i];

                        //logic for node title link
                        if (i == 0) {

                            
                            currentVal =  cols[i];
                            title = currentVal;
                            break;
                        }
                        else {
                            currentVal = currentVal.replace("/images/", "../images/");
                            columns += "<div class='TreeNode_td'>" + currentVal + "</div>";
                        }


                    }

                    return rowTemplate.replace("[TITLE]", title).replace("[COLUMNS]", columns);
                    //alert(html);

                },
                checkbox: true,
                selectMode: 1,
                //children: treeData,
                onClick: function(node, event) {
                    // We should not toggle, if target was "checkbox", because this
                    // would result in double-toggle (i.e. no toggle)  
                    //node.toggleSelect(); 
                    //var selNodes = node.tree.getSelectedNodes();
                    
                },
                onSelect: function (select, node) {

                    //// Get a list of all selected nodes, and convert to a key array:
                    var selKeys = $.map(node.tree.getSelectedNodes(), function (node) {
                        //alert(node.data.GroupId); 
                        return node.data.GroupId;
                        });


                    //// Get a list of all selected TOP nodes
                    //var selRootNodes = node.tree.getSelectedNodes(true);
                    //// ... and convert to a key array:
                    //var selRootKeys = $.map(selRootNodes, function (node) {

                    //    var busString = '';
                    //    if (node.data.BusNumber == "0") {
                    //        busString += getChildBuses(node);


                    //        //ugly fix of double ,, replacement
                    //        var regex = new RegExp(',,', 'g');
                    //        busString = busString.replace(regex, ',');

                    //        //return after removing the last comma.
                    //        return busString.substring(0, busString.length - 1);

                    //    }

                    //    if (node.data.BusNumber != "0" && node.data.BusNumber != undefined)
                    //        return node.data.BusNumber;
                    //});


                    //$("#BusNumbers").val(selRootKeys.join(","));

                    //if (selRootKeys && selRootKeys.length > 0)
                    //    for (var i in selRootKeys) {
                    //        selRootKeys[i] = selRootKeys[i].split(',').join(" ");
                    //    }

                    //$("#SelectedBuses").text(selRootKeys.join(" "));
                    //alert(node.data.GroupId);
                    var selNodes = node.tree.getSelectedNodes();

                    if (selNodes == null || selNodes.length == 0) {
                        //alert('No Group Selected');
                        $("#Sign_ParentGroupId").val(null);
                        //alert($("#Sign_ParentGroupId").val());
                    }
                    else {
                        $("#Sign_ParentGroupId").val(node.data.GroupId);
                    }

                    //alert($("#Sign_ParentGroupId").val());
                },
                onDblClick: function (node, event) {
                    node.toggleSelect();
                },
                onKeydown: function (node, event) {
                    if (event.which == 32) {
                        node.toggleSelect();
                        return false;
                    }
                },
                onExpand: function (expand, dtnode) {
                    var treeIcon = $(".dynatree-icon", "#destinationTree");
                    treeIcon.css('backgroundImage', 'url(../content/dynatree/skin/sign.png)');
                    treeIcon.css('width', '1px');
                    treeIcon.css('height', '1px');
                },
                onPostInit: function (isReloading, isError) {
                    if (!isError) {
                        var treeIcon = $(".dynatree-icon", "#destinationTree");
                        treeIcon.css('backgroundImage', 'url(../content/dynatree/skin/sign.png)');
                        treeIcon.css('width', '1px');
                        treeIcon.css('height', '1px');
                    }
                    this.reactivate();
                },
                onActivate: function (node) {
                    node.tree.getSelectedNodes().select(false);
                    //                // Use status functions to find out about the calling context
                    //                var isInitializing = node.tree.isInitializing(); // Tree loading phase
                    //                var isReloading = node.tree.isReloading(); // Loading phase, and reading status from cookies
                    //                var isUserEvent = node.tree.isUserEvent(); // Event was triggered by mouse or keyboard

                    //                alert(node.data.title);
                },
                // The following options are only required, if we have more than one tree on one page:
                //        initId: "treeData",
                cookieId: "dynatree-Cb3",
                idPrefix: "dynatree-Cb3-"

            });

            //$("#btnToggleSelect").click(function(){
            //    $("#tree2").dynatree("getRoot").visit(function(node){
            //        node.toggleSelect();
            //    });
            //    return false;
            //});
            //$("#btnDeselectAll").click(function(){
            //    $("#tree2").dynatree("getRoot").visit(function(node){
            //        node.select(false);
            //    });
            //    return false;
            //});
            //$("#btnSelectAll").click(function(){
            //    $("#tree2").dynatree("getRoot").visit(function(node){
            //        node.select(true);
            //    });
            //    return false;
            //}); 
        });

        
</script>
<!--end - Script for BusTree-->

<script>

         @* function FormCompleted() {
              var result = '@Model.PostResult';
              alert('form completed: ' + result);
          }


          function FormFailure() {
              var result = '@Model.PostResult';
              alert('form failure: ' + result);
          }*@


          function FormSuccess(data) {

              //alert(result.PostResult + '-' + result.ErrorMessage);
              var result = data.PostResult;
              var errMsg = data.ErrorMessage;
              

              if (result == 'true') {
                  jAlert("Destination Saved Successfully", "Success");
                  bReloadTree = true;
                  $('#AddEditDestination').data("kendoWindow").close();
              }
              else { 
                  jAlert(errMsg, "Failure"); 
              }

              $('input[type=submit]').removeAttr("disabled").removeClass("disabled");
        }
 

           
              $(document).ready(function () {
                  $('#closePopup').click(function () {
                      bReloadTree = true;
                      $('#AddEditDestination').data("kendoWindow").close();
                  })
              });
          

              $(document).ready(function () {

                  var openedForEdit = '@(Model.Sign.GroupId)';
                  
                  if (openedForEdit == '') {
                      $('#deleteRecord').attr("disabled", true).addClass("disabled");
                      $('#deleteRecord').css('display', 'none');
                  }


                  //$("input:checkbox").click(function () {
                  //    var group = "input:checkbox[name='" + $(this).attr("name") + "']";
                  //    $(group).attr("checked", false);
                  //    $(this).attr("checked", true);
                  //});


                  $(".radio").click(function () {
                      var group = "input:checkbox[name='" + $(this).attr("name") + "']";
                      $(group).attr("checked", false);
                      $(this).attr("checked", true);
                  });

                  $('#deleteRecord').click(function () {
                  
                      jConfirm('Are you sure to delete this destination?', 'Confirmation', function (r) {
                          if (r==true) {

                              $('#deleteRecord').attr("disabled", true).addClass("disabled");
                              $('#deleteRecord').css('display', 'none');

                              $.get("../Admin/DeleteSign", { signId: "@Model.Sign.SignId" })
                                   .done(function () {
                                       jAlert("Sign Deleted Successfully", "Deleted");

                                       bReloadTree = true;
                                       $('#AddEditDestination').data("kendoWindow").close();
                                   })
                                   .fail(function () {
                                       jAlert("Sign cannot be deleted", "Failure");
                                   });

                              $('#deleteRecord').removeAttr("disabled").removeClass("disabled");

                          }
                      });


                  })
              });
              function CloseWindow() {
                  window.$("#AddEditDestination").data("kendoWindow").close();
              }
</script>



<!--jAlert-->
<script src="@Url.Content("~/Scripts/plugins/jAlert/jquery.alert.js")" type="text/javascript"></script>
<link href="@Url.Content("~/Scripts/plugins/jAlert/jquery.alert.css")" rel="stylesheet" type="text/css" />

<div id="AjaxContents" class="input-table">

    <div>
        @{
       var htmlAttributes = new Dictionary<string, object> { { "data-autopostback", "true" } }; 
        }
        @using (Ajax.BeginForm("AddEditDestination", "Admin", new AjaxOptions { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, OnSuccess = "FormSuccess", OnBegin = "beginAjaxSubmit" }))
         {
             
            @Html.ValidationSummary(true, "Message couldn't be saved. Please correct the errors and try again.")
                        
            <table style="width: 100%; height: 100%; margin: 0 auto;position: relative;right: -8px;">
                <tr >
                    <td colspan="2" style="text-align: left;" class="label"> @(Model.Sign.SignId == 0 ? Html.Raw("Add") : Html.Raw("Edit")) Sign</td>
                    <td style="text-align: right">
                        <img src="~/Images/infotainment/close.png" onclick="CloseWindow()" />
                    </td>
                </tr>
                <tr>
                    <td class="label" colspan="3" style="text-align: left">Group
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <div style="border: solid 1px #aaa; border-radius: 3px; padding: 5px;;width:394px;">
                            <div id="destinationTree" style="width: 394px; height: 200px; overflow-y: scroll; overflow-x: hidden;" />
                        </div>
                    </td>
                    <td></td>
                </tr>
                <tr class="tr">
                    <td class="title">
                        <label>Name</label>
                    </td>
                    <td>
                        @Html.TextBoxFor(model => model.Sign.Name, new { @class="inputbox" , placeholder="Input Name" })
                    </td>
                    <td>
                        @Html.ValidationMessageFor(model => model.Sign.Name)
                    </td>
                </tr>

                <tr class="tr">
                    <td class="title">
                        @Html.LabelFor(model => model.Sign.Line)
                    </td>
                    <td>
                        @Html.TextBoxFor(model => model.Sign.Line, new { @class="inputbox" , placeholder="Input Line" })
                    </td>
                    <td>
                        @Html.ValidationMessageFor(model => model.Sign.Line)
                    </td>
                </tr>

                <tr class="tr">
                    <td class="title">
                        @Html.LabelFor(model => model.Sign.MainText)
                    </td>
                    <td>
                        @Html.TextBoxFor(model => model.Sign.MainText, new { @class="inputbox" , placeholder="Input Main Text" })
                    </td>
                    <td>
                        @Html.ValidationMessageFor(model => model.Sign.MainText)
                    </td>
                </tr>
                <tr class="tr">
                    <td class="title">
                        @Html.LabelFor(model => model.Sign.SubText)
                    </td>
                    <td>
                        @Html.TextBoxFor(model => model.Sign.SubText, new { @class="inputbox" , placeholder="Input Sub Text" })
                    </td>
                    <td>
                        @Html.ValidationMessageFor(model => model.Sign.SubText)
                    </td>
                </tr>


                <tr class="tr">
                    <td class="title">
                        @Html.LabelFor(model => model.Sign.ScheduleId)
                    </td>
                    <td>
                        @Html.TextBoxFor(model => model.Sign.ScheduleId, new { @class="inputbox" , placeholder="Set Schedule" })
                    </td>
                    <td>
                        @Html.ValidationMessageFor(model => model.Sign.ScheduleId)
                    </td>
                </tr>

                <tr class="tr">
                    <td class="title">
                        <label>Active</label>
                    </td>
                    <td>
                       @*

                        @Html.RadioButtonFor(model => model.Sign.IsActive, "true", new { id = "yes" })
                        @Html.Label("yes", "Yes")

                        @Html.RadioButtonFor(model => model.Sign.IsActive, "false", new { id = "no" })
                        @Html.Label("no", "No")

                       *@
                                               
                        @*<div class="options">
                            <label title="Yes" style="position: relative; width: 71px;left:-3px">
                                <input type="radio" name="Sign.IsActive" value="true" @(Model.Sign.IsActive?"checked":"") /> 
                              Yes
                                <img />
                            </label>
                            <label title="No" style=" position: relative; left: -25px; ">
                                <input type="radio" name="Sign.IsActive" value="false" @(!Model.Sign.IsActive?"checked":"") />
                                No
                                <img />
                            </label>   
                        </div>*@

                       @* <div class="options">
                            <label title="Yes" style="position: relative; width: 71px;left:-3px">
                                <input type="radio" name="Sign.IsActive" value="true" @(Model.Sign.IsActive?"checked":"") /> 
                                <label for="male" style="position: relative;top: -9px;" >Yes</label>
                                <img />
                            </label>
                            <label title="No" style=" position: relative; left: -25px; ">
                                <input type="radio" name="Sign.IsActive" value="false" @(!Model.Sign.IsActive?"checked":"") />
                                <label for="male" style="position: relative;top: -9px;" >No</label>
                                <img />
                            </label>   
                        </div>*@

                        <label for="yes">Yes</label>
                        <input type="checkbox" class="radio" value="true" name="Sign.IsActive" @(Model.Sign.IsActive?"checked":"") style="width: 2em;height: 2em;" />
                        <label for="no">No</label> 
                        <input type="checkbox" class="radio" value="false" name="Sign.IsActive" @(!Model.Sign.IsActive?"checked":"")  style="width: 2em;height: 2em;" />



                    </td>

                </tr>

                <tr>
                    <td style="display: hidden;">
                        <!--hidden fields [the fields which we dont want to edit ]-->
                        @Html.HiddenFor(model => model.Sign.SignId )
                        @Html.HiddenFor(model => model.Sign.GroupId )
                        @Html.HiddenFor(model => model.Sign.ParentGroupId)
                        @Html.HiddenFor(model => model.Sign.Priority)
                        @Html.HiddenFor(model => model.CustomerId)

                    </td>
                    <td>
                        @*<a href="#" class="delete"  id="deleteRecord">Delete</a>
                        <a href="#" class="cancel"  id="closePopup">Cancel</a> 
                        <a href="#" class="cancel"  id="closePopup" onclick="document.forms[0].submit()">New SAVE</a> *@
                        @* <div style="display: inline-block">
                            <input class="buttonStyle" type="submit" value="Save" onclick="" /> 
                        </div>*@

                        <div>
                            <div style="display: inline-block; padding-right: 10px">
                                <a href="#" id="deleteRecord" style="text-decoration: none">
                                    <div class="deletebutton">Delete</div>
                                </a>
                            </div>
                            <div style="display: inline-block; padding-right: 10px">
                                <a href="#" id="closePopup" style="text-decoration: none">
                                    <div class="cancelbutton">Cancel</div>
                                </a>
                            </div>
                            <div style="display: inline-block; position: relative; top: -16px;">
                                <input class="savebutton" type="submit" value="Save" />
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
              
            }

        <script>
                
        </script>

    </div>
    <!--inputTable - end-->

</div>
<!--AjaxContents - end-->



