﻿
@using Kendo.Mvc.UI
@model IBI.Web.ViewModels.Admin.Destinations.SignModel


@{
    ViewBag.Title = "Mermaid IBI System - Signs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section Head{

   <link href="@Url.Content("~/Content/dynatree/skin/ui.dynatree.destinations.css")" rel="stylesheet" type="text/css" />
    
    <script src="@Url.Content("~/Scripts/dynatree/jquery.dynatree.js")" type="text/javascript"></script>
    
    <script src="@Url.Content("~/Scripts/kendo/kendo.web.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/kendo/kendo.aspnetmvc.min.js")" type="text/javascript"></script> 
     

    <link href="@Url.Content("~/Content/kendo/kendo.common.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/kendo.default.min.css")" rel="stylesheet" type="text/css" />
     

    @if (this.Context == null) 
    { 
     <script src="../Scripts/kendo/kendo.all-vsdoc.js" type="text/javascript"></script> 
     <script src="../Scripts/jquery/json2.js" type="text/javascript"></script>
    }
    

    <style>
        label {
            display: inline;
        }
        .regular-checkbox {
            display: none;
        }
        .regular-checkbox + label {
            background-color: #fafafa;
            border: 1px solid #cacece;
            box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
            padding: 9px;
            border-radius: 3px;
            display: inline-block;
            position: relative;
        }
        .regular-checkbox + label:active, .regular-checkbox:checked + label:active {
            box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
        }
        .regular-checkbox:checked + label {
            background-color: #e9ecee;
            border: 1px solid #adb8c0;
            box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
            color: #99a1a7;
        }
        .big-checkbox:checked + label:after {
            font-size: 24px;
            left: 3px;
        }

        .regular-checkbox:checked + label:after {
            content: '\2714';
            position: absolute;
            top: 3px;
            color: #99a1a7;
        }

        /*.regular-checkbox:checked + label:after {
            content: '\2714';
            font-size: 14px;
            position: absolute;
            top: 0px;
            left: 3px;
            color: #99a1a7;
        }*/
        .big-checkbox + label {
            padding: 12px;
        }
        /*.big-checkbox:checked + label:after {
            font-size: 28px;
            left: 6px;
        }*/
        .big-checkbox:checked + label:after {
            font-size: 24px;
            left: 3px;
        }
    </style>

      
    
    <!-- Comments for KHI: Why css embedded here -->
    <style type="text/css">


        div.TreeNode {
            display: inline-block;
            width: 95%;
            min-width: 850px; 
            vertical-align: middle; font-family:Tahoma; font-size:8pt;
        }

        div.TreeNode_title {
            display: inline-block;
            float: left; font-weight:bold; font-family:Tahoma;
            width:150px; max-width:150px; 
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            word-wrap: normal
        }

        div.TreeNode_titleMain {
            display: inline-block;
            width: 95%;
            height: 42px;
            min-width: 850px; 
            vertical-align: middle; font-family:Arial; font-size:8pt;
            border: solid 1px #747474;
        }

        div.TreeNode_columns {
            display: inline;
            float: right;
            /*margin-right: 30px;*/
            text-align: right;
            vertical-align: bottom;  font-family:Tahoma; width:100%;
             
        }

        div.TreeNode_td_header {
            margin-right: 15px;
            margin-left: 10px;
            display: inline-block;
            /*width: 100px;*/
            min-width: 40px; 
            text-align: center;
            vertical-align: bottom;
            padding-top: 3px; 
            text-decoration:none;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden; 
        }
     
        div.TreeNode_td_header:nth-child(1) {float: left ;margin-left: -5px; width:150px; max-width:150px; margin-right:0px;  text-align:left; word-wrap: normal}
        div.TreeNode_td_header:nth-child(2) {width:80px; max-width:80px; margin-right:15px;   text-align:left; word-wrap: normal}
        div.TreeNode_td_header:nth-child(3) {width:150px; max-width:150px; margin-right:15px;   text-align:left; word-wrap: normal}
        div.TreeNode_td_header:nth-child(4) {width:150px; max-width:150px; margin-right:15px;  text-align:left; word-wrap: normal}

         
           
           /*
           div.TreeNode_header {display: inline-block; width:95%;  vertical-align:middle; background-color:#595959; color:#efefef; vertical-align:middle; height: 30px;}
           div.TreeNode_title{ display: inline-block; width: 700px; float:left;} 
           */


        .grey {
            background-color: #dedede;
            height: 23px;
            vertical-align: middle;
            padding-top: 5px; padding-left: 15px;
             background-image: url('../Content/dynatree/skin/row-tip-gray.png'); background-position:left center; background-repeat:no-repeat;
        }

        .white {
            background-color: #f1f1f1;
            height: 22px;
            vertical-align: middle;
            padding-top: 5px; padding-left: 15px; 
              background-image: url('../Content/dynatree/skin/row-tip-white.png'); background-position:left center; background-repeat:no-repeat;
        }

        .emptyRow {
            background-color: #fff;
            height: 22px;
            vertical-align: middle;
            padding-top: 5px;  padding-left: 10px; 
        }

        
    div.checkbox > label > img {
        padding: 0px;
        height: 25px;
        width: 25px;
        background: white;
        border-radius: 3px; 
        margin-top:5px;
        border:1px solid #ccc;
    }

    div.checkbox > label > input:checked +img {  
        background-image: url(../images/destinations/inactive.png);
        background-repeat: no-repeat;
        background-position:center center;
        background-color: white;
    }

    .styled-select select {
   		    background: transparent;
            background-color:white;
   		    width: 200px;
   		    padding-left: 7px;
   		    border-radius: 3px;
   		    height: 30px;
   		    font-family:Arial;
            font-size:13px;
            position: relative;
   	}

    .GButton {
        display: inline-block;
        color: white;
        background-color: #8da341;
        border-radius: 3px;
        border-bottom: solid 1px #bbb;
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: center;
        font-size: 15px;
        /**/
        width: 100px;
        height: 16px;
    }

    </style>

     
<!-- Add code to initialize the tree when the document is loaded: -->
  
   
<!-- Add code to initialize the tree when the document is loaded: -->
  
  <script type="text/javascript">


      $(function () {
          // Attach the dynatree widget to an existing <div id="tree"> element
          // and pass the tree options as an argument to the dynatree() function:

          $("#treeSpecialDest").dynatree({
              fx: {height: "toggle", duration: 200 },
              selectMode: 1,
              clickFolderMode: 1,
              expandOnAdd: true,
              onActivate: function (node) {

              },
              onCustomRender: function (node) {
                  // Render title as columns

                  if (node.data.title.indexOf("~") === -1) {
                      // Default rendering
                      return false;
                  }
                  var cols = node.data.title.split("~");

                  var rowTemplate = "<div class='TreeNode" + node.data.AlternateRowCss + "'><div class='TreeNode_columns'>[TITLE][COLUMNS]</div></div>";


                  var title = "";
                  var columns = "";

                  for (var i = 0; i < cols.length; i++) {


                      var currentVal = cols[i];

                      //logic for node title link

                      var function2Call = "";

                      if (i == 0) {

                          switch (node.data.IsGroup) {
                              case true:
                                  {
                                      function2Call = "EditGroup(" + node.data.CustomerId + ", " + node.data.GroupId + ")";
                                      break;
                                  }
                              case false:
                                  {
                                      //function2Call = "EditDestination(" + node.data.CustomerId + ", '" + node.data.Line + "', '" + node.data.Text + "', '" + node.data.SelectionStructure + "', " + node.data.Priority + ", " + node.data.IsActive + ")";
                                      function2Call = "EditDestination(" + node.data.CustomerId + ", " + node.data.SignId + ")";
                                      break;
                                  }
                          }
                          if (node.data.IsGroup)
                              currentVal = cols[i];
                          else
                              currentVal = "<span style='font-size: 8pt; font-weight: bold;'>" + cols[i] + "</span>";

                          currentVal = "<div class='TreeNode_td_header' style='text-align:left;'><a href='javascript:void(0)' id='open' onclick=\"" + function2Call + "\">" + currentVal + "</a></div>";
                          title = currentVal;
                      }
                      else {

                          //logic for Edit link
                          if (currentVal == "[EDIT]") {
                              //function2Call = "EditDestination(" + node.data.CustomerId + ", '" + node.data.Line + "', '" + node.data.Text + "', '" + node.data.SelectionStructure + "', " + node.data.Priority + ", " + node.data.IsActive + ")";
                              function2Call = "EditDestination(" + node.data.CustomerId + ", " + node.data.SignId + ")";
                              currentVal = "<a href='javascript:void(0)' id='editDest' onclick=\"" + function2Call + "\" title='" + node.data.Priority + "'><img src='/images/destinations/edit.png' title='edit' /></a>";
                              //currentVal = "edit";

                          }

                          if (currentVal == "[ACTIVE]") {                              
                              currentVal = "<img title='Active' src='/images/destinations/green.png' style='vertical-align: middle; width: 12px; height: 12px;' />";                              
                          }

                          if (currentVal == "[INACTIVE]") {
                              currentVal = "<img title='Inactive' src='/images/destinations/red.png' style='vertical-align: middle; width: 12px; height: 12px;' />";
                          }

                          if (currentVal == "[IMAGE]") {
                              function2Call = "ShowDestinationImages(" + node.data.SignId + ")";
                              currentVal = "<a href='javascript:void(0)' id='images' onclick=\"" + function2Call + "\"><img src='/images/destinations/img.png' title='Preview' /></a>";
                              //currentVal = "img"; 
                          }


                          if (currentVal == "[SORT]") {
                              var treeId = "#treeSpecialDest";
                              function2Call = "SortUp('" + treeId + "', '" + node.data.key + "'," + node.data.GroupId + "," + node.data.SignId + "," + node.data.ParentGroupId + ")";
                              currentVal = "<a href='javascript:void(0)' id='images' onclick=\"" + function2Call + "\"><img title='" + node.data.key + ' ^ ' + node.data.Priority +"' src='/images/destinations/scrollup.png' style='display: inline; vertical-align: middle; width: 14px; height: 10px; cursor:hand; cursor: pointer' /></a>";
                              function2Call = "SortDown('" + treeId + "', '" + node.data.key + "'," + node.data.GroupId + "," + node.data.SignId + "," + node.data.ParentGroupId + ")";
                              currentVal += "<a href='javascript:void(0)' id='images' onclick=\"" + function2Call + "\"><img title='" + node.data.key + ' ^ ' + node.data.Priority + "' src='../images/destinations/scrolldown.png' style='display: inline; vertical-align: middle; width: 14px; height: 10px; cursor:hand; cursor: pointer' /></a>";
                            
                          }

                          currentVal = currentVal.replace("/images/", "../images/");
                          if (i <= 3) {
                              columns += "<div class='TreeNode_td_header' style='text-align:left;'>" + currentVal + "</div>";
                          }
                          else {
                              columns += "<div class='TreeNode_td_header' style='text-align:center;'>" + currentVal + "</div>";
                          }

                      }


                  }

                  return rowTemplate.replace("[TITLE]", title).replace("[COLUMNS]", columns);
                  //alert(html);

              },

              initAjax: {
                  url: '@Url.Action("GetSignTree", "Admin", new  {custandType = string.Format("{0}|{1}", Model.CustomerId, "0")})',
                  data: { mode: "all" }
              },
              onPostInit: function (isReloading, isError) {
                  if (!isError && this.getNodeByKey(0) != null) {

                  }
                  this.reactivate();
              },
              onActivate: function (node) {

                  //alert(node.data.title);
              }

          });
      });



      $(function () {
          // Attach the dynatree widget to an existing <div id="tree"> element
          // and pass the tree options as an argument to the dynatree() function:
          
          //$('#checkimg').click(function () {
          //    if ($('.myCheckbox').prop('checked')) 
          //        $('.myCheckbox').prop('checked', false);
          //    else 
          //        $('.myCheckbox').prop('checked', true);
          //});

          $('#checkimg').click(function () {
              if ($('.myCheckbox').prop('checked')) {
                  $('.myCheckbox').get()[0].setAttribute("checked", "checked");
              }
              else {
                  $('.myCheckbox').get()[0].removeAttribute("checked");
              }
          });

          

          $("#treeDest").dynatree({
              fx: {height: "toggle", duration: 200 },
              selectMode: 1,
              clickFolderMode: 1,
              expandOnAdd: true,
              onActivate: function (node) {

              },
              onCustomRender: function (node) {
                  // Render title as columns

                  if (node.data.title.indexOf("~") === -1) {
                      // Default rendering
                      return false;
                  }
                  var cols = node.data.title.split("~");

                  var rowTemplate = "<div class='TreeNode" + node.data.AlternateRowCss + "'><div class='TreeNode_columns'>[TITLE][COLUMNS]</div></div>";


                  var title = "";
                  var columns = "";

                  for (var i = 0; i < cols.length; i++) {


                      var currentVal = cols[i];

                      //logic for node title link

                      var function2Call = "";

                      if (i == 0) {

                          switch (node.data.IsGroup) {
                              case true:
                                  {
                                      function2Call = "EditGroup(" + node.data.CustomerId + ", " + node.data.GroupId + ")";
                                      break;
                                  }
                              case false:
                                  {
                                      //function2Call = "EditDestination(" + node.data.CustomerId + ", '" + node.data.Line + "', '" + node.data.Text + "', '" + node.data.SelectionStructure + "', " + node.data.Priority + ", " + node.data.IsActive + ")";
                                      function2Call = "EditDestination(" + node.data.CustomerId + ", " + node.data.SignId + ")";
                                      break;
                                  }
                          }

                          if (node.data.IsGroup)
                             currentVal = cols[i];
                          else
                             currentVal = "<span style='font-size: 8pt; font-weight: bold;'>" + cols[i] + "</span>";

                          currentVal = "<div class='TreeNode_td_header' style='text-align:left;'><a href='javascript:void(0)' id='open' onclick=\"" + function2Call + "\">" + currentVal + "</a></div>";
                          title = currentVal;
                      }
                      else {

                          //logic for Edit link
                          if (currentVal == "[EDIT]") {
                              //function2Call = "EditDestination(" + node.data.CustomerId + ", '" + node.data.Line + "', '" + node.data.Text + "', '" + node.data.SelectionStructure + "', " + node.data.Priority + ", " + node.data.IsActive + ")";
                              function2Call = "EditDestination(" + node.data.CustomerId + ", " + node.data.SignId + ")";
                              currentVal = "<a href='javascript:void(0)' id='editDest' onclick=\"" + function2Call + "\" title='" + node.data.Priority + "'><img src='/images/destinations/edit.png' title='edit' /></a>";
                              //currentVal = "edit";

                          }

                          if (currentVal == "[ACTIVE]") {
                              currentVal = "<img title='Active' src='/images/destinations/green.png' style='vertical-align: middle; width: 12px; height: 12px;' />";
                          }

                          if (currentVal == "[INACTIVE]") {
                              currentVal = "<img title='Inactive' src='/images/destinations/red.png' style='vertical-align: middle; width: 12px; height: 12px;' />";
                          }

                          if (currentVal == "[IMAGE]") {
                              function2Call = "ShowDestinationImages(" + node.data.SignId + ")";
                              currentVal = "<a href='javascript:void(0)' id='images' onclick=\"" + function2Call + "\"><img src='/images/destinations/img.png' title='Preview' /></a>";
                              //currentVal = "img"; 
                          }


                          if (currentVal == "[SORT]") {
                              var treeId = "#treeDest";
                              function2Call = "SortUp('" + treeId + "', '" + node.data.key + "'," + node.data.GroupId + "," + node.data.SignId + "," + node.data.ParentGroupId + ")";
                              currentVal = "<a href='javascript:void(0)' id='images' onclick=\"" + function2Call + "\"><img title='" + node.data.key + ' ^ ' + node.data.Priority + "' src='/images/destinations/scrollup.png' style='display: inline; vertical-align: middle; width: 14px; height: 10px; cursor:hand; cursor: pointer' /></a>";
                              function2Call = "SortDown('" + treeId + "', '" + node.data.key + "'," + node.data.GroupId + "," + node.data.SignId + "," + node.data.ParentGroupId + ")";
                              currentVal += "<a href='javascript:void(0)' id='images' onclick=\"" + function2Call + "\"><img title='" + node.data.key + ' ^ ' + node.data.Priority + "' src='../images/destinations/scrolldown.png' style='display: inline; vertical-align: middle; width: 14px; height: 10px; cursor:hand; cursor: pointer' /></a>";

                          }

                          currentVal = currentVal.replace("/images/", "../images/");
                          if (i <= 3) {
                              columns += "<div class='TreeNode_td_header' style='text-align:left;'>" + currentVal + "</div>";
                          }
                          else {
                              columns += "<div class='TreeNode_td_header' style='text-align:center;'>" + currentVal + "</div>";
                          }

                      }


                  }

                  return rowTemplate.replace("[TITLE]", title).replace("[COLUMNS]", columns);
                  //alert(html);


              },

              initAjax: {
                  url: '@Url.Action("GetSignTree", "Admin", new  {custandType = string.Format("{0}|{1}", Model.CustomerId, "1")})',
                  data: { mode: "all" }
              },
              onPostInit: function (isReloading, isError) {
                  if (!isError && this.getNodeByKey(0) != null) {

                  }
                  this.reactivate();
              },
              onActivate: function (node) {

                  //alert(node.data.title);
              }

          });
      });


      $(document).ready(function () {
          //HACK bcoz Model.ValidTo is not populating well itself, though it supposed to be auto populating.

          var custId = '@Model.CustomerId';


          $("#CategoryChanged").val('');
          $("#CustomerChanged").val('');

          $("#CustomerId").val('@Model.CustomerId');

      });

      function ChangeCustomer(ddl) {
          var customerid = $(ddl).val();
          $("#CustomerId").val(customerid);
          //alert('category changed:' + id);
          $("#CustomerChanged").val("true");
          document.forms["frmFilters"].submit();
      }
  </script>
}
 
    


    @using (Html.BeginForm("Destinations", "Admin", FormMethod.Post, new { id = "frmFilters", name = "frmFilters" }))
    {
     
    <table class="ibiForm"  width="100%" cellspacing="5" cellpadding="5" style="border-collapse:separate; border:1px solid #efefef; border-bottom: 1px solid #cdcdcd; background-color:#f0f0f0; border-radius:2px;">
       
         <tr>

            <td style="padding-top:5px; padding-left:10px; vertical-align:bottom"><b>Customer</b></td> 
            <td style="padding-top:5px; vertical-align:bottom"><b>Show Inactive</b></td>

            <td rowspan="2" valign="bottom" class="title" style='text-align: right; padding-right:10px; padding-bottom:6px; visibility:@((Model.CustSelectionStatus == "0") ? "hidden" : "visible");'>
               <img src="@Url.Content("../Images/bustree/refresh.png")" title="Reload"  onclick="javascript: bReloadTree = true; ReloadDynaTree();" style="cursor:pointer; vertical-align:bottom" />
                &nbsp; &nbsp; &nbsp; &nbsp;
               <a class="GButton" href="javascript:void(0)" onclick="AddGroup(@Model.CustomerId)"> 
                       New Group 
               </a>
          
              <a class="GButton" href="javascript:void(0)" onclick="AddDestination(@Model.CustomerId)">
                       New Sign
              </a>

            </td> 
         </tr>
         <tr>
            <td valign="middle"  style=' width:210px; padding-left:10px;' >
                <div style='display:@((Model.CustSelectionStatus=="0" ||  Model.CustomerList.Count()>1) ? "inline" : "none" )'>
                    <div class="styled-select">
                        @Html.DropDownListFor(model => model.CustomerId, Model.CustomerList, "SELECT", new { onchange = "ChangeCustomer(this)" }) 
                        @Html.HiddenFor(model => model.CustomerChanged)
                        @Html.ValidationMessageFor(model => model.CustomerId)
                       <input type="hidden" id="CustomerId" name="CustomerId" value='@Model.CustomerId' />
                    </div>
                </div>
            </td> 
            <td valign="bottom"  style="text-align:left; width:150px;">
                <div class="checkbox">
                    
                        @*<input type="checkbox" id="chkStatus" class="myCheckbox" style="display:none" />
                        <img id="checkimg" />*@
                        <input type="checkbox" id="chkStatus" class="regular-checkbox big-checkbox" /><label for="chkStatus"></label>
                    
                </div>
            </td>           
        </tr>
    </table>
    <br /> 
    
    } 
  
 
     @if (ViewBag.ErrorMessage != null)
     { 
         <table id="errBox" class="errorBox" width="100%">
            <tr>
                <td style="padding:8px;" class="error">
                
                    <b>@ViewBag.ErrorMessage</b>
                
                </td>

                <td align="right" valign="top">
                    <div style="margin:5px; width:20px; font-weight:bold; background-color:#ccc; color:red; text-align:center; border: solid 1px #777; padding:5px;"><a href="javascript: document.getElementById('errBox').style.display = 'none';" style="display:block;">X</a></div>    
                </td>
            </tr>
         </table> 
     }
  
     <div class="TreeNode_titleMain" style="background-color:#383838; color: #fff; width:100%;border-radius: 2px;" >
            @*<img src="~/Images/destinations/DCU1.png" style="vertical-align:text-bottom" />*@
         
            <div class="TreeNode_columns" style="padding-top:10px; padding-bottom:10px;"> 
               
                 <div class="TreeNode_td_header">
                   &nbsp; &nbsp; &nbsp; <b>Middle section</b>
                </div>
                <div class="TreeNode_td_header">
                    Line
                </div>
                 <div class="TreeNode_td_header">
                    Main Text
                </div>
                <div class="TreeNode_td_header">
                    Sub Text
                </div>
                <div class="TreeNode_td_header">
                    Route
                </div>
                <div class="TreeNode_td_header">
                    Active 
                </div>
                <div class="TreeNode_td_header">
                    Move
                </div> 
                <div class="TreeNode_td_header">
                    Edit 
                </div>
                 <div class="TreeNode_td_header">
                    Images 
                </div> 

            </div>
        </div> 
  
  
      <div id="treeSpecialDest"> </div> 

     


        <br /><br />


     <div class="TreeNode_titleMain" style="background-color:#383838; color: #fff; width:100%;border-radius: 2px;" >
            @*<img src="~/Images/destinations/DCU1.png" style="vertical-align:text-bottom" />*@
         
            <div class="TreeNode_columns" style="padding-top:10px; padding-bottom:10px;"> 
               
                 <div class="TreeNode_td_header">
                   &nbsp; &nbsp; &nbsp; <b>Line selection buttons</b>
                </div>
                <div class="TreeNode_td_header">
                    Line
                </div>
                 <div class="TreeNode_td_header">
                    Main Text
                </div>
                <div class="TreeNode_td_header">
                    Sub Text
                </div>
                <div class="TreeNode_td_header">
                    Route
                </div>
                <div class="TreeNode_td_header">
                    Active 
                </div>
                <div class="TreeNode_td_header">
                    Move
                </div> 
                <div class="TreeNode_td_header">
                    Edit 
                </div>
                 <div class="TreeNode_td_header">
                    Images 
                </div> 

            </div>
        </div>  

      <div id="treeDest"> </div> 
    
      
    <!--start - Popup Windo Stuff-->
    
             <!--Kendo UI Window -> used for both Buses and Group's detail-->
    


             @(Html.Kendo().Window()
                .Visible(false)
                .Name("AddEditGroup")
                .Modal(true)
                .Scrollable(false)
                .Draggable()
                .Width(500)
                .Height(470)
                .Events(events => events.Close("ReloadDynaTree"))
            )
    
            @(Html.Kendo().Window()
                .Visible(false)
                .Name("AddEditDestination")
                .Modal(true)
                .Scrollable(false)
                .Draggable()
                .Width(490)
                .Height(620)
                .Events(events => events.Close("ReloadDynaTree"))
            ) 
            @(Html.Kendo().Window()
                .Visible(false)
                .Name("DestinationImages")
                .Modal(false)
                .Scrollable(true)
                .Title("Destination Signs")
                .Draggable()
                .Width(999)
                .Height(500)
                .Events(events => events.Close("ReloadDynaTree"))
                    )
    <script>

        var bReloadTree = false;


        function AddGroup(custId) {

            var window = $("#AddEditGroup").data("kendoWindow");


            window.title(false);
            $("#AddEditGroup").parent().css("padding-top", "0px");


            $("#AddEditGroup").css("overflow", "hidden");
            $("#AddEditGroup").css("background-color", "#ddd");

            window.center().open().content("<div style='text-align: left; height: 100px'>... Loading ...</div>").refresh({
                url: "AddEditGroup",
                data: {
                    customerId: custId,
                    groupId: -1
                }
            });

        }

        function EditGroup(custId,id) {

            var window = $("#AddEditGroup").data("kendoWindow");

            window.title(false);
            $("#AddEditGroup").parent().css("padding-top", "0px");


            $("#AddEditGroup").css("overflow", "hidden");
            $("#AddEditGroup").css("background-color", "#ddd");

            window.center().open().content("<div style='text-align: left; height: 100px'>... Loading ...</div>").refresh({
                url: "AddEditGroup",
                data: {
                    customerId: custId,
                    groupId: id
                }
            });

        }


        function AddDestination(custId) {

            var window = $("#AddEditDestination").data("kendoWindow");

            window.title(false);
            $("#AddEditDestination").parent().css("padding-top", "0px");


            $("#AddEditDestination").css("overflow", "hidden");
            $("#AddEditDestination").css("background-color", "#ddd");

            window.center().open().content("<div style='text-align: left; height: 100px'>... Loading ...</div>").refresh({
                url: "AddEditDestination",
                data: {
                    customerId: custId,
                    signId: -1
                }
            });
        }


        function EditDestination(custId, id) {

            var window = $("#AddEditDestination").data("kendoWindow");

            window.title(false);
            $("#AddEditDestination").parent().css("padding-top", "0px");


            $("#AddEditDestination").css("overflow", "hidden");
            $("#AddEditDestination").css("background-color", "#ddd");

            window.center().open().content("<div style='text-align: left; height: 100px'>... Loading ...</div>").refresh({
                url: "AddEditDestination",
                data: {
                    customerId: custId,
                    signId: id
                }
            });
        }

        function ShowDestinationImages(id) {
            var window = $("#DestinationImages").data("kendoWindow");

            $("#DestinationImages").css("overflow", "scroll");
            $("#DestinationImages").css("background-color", "#ddd");

            window.center().open().content("<div style='text-align: left; height: 100px'>Please Wait...</div>").title("Destination Images");
            window.refresh({
                url: '@Url.Action("DestinationImages", "SignData")',
                data: {
                    signId: id
                }
            });
        }


        //function RefreshPropertyWindow() {
        //    if (selectedcustId != null && selectedBusNumber != null) {
        //        //bReloadTree = true;
        //        ShowBusDetail(selectedcustId, selectedBusNumber)
        //    }
        //}

        function ReloadDynaTree() {
            if (bReloadTree) {
                bReloadTree = false;
                $("#treeSpecialDest").dynatree("getTree").reload();
                $("#treeDest").dynatree("getTree").reload();

                $("#DestinationImages").data("kendoWindow").refresh();
                $("#AddEditDestination").data("kendoWindow").refresh();
            }
        }

        $("#chkStatus").click(function () {
            //$("#mylabel").text($(this).is(":checked"))
            var status = document.getElementById('chkStatus').checked ? '1' : '0';
            //var tree = $("#treeSpecialDest").dynatree("getTree");

            $("#treeSpecialDest").dynatree("option", "initAjax", {
                url: "../Admin/GetSignTree",
                data: {
                    custAndType: "@Model.CustomerId|0|" + status
                }
            });

            $("#treeSpecialDest").dynatree("getTree").reload();

            $("#treeDest").dynatree("option", "initAjax", {
                url: "../Admin/GetSignTree",
                data: {
                    custAndType: "@Model.CustomerId|1|" + status
                }
             });

            $("#treeDest").dynatree("getTree").reload(); 
        });

        function SortUp(treeId, key, groupId, signId, parentGroupId) {
      

            //alert(key);
            var node = $(treeId).dynatree("getTree").getNodeByKey(key);

            //alert(node.data.Priority);
            var pNode = node.getParent();
            

            var swappedNode = SwapUp(node);
    
            // Custom compare function (optional) that sorts case insensitive
            var cmp = function (a, b) {
                a = a.data.Priority;
                b = b.data.Priority;
                return a > b ? 1 : a < b ? -1 : 0;
            };
            pNode.sortChildren(cmp, false);
           

            var jqxhr = $.ajax("SortSignNode?groupId=" + groupId + "&signId=" + signId + "&sortValue=" + node.data.Priority + "&lastGroupId=" + swappedNode.data.GroupId + "&lastSignId=" + swappedNode.data.SignId + "&lastSortValue=" + swappedNode.data.Priority, function () {
            }).done(function (data) {
                if (data == false)
                    alert('Could not sort at this time');
            })
                .fail(function () {
                    alert("there is some problem sorting this node, please try later on");
                    SwapDown(node);
                    pNode.sortChildren(cmp, false);
                })
                .always(function () {

                });

        }

        function SortDown(treeId, key, groupId, signId, parentGroupId) {
             

            //alert(key);
            var node = $(treeId).dynatree("getTree").getNodeByKey(key);

            //alert(node.data.Priority);
            var pNode = node.getParent();


            var swappedNode = SwapDown(node);

            // Custom compare function (optional) that sorts case insensitive
            var cmp = function (a, b) {
                a = a.data.Priority;
                b = b.data.Priority;
                return a > b ? 1 : a < b ? -1 : 0;
            };
            pNode.sortChildren(cmp, false);

            
            
            var jqxhr = $.ajax("SortSignNode?groupId=" + groupId + "&signId=" + signId + "&sortValue=" + node.data.Priority + "&lastGroupId=" + swappedNode.data.GroupId + "&lastSignId=" + swappedNode.data.SignId + "&lastSortValue=" + swappedNode.data.Priority, function () {
                }).done(function(data) {
                    if(data==false)
                        alert('Could not sort at this time');
                })
                .fail(function() {
                    alert("there is some problem sorting this node, please try later on");
                    SwapUp(node);
                    pNode.sortChildren(cmp, false);
                })
                .always(function() {
                                          
                });
                        
           

        }

        function SwapUp(node) {
            var s = node.getParent().getChildren(),
                count = 0,
                i = 0;
            
            var lastNode;
            for (i = 0; i < s.length; i++) {
                
                var curNode = s[i];
                if (curNode == node) {
                    //swap curNode with lastNode
                    var tmpPriority = lastNode.data.Priority;
                    lastNode.data.Priority = curNode.data.Priority;
                    node.data.Priority = tmpPriority;

                    var tmpClass = lastNode.data.AlternateRowCss;
                    lastNode.data.AlternateRowCss = curNode.data.AlternateRowCss;
                    node.data.AlternateRowCss = tmpClass;
                    
                    break;
                }
                
                lastNode = curNode;
                //if (s[i].bSelected === true) {
            }
 
            return lastNode;
        }

        function SwapDown(node) {
            var s = node.getParent().getChildren(),
                count = 0,
                i = 0;

            var lastNode;
            for (i = s.length-1; i >=0; i--) {

                var curNode = s[i];
                if (curNode == node) {
                    //swap curNode with lastNode
                    var tmpPriority = lastNode.data.Priority;
                    lastNode.data.Priority = curNode.data.Priority;
                    node.data.Priority = tmpPriority;
                    
                    var tmpClass = lastNode.data.AlternateRowCss;
                    lastNode.data.AlternateRowCss = curNode.data.AlternateRowCss;
                    node.data.AlternateRowCss = tmpClass;

                    break;
                }

                lastNode = curNode;
                //if (s[i].bSelected === true) {                
            }

            return lastNode;

        }


    </script>
 

    <style scoped>
        #example 
        {
            min-height: 360px;
        }
    </style>
      <!--end - Popup Window Stuff-->
 
