﻿@model  IBI.Web.ViewModels.Admin.Destinations.SignImageEditorModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SignImageEditor</title>
    <script src="~/Scripts/jquery/jquery-1.8.2.min.js"></script>
    <script src="~/Scripts/jquery/jquery-ui-1.9-RC1.min.js"></script>
    <script>

        function ChangeEditorMode(obj)
        {
            var value = $(obj).val();
            alert(value);

        }
         
    </script>
</head>
<body>
    <div>
        |<b>Destination Images</b>
        <table>
            <tr>
                <td>Line</td>
                <td>@Model.Line</td>
            
                <td>Type</td>
                <td>@Model.Type</td>

                <td>Technology</td>
                <td>@Model.Technology</td>

                <td>Editor Mode</td>
            </tr>

            <tr>
                <td>Main Text</td>
                <td>@Model.MainText</td>
            
                <td>Size</td>
                <td>@Model.Size</td>

                <td>Manufacturer</td>
                <td>@Model.Manufacturer</td>

                <td>
                     @Html.DropDownListFor(model => model.Mode, Model.EditorMode, "SELECT", new { onchange = "ChangeEditorMode(this)" }) 
                        
                </td>
            </tr>

            <tr>
                <td>Sub Text</td>
                <td>@Model.SubText</td> 
            </tr>
            
            
        </table>
    </div>
</body>
</html>
