﻿@model IBI.Web.ViewModels.BusStatusLog.FilterViewModel


 
 <!-- Search Filters - Start -->    
   @{
       var htmlAttributes = new Dictionary<string, object> { { "data-autopostback", "true" } }; 
    }    
    <!--new AjaxOptions { HttpMethod = "GET", InsertionMode = InsertionMode.Replace, UpdateTargetId = "BusStatusLogGrid" }))-->

   @using (Html.BeginForm("Index", "BusStatusLog", FormMethod.Get, new { onsubmit = "beginHtmlSubmit()" }))
       
    {
    <div id="search-filter">
        <table cellspacing="5">
            <tr>
                <td>
                    <label>Bus Number</label>
                    @Html.TextBox("BusNumber", Model.BusNumber, new { size = 20, maxlength = "100" })
                </td>
                
                <td valign="bottom">  
                    &nbsp; &nbsp;
                    <input type="submit" value="Search"  />
                </td>
            </tr>
        </table> 
    </div>
    }
    <!-- Search Filters - End --> 
 